<div class="GeneralMain">
	<h3>General Account Setting</h3>
	<md-list flex>
		<div ng-init="accordion=1">
			<md-list-item class="md-2-line generalItem">
				<div class="md-list-item-text" layout="row">
					<div flex="20">
						<p>Name</p>
					</div>
					<div flex> {{user.name}} 
					<md-button ng-click="accordion = 2" ng-class="{active:accordion==2}" aria-label="Menu" class="md-icon-button md-secondary">
						<ng-md-icon icon="create" size="16"></ng-md-icon>
							<md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip>
					</md-button>
					</div>
				</div>
			</md-list-item>

			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==2">
				<form ng-submit="userName()" flex>
					<md-input-container class="md-block" flex>
						<label>Name</label>
						<input required type="text" step="any" name="rate" ng-model="user.name" />
					</md-input-container>
					<div layout="row" layout-align="end center">
						<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'change' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
					</div>
				</form>
			</div>

			<md-divider ></md-divider>

			<md-list-item class="md-2-line generalItem">
				<div class="md-list-item-text" layout="row">
					<div flex="20"><p>Username</p></div><div flex> {{user.slug}} <md-button ng-click="accordion = 3" ng-class="{active:accordion==3}" aria-label="Menu" class="md-icon-button md-secondary"><ng-md-icon icon="create" size="16"></ng-md-icon><md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip></md-button></div>
				</div>
			</md-list-item>
			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==3">
				<form ng-submit="userslug()" flex>
					<md-input-container class="md-block" flex>
						<label>Username</label>
						<input required type="text" step="any" name="rate" ng-model="user.slug" ng-keyup="checkUserName()" />
						<div ng-show="error" multiple md-auto-hide="false" class="error">
							Username is already exists.
						</div>
					</md-input-container>

					<div layout="row" layout-align="end center" ng-hide="error" ng-show="error">
						<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'change' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
					</div>
				</form>
			</div>		

			<md-divider ></md-divider>               

			<md-list-item class="md-2-line generalItem">

				<div class="md-list-item-text" layout="row">
					<div flex="20"><p>Email</p></div><div flex> {{user.email}} <md-button ng-click="accordion = 4" ng-class="{active:accordion==4}" aria-label="Menu" class="md-icon-button md-secondary"><ng-md-icon icon="create" size="16"></ng-md-icon><md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip></md-button></div>
				</div>
			</md-list-item>
			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==4">
				<form ng-submit="email()" flex>
					<md-input-container class="md-block" flex>
						<label>Email</label>
						<input required type="email" step="any" name="rate" ng-model="user.email" ng-keyup="checkemail()" />
						<div class="error" ng-show="emailError" multiple md-auto-hide="false">
							Email is already exists.
						</div>
					</md-input-container>
					<div layout="row" layout-align="end center" ng-hide="emailError">
						<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'change' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
					</div>
				</form>
			</div>

			<md-divider ></md-divider>        

			<md-list-item class="md-2-line generalItem">
				<div class="md-list-item-text" layout="row">
					<div flex="20"><p>Mobile No.</p></div><div flex> {{user.mobile}} <md-button ng-click="accordion = 5" ng-class="{active:accordion==5}" aria-label="Menu" class="md-icon-button md-secondary"><ng-md-icon icon="create" size="16"></ng-md-icon><md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip></md-button></div>
				</div>
			</md-list-item>
			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==5">
				<form ng-submit="mobile()" flex>
					<md-input-container class="md-block" flex>
						<label>Mobile</label>
						<input required type="tel" maxlength="10" step="any" name="rate" ng-model="user.mobile" ng-keyup="mobileCheck()" />
						<div class="error" ng-show="mobileError" multiple md-auto-hide="false">
							Mobile Number is already exists.
						</div>
					</md-input-container>
					<div layout="row" layout-align="end center" ng-hide="mobileError">
						<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'change' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
					</div>
				</form>
			</div>
			<md-divider ></md-divider>        

			<md-list-item class="md-2-line generalItem">
				<div class="md-list-item-text" layout="row">
					<div flex="20"><p>Password</p></div><div flex> Change Password <md-button ng-click="accordion = 6" ng-class="{active:accordion==6}" aria-label="Menu" class="md-icon-button md-secondary"><ng-md-icon icon="create" size="16"></ng-md-icon><md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip></md-button></div>
				</div>
			</md-list-item>
			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==6">
			<form ng-submit="changePassword()" flex>
				<md-input-container class="md-block" flex>
					<label>Old Password</label>
					<input type="password" step="any" name="rate" ng-model="user.oldpassword" ng-keyup="oldPassCheck()" />
					<div class="error" ng-show="passwordError" multiple md-auto-hide="false">
						Old Password invalid.
					</div>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>New Password</label>
					<input required type="password" ng-model="user.newpassword" minlength="6" />
					<div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
						<div ng-message="required">
							You've got to charge something! You can't just <b>give away</b> a Missile Defense
							System.
						</div>
					</div>
				</md-input-container>
				<div layout="row" layout-align="end center" ng-hide="passwordError">
					<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'change' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
				</div>
				</form>
			</div>
			<md-divider ></md-divider> 

			<md-list-item class="md-2-line generalItem">
				<div class="md-list-item-text" layout="row">
					<div flex="20"><p>Login Alerts</p></div><div flex> Get an alert when anyone logs into your account from an unrecognized device or browser. <md-button ng-click="accordion = 7" ng-class="{active:accordion==6}" aria-label="Menu" class="md-icon-button md-secondary"><ng-md-icon icon="create" size="16"></ng-md-icon><md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip></md-button></div>
				</div>
			</md-list-item>
			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==7">
				<p>Email: </p>
				<md-radio-group ng-model="user.emailalert" ng-change="emailAlert()">
					<md-radio-button value="true" class="md-primary" ng-checked>Email login alerts to {{user.email}}</md-radio-button>
					<md-radio-button value="false"> Don't get email alerts </md-radio-button>
				</md-radio-group>
			</div>
			<md-divider ></md-divider> 


		</div>
	</md-list>
</div>