<div class="GeneralMain">
	<h3>Assembly &amp; Party</h3>
	<md-list flex>
		<div ng-init="accordion=1">
			<md-list-item class="md-2-line generalItem">
				<div class="md-list-item-text" layout="row">
					<div flex="20">
						<p>State</p>
					</div>
					<div flex> Change State click on Edit Button
					<md-button ng-click="accordion = 2" ng-class="{active:accordion==2}" aria-label="Menu" class="md-icon-button md-secondary">
						<ng-md-icon icon="create" size="16"></ng-md-icon>
							<md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip>
					</md-button>
					</div>
				</div>
			</md-list-item>

			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==2">
				<form ng-submit="stateChange()" flex>
					<md-input-container class="md-block" flex>
						<label>State</label>
						<md-select ng-model="user.state_id" name="state_id">
							<md-option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</md-option>
						</md-select>
					</md-input-container>
					<div layout="row" layout-align="end center">
						<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'change' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
					</div>
				</form>
			</div>

			<md-divider ></md-divider>

			<md-list-item class="md-2-line generalItem">
				<div class="md-list-item-text" layout="row">
					<div flex="20"><p>Assembly</p></div><div flex> {{user.assembly}}<md-button ng-click="accordion = 3" ng-class="{active:accordion==3}" aria-label="Menu" class="md-icon-button md-secondary"><ng-md-icon icon="create" size="16"></ng-md-icon><md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip></md-button></div>
				</div>
			</md-list-item>
			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==3">
				<form ng-submit="assemblyChange()" flex>
					<md-input-container class="md-block" flex>
						<label>Assembly</label>
						<md-select ng-model="user.assembly_id">
							<md-option ng-repeat="assembly in assemblies" value="{{assembly.id}}">{{assembly.name}}</md-option>
						</md-select>
					</md-input-container>

					<div layout="row" layout-align="end center" ng-hide="error" ng-show="error">
						<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'change' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
					</div>
				</form>
			</div>		

			<md-divider ></md-divider>               

			<md-list-item class="md-2-line generalItem">
				<div class="md-list-item-text" layout="row">
					<div flex="20"><p>Village</p></div><div flex> {{user.village}} <md-button ng-click="accordion = 4" ng-class="{active:accordion==4}" aria-label="Menu" class="md-icon-button md-secondary"><ng-md-icon icon="create" size="16"></ng-md-icon><md-tooltip md-visible="demo.showTooltip" md-direction="left">{{ 'edit' | translate}}</md-tooltip></md-button></div>
				</div>
			</md-list-item>
			<div class="panelEdit md-whiteframe-1dp" layout="row"  ng-show="accordion==4">
				<form ng-submit="villageChange()" flex>
					<md-input-container class="md-block" flex>
						<label>Village</label>
						<md-select ng-model="user.village_id">
							<md-option ng-repeat="village in villages" value="{{village.id}}">{{village.village}}</md-option>
						</md-select>
					</md-input-container>
					<div layout="row" layout-align="end center" ng-hide="emailError">
						<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'change' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
					</div>
				</form>
			</div>

			<md-divider ></md-divider>        

			
			



		</div>
	</md-list>
</div>