<div class="layout-max-width padding-for-topbar" layout="row">
	<div flex="20" class="sideNavSetting">
		<md-menu-content class="SettingSideMenu">
        <md-menu-item class="md-indent">
          <md-button class="setting_menu_btn" ui-sref="user.setting.general" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')" ui-sref-active="active">
            <ng-md-icon icon="person" size="20"></ng-md-icon> General
          </md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item class="md-indent">
          <md-button ui-sref="user.setting.location" class="setting_menu_btn" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')" ui-sref-active="active">
            <ng-md-icon icon="location_on" size="20"></ng-md-icon> Assembly &amp; Party
          </md-button>
        </md-menu-item>
        <md-divider></md-divider>           
    </md-menu-content>
	</div>
	<div flex>
		<div ui-view>  </div>
	</div>
</div>