@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

a:focus {
  display: none;
}

body.guest-home {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.opt_head_main {
  min-height: 48px;
}

.OTP {
  min-height: auto !important;
}

.OTP_head {
  background: #0090ff;
  letter-spacing: 0px;
  height: 48px;
}

.OTP_head span {
  margin-left: 80px;
}

.OTP_head span .resend {
  cursor: pointer;
  font-weight: normal !important;
}

.partyPage h3 ng-md-icon {
  fill: #0090ff;
}

.partyPage .party {
  height: 150px;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px -80px 41px -14px rgba(0, 0, 0, 0.63);
}

.partyPage .party h3 {
  color: #fff;
  top: 122px;
  left: 10px;
  position: relative;
  width: 200px;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}

.partyPage .party .like_side {
  top: 76px;
  right: 10px;
  color: #fff;
  float: right;
  position: relative;
}

.partyPage .party .like_side .likeBtn {
  border: 1px solid whitesmoke;
  padding: 0px;
  min-height: 20px;
  line-height: 20px;
  min-width: 60px;
  cursor: default;
  color: white !important;
  background: transparent !important;
  float: right;
}

.partyPage .party .like_side .tooltiptext {
  float: left;
  background-color: #f9f1cb;
  color: black;
  text-align: center;
  padding: 5px 5px;
  right: 80px;
  top: 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.partyPage .party .like_side .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #f9f1cb;
}

.partyPage img {
  margin: 5px 0px;
}

.group {
  min-height: 195px !important;
}

.group .group_content {
  width: 400px;
}

.parties {
  overflow: hidden;
}

.parties md-dialog-content {
  min-height: 294px;
}

.parties .md-dialog-content {
  max-width: 800px;
  padding: 5px 20px !important;
}

.parties .md-toolbar-tools {
  color: whitesmoke;
}

.parties .md-toolbar-tools svg {
  fill: whitesmoke;
}

.parties .md-icon-button .arrow_back {
  fill: #fff;
}

.parties .parties_wrap {
  width: 809px;
}

.parties .parties_wrap .party {
  height: 177px;
  width: 200px;
  cursor: pointer;
  border: 1px solid #fff;
}

.sideList {
  padding: 0px !important;
}

.sideList md-list-item.md-3-line, .sideList md-list-item.md-3-line > .md-no-style {
  min-height: 0px !important;
}

.sideList .groupName {
  margin-left: 10px !important;
}

.Group-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.noRequest {
  color: #B5B5B5;
  text-align: center;
  margin: 0px auto;
}

.loading md-progress-circular {
  text-align: center;
  margin: 0px auto;
}

.md-dialog-container {
  top: 0 !important;
}

.user-view {
  background: #EBEBEB;
  min-height: 100vh;
  min-height: calc(100vh - 45px);
}

.md-padding {
  padding: 0px;
}

.notificationContent {
  max-height: 400px !important;
}

.notificationContent md-menu-item {
  height: 35px;
  min-height: 35px;
}

.notificationContent .md-sec-btn {
  cursor: pointer;
  border: 1px solid #0090ff;
  padding: 5px 15px;
  color: #0090ff;
  border-radius: 3px;
}

.notificationContent .md-sec-btn:active, .notificationContent .md-sec-btn .active {
  background: #0090ff;
  color: #fff;
}

.notificationContent .md-btn_active {
  background: #0090ff;
  color: #fff;
}

.notificationContent .heading {
  padding: 0px 10px 10px 10px;
  height: 20px;
  min-height: 20px;
  color: #0090ff;
}

.notificationContent .heading .see_more {
  float: right;
  right: 0px;
  position: absolute;
  width: 100px;
  cursor: pointer;
  margin: 0px;
  top: 8px;
  text-align: right;
}

.notificationContent .heading .see_more:focus {
  display: none;
}

.drop_menu_item {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.drop_menu_item .noti-img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: left;
  padding-top: 2px;
  margin-right: 11px;
}

.drop_menu_item .notiTime {
  float: right;
  font-size: 10px;
}

.layout-max-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 600px) {
  md-toast.md-bottom.md-left {
    bottom: 25px;
    left: 25px;
    position: fixed;
  }
}

.frant-btn {
  width: 60%;
  margin: 10px 0px 10px 43px;
  height: 69px;
}

.my-btn {
  border: 1px solid whitesmoke;
  color: white !important;
  background: transparent !important;
}

.my-btn:hover {
  background: #fff;
}

.my-btn md-progress-circular {
  position: absolute;
  right: -30px;
  top: -32px;
}

.my-btn md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: #0090ff;
  border-left-color: #0090ff;
}

.my-btn md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: #0090ff;
  border-right-color: #0090ff;
}

.alertLabel {
  background: red;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  left: 0px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 13px;
  font-size: 10px;
}

.my-btn:hover, .my-btn.active {
  background-color: #fff !important;
  color: #0090ff !important;
}

.my-btn:hover md-progress-circular .md-inner .md-left .md-half-circle, .my-btn.active md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: white;
  border-left-color: white;
}

.my-btn:hover md-progress-circular .md-inner .md-right .md-half-circle, .my-btn.active md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: white;
  border-right-color: white;
}

.my-btn:hover {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.orange-btn {
  background: #0090ff !important;
  color: white !important;
}

.orange-btn:hover, .orange-btn:visited, .orange-btn:focus {
  background: #0090ff !important;
  color: white !important;
}

.logout-btn md-progress-circular {
  position: absolute;
  right: -25px;
  top: -26px;
}

.logout-btn md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: rgba(0, 0, 0, 0.87);
  border-left-color: rgba(0, 0, 0, 0.87);
}

.logout-btn md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: rgba(0, 0, 0, 0.87);
  border-right-color: rgba(0, 0, 0, 0.87);
}

.md-button {
  font-size: 13px !important;
}

/*** Fab dial ***/
md-fab-speed-dial.md-fab-bottom-right {
  position: fixed;
}

.md-button.md-fab.main-fab, .md-button.md-fab.main-fab:visited {
  background-color: #0090ff !important;
}

.md-button.md-fab.main-fab:hover, .md-button.md-fab.main-fab:focus {
  /*background-color: #FF512F!important;*/
}

svg {
  vertical-align: middle;
}

.md-button.md-fab svg {
  fill: black;
}

.md-button.md-fab.main-fab svg {
  fill: white;
  vertical-align: middle;
}

/*** Tool bar ***/
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #0090ff !important;
}

.toolbar {
  color: white;
  position: fixed;
  -webkit-transition: min-height 0.3s ease-in-out;
  transition: min-height 0.3s ease-in-out;
  z-index: 10;
}

.toolbar .md-toolbar-tools {
  -webkit-transition: height 0.4s ease-in-out,max-height 0.5s ease-in-out;
  transition: height 0.4s ease-in-out,max-height 0.5s ease-in-out;
}

.toolbar.shrink {
  min-height: 50px;
}

.toolbar.shrink .md-toolbar-tools {
  max-height: 50px;
  height: 50px;
}

.search {
  padding-right: 20px;
  color: white;
}

.menu-btn {
  padding-top: 4px;
}

.menu-btn span.ng-scope {
  color: white;
}

@media (min-width: 600px) {
  .toolbar .md-toolbar-tools {
    padding: 0;
  }
}

.toolbar svg {
  fill: white;
}

/** Sidenav **/
.side-nav {
  position: fixed;
}

.side-nav .top-cover {
  cursor: pointer;
  background-color: #0090ff;
  background-image: url(/images/bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 130px;
  width: 100%;
  display: block;
  position: relative;
  box-shadow: inset 0px -79px 41px -14px rgba(0, 0, 0, 0.63);
}

.side-nav .top-cover .user-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 60px;
  left: 10px;
  z-index: 2;
}

.side-nav .top-cover .user-name {
  position: absolute;
  top: 48px;
  left: 115px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-weight: 200;
}

.side-nav .top-cover .user-position {
  position: absolute;
  top: 78px;
  left: 105px;
  padding: 3px 5px;
  padding-left: 10px;
  z-index: 1;
  color: white;
  font-size: 12px;
  border-radius: 2px;
}

.side-nav .top-cover .user-position.bjp-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.cogress-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.sad-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.aap-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.bsp-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.other-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-const {
  position: absolute;
  top: 96px;
  left: 116px;
  color: white;
  font-weight: normal;
  font-weight: 200;
  font-size: 12px;
}

.side-nav .menu-links {
  margin-top: 30px;
}

.side-nav .menu-links .select-lang md-input-container {
  padding: 0 16px;
}

.side-nav .menu-links ng-md-icon {
  height: 100%;
  line-height: 43px;
  padding-right: 10px;
}

.side-nav .menu-links a.active {
  background-color: rgba(158, 158, 158, 0.2);
}

.side-nav .sideMenu {
  max-height: none !important;
}

md-backdrop {
  position: fixed;
}

.md-dialog-container {
  position: fixed;
}

.padding-for-topbar {
  padding-top: 64px;
}

/*** Party background colors ***/
.bjp-bg {
  background-color: #5dbc00 !important;
}

.congress-bg {
  background-color: #5dbc00 !important;
}

.bsp-bg {
  background-color: #5dbc00 !important;
}

.aap-bg {
  background-color: #5dbc00 !important;
}

.sad-bg {
  background-color: #5dbc00 !important;
}

.others-bg {
  background-color: #5dbc00 !important;
}

/*** Party svg fills ***/
.bjp-con svg {
  fill: #5dbc00 !important;
}

.congress-con svg {
  fill: #5dbc00 !important;
}

.bsp-con svg {
  fill: #5dbc00 !important;
}

.aap-con svg {
  fill: #5dbc00 !important;
}

.sad-con svg {
  fill: #5dbc00 !important;
}

.others-con svg {
  fill: #5dbc00 !important;
}

/** Dropdown menu content **/
.drop-menu ng-md-icon {
  padding-right: 10px;
}

.thumb-div {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.add-status md-toolbar .md-toolbar-tools {
  color: whitesmoke;
}

.add-status md-toolbar .md-toolbar-tools svg {
  fill: whitesmoke;
}

.add-status md-dialog-content {
  max-width: 100%;
  width: 800px;
}

.add-status .status-in {
  padding-bottom: 5px;
}

.file-upload .upload-files {
  border: 2px dashed grey;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.file-upload .preview-images {
  text-align: center;
  padding-top: 5px;
}

.file-upload .preview-images .thumb-div {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

.file-upload .preview-images .thumb-div md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle {
  border-right-color: rgba(0, 0, 0, 0.3);
}

.file-upload .preview-images .thumb-div md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle, .file-upload .preview-images .thumb-div md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}

.file-upload .preview-images .thumb-div md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
  border-left-color: rgba(0, 0, 0, 0.3);
}

.file-upload .preview-images .thumb-div md-progress-circular.done .md-inner .md-right .md-half-circle {
  border-right-color: rgba(35, 186, 35, 0.8);
}

.file-upload .preview-images .thumb-div md-progress-circular.done .md-inner .md-left .md-half-circle, .file-upload .preview-images .thumb-div md-progress-circular.done .md-inner .md-right .md-half-circle {
  border-top-color: rgba(35, 186, 35, 0.8);
}

.file-upload .preview-images .thumb-div md-progress-circular.done .md-inner .md-left .md-half-circle {
  border-left-color: rgba(35, 186, 35, 0.8);
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.buddy .buddy-wrap {
  padding: 10px;
}

.buddy .buddy-wrap .md-sec-btn {
  cursor: pointer;
  border: 1px solid #0090ff;
  padding: 5px 15px;
  color: #0090ff;
  border-radius: 3px;
}

.buddy .buddy-wrap .md-sec-btn:active, .buddy .buddy-wrap .md-sec-btn .active {
  background: #0090ff;
  color: #fff;
}

.buddy .buddy-wrap .md-btn_active {
  background: #0090ff;
  color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.chat-popup-wrapper {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: 300px;
  z-index: 59;
}

.chat-popup-wrapper .chat-popup {
  background: #fff;
  height: 300px;
  width: 250px;
  border-radius: 5px 5px 0px 0px;
  float: right;
  margin: 0px 2px;
  display: inline;
}

.chat-popup-wrapper .chat-popup .header {
  background: #0090ff;
  height: 40px;
  line-height: 40px;
  width: 100%;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
}

.chat-popup-wrapper .chat-popup .header .online {
  fill: #5dbc00;
  padding: 4px;
}

.chat-popup-wrapper .chat-popup .header .offline {
  fill: #f9f1cb;
  padding: 4px;
}

.chat-popup-wrapper .chat-popup .header span {
  padding: 5px;
  width: 50px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-popup-wrapper .chat-popup .header .closeBtn {
  float: right;
  right: -13px;
  position: absolute;
  top: -4px;
}

.chat-popup-wrapper .chat-popup .header .closeBtn ng-md-icon {
  fill: #fff;
}

.chat-popup-wrapper .chat-popup .chat-content {
  height: 300px;
  overflow-y: auto;
  height: calc(300px - 72px);
  /* talk bubble contents */
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg {
  padding-left: 10px;
  float: left;
  min-width: 174px;
  max-width: 216px;
  word-wrap: break-word;
  margin: 3px 0px;
  /* CSS talk bubble */
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg .avatar {
  float: left;
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg .avatar .md-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: left;
  top: 50%;
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg .talk-bubble-left {
  margin: 3px 40px 5px 20px;
  display: inline-block;
  position: relative;
  width: auto;
  min-width: 174px;
  border-radius: 0px 5px 5px 5px;
  float: left;
  height: auto;
  color: #fff;
  background-color: #0862a7;
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg .tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0862a7 transparent transparent transparent;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg {
  padding-right: 10px;
  min-width: 174px;
  max-width: 265px;
  word-wrap: break-word;
  float: right;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .avatar {
  float: right;
  right: 0px;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .avatar .md-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  float: right;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .status-icon {
  position: relative;
  left: -5px;
  top: 17px;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .talk-bubble-right {
  margin: 3px 6px 5px 40px;
  display: inline-block;
  position: relative;
  min-width: 165px;
  border-radius: 5px 0px 5px 5px;
  width: auto;
  float: right;
  height: auto;
  color: #fff;
  background-color: #0090ff;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .tri-left.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -9px;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0090ff transparent transparent transparent;
}

.chat-popup-wrapper .chat-popup .chat-content .talktext {
  padding: 6px;
  text-align: left;
  line-height: 1.5em;
  z-index: 32;
  position: relative;
}

.chat-popup-wrapper .chat-popup .chat-content .talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.chat-popup-wrapper .chat-popup .footer {
  border-top: 1px solid #EBEBEB;
  position: relative;
  bottom: 0;
  width: 100%;
  background: white;
  display: block;
  box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);
}

.chat-popup-wrapper .chat-popup .footer md-input-container {
  padding: 3px 10px;
  padding-right: 73px;
}

.chat-popup-wrapper .chat-popup .footer .submit-comment {
  position: absolute;
  right: -5px;
  top: -9px;
}

.chat-popup-wrapper .chat-popup .footer .submit-comment ng-md-icon svg {
  fill: #5E5E5E !important;
}

.chat-popup-wrapper .chat-popup .footer .submit-emoji {
  position: absolute;
  right: 30px;
  top: -9px;
}

.chat-popup-wrapper .chat-popup .footer .submit-emoji ng-md-icon svg {
  fill: #5E5E5E !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.cover_image {
  height: 400px;
  width: 100%;
  background-position: fixed;
  background-align: center;
  background-size: cover;
  box-shadow: inset 0px -104px 41px -14px rgba(0, 0, 0, 0.63);
}

.profile.post {
  margin-left: 100px;
  position: absolute;
  z-index: 5;
  top: 300px;
}

.profile.post .meta-section {
  position: relative;
}

.profile.post .meta-section .profilePhoto {
  position: absolute;
  z-index: 99;
  left: 50%;
  min-width: 35px !important;
  top: 165px;
}

.profile.post .meta-section .profilePhoto ng-md-icon {
  fill: #fff;
  opacity: 0.5;
}

.profile.post .meta-section .profile-img {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 2;
  background: url(http://api.rajneeti.dev/images/profile/default_avatar.png) center;
  background-size: cover;
}

.profile.post .meta-section .profile-name {
  position: relative;
  width: auto;
  top: 70px;
  left: 220px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.profile.post .meta-section .profile-position {
  position: absolute;
  top: 110px;
  left: 200px;
  font-weight: normal;
  font-weight: 200;
  min-width: 200px;
  padding: 1px 7px;
  font-size: 20px !important;
  padding-left: 20px;
  padding-right: 10px;
  margin: 0;
  z-index: 1;
  color: white;
  font-size: 13px;
  background: #0090ff;
  border-radius: 2px;
}

.profile.post .meta-section .post-options {
  position: absolute;
  top: -2px;
  right: -7px;
}

.profile.post .meta-section .post-options svg {
  fill: grey;
}

.profile.post .meta-section .like-counter {
  position: absolute;
  right: 50px;
  top: 30px;
}

.profile.post .meta-section .like-counter span {
  padding: 4px;
  font-size: 14px;
}

.profile.post .meta-section .like-counter span:nth-child(1) {
  border: 1px solid grey;
  border-radius: 3px 0px 0px 3px;
  color: #5E5E5E;
}

.profile.post .meta-section .like-counter span:nth-child(2) {
  background: grey;
  border: 1px solid grey;
  padding: 4px 5px;
  border-radius: 0px 3px 3px 0px;
  color: white;
}

.profile.post .body-section .post-content {
  padding: 10px;
  white-space: pre-wrap;
  text-align: justify;
}

.profile.post .body-section .posts-img-con {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.profile.post .body-section .posts-img-con .post-img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.profile.post .footer-section {
  height: 50px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  border: none;
  padding: 0 10px;
  color: whitesmoke;
  font-size: 14px;
}

.profile.post .footer-section .post-action .post-like, .profile.post .footer-section .post-action .post-dislike {
  width: 25px;
  height: 25px;
  line-height: 0;
}

.profile.post .footer-section .post-action .post-like {
  margin-right: 0;
}

.profile.post .footer-section .post-action .post-dislike {
  margin-left: 0;
  margin-right: 15px;
}

.profile.post .footer-section .post-action .post-comments .post-comment-btn {
  margin-left: 0;
  width: 25px;
  height: 25px;
  line-height: 0;
}

.profile.post .footer-section .post-action svg {
  fill: whitesmoke;
}

.profile.post .footer-section .post-action button.md-button[disabled] {
  cursor: default;
  opacity: 0.4;
}

.profile.post.bjp-post {
  border-color: #5dbc00;
}

.profile.post.bjp-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.bjp-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.bjp-post .meta-section .profile-position, .profile.post.bjp-post .footer-section {
  background: #5dbc00;
}

.profile.post.congress-post {
  border-color: #5dbc00;
}

.profile.post.congress-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.congress-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.congress-post .meta-section .profile-position, .profile.post.congress-post .footer-section {
  background: #5dbc00;
}

.profile.post.sad-post {
  border-color: #5dbc00;
}

.profile.post.sad-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.sad-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.sad-post .meta-section .profile-position, .profile.post.sad-post .footer-section {
  background: #5dbc00;
}

.profile.post.bsp-post {
  border-color: #5dbc00;
}

.profile.post.bsp-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.bsp-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.bsp-post .meta-section .profile-position, .profile.post.bsp-post .footer-section {
  background: #5dbc00;
}

.profile.post.aap-post {
  border-color: #5dbc00;
}

.profile.post.aap-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.aap-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.aap-post .meta-section .profile-position, .profile.post.aap-post .footer-section {
  background: #5dbc00;
}

.profile.post.others-post {
  border-color: #5dbc00;
}

.profile.post.others-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.others-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.others-post .meta-section .profile-position, .profile.post.others-post .footer-section {
  background: #5dbc00;
}

.userDetail {
  padding: 10px;
}

.userDetail .layout-row {
  padding: 10px 0px;
}

.like_page {
  right: 100px;
  top: 400px;
  color: #fff;
  fill: #fff;
  position: absolute;
}

.editButton {
  min-width: 30px;
}

.editButton ng-md-icon {
  fill: #fff;
}

.coverButton {
  position: relative;
  top: 0px;
  float: left;
}

.changeCover {
  border: 1px solid red;
  position: absolute;
}

@media (min-width: 700px) {
  .profile.post {
    margin-left: 70px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.flex-45, .layout-row > .flex-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 48%;
}

.group_wrap {
  background: #fff;
  height: 100px;
  width: 100%;
  margin: 5px;
  padding: 10px;
  float: left;
}

.group_wrap .group_img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  float: left;
}

.group_wrap h3 {
  color: #5E5E5E;
  left: 10px;
  text-overflow: ellipsis;
  float: left;
  position: relative !important;
  width: 236px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
}

.group_wrap p {
  position: relative;
  width: 155px;
  color: #B5B5B5;
  float: left;
  padding: 0px;
  margin: 0px;
  left: 10px;
}

.group_wrap .joinButton {
  width: auto;
  top: -10px;
  left: 0px;
}

.group_wrap .joinButton .join_btn {
  border: 2px solid #0090ff;
  background: transparent;
  color: #0090ff;
}

.group_wrap .joinButton .join_btn.active {
  background: #0090ff;
  color: #fff;
  border: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
/*** Home page ***/
.home-con {
  height: 100vh;
  height: calc(100vh - 45px);
  min-height: auto;
  width: 100%;
  position: relative;
}

.home-con .home-logo {
  color: white;
  position: relative;
}

.home-con .home-logo img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.home-overlay {
  height: 100vh;
  height: calc(100vh - 45px);
  min-height: auto;
  width: 100%;
  padding: 0px;
  position: relative;
  background: #0090ff;
}

.close-modals {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

.error {
  color: red;
  padding-left: 10px;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}

.signup-btn {
  width: 100%;
  width: calc(100% - 20px);
  padding: 5px;
  margin-top: 30px;
}

.headlines {
  color: white;
  margin-top: 20px;
  font-weight: 100;
}

.headlines .navigation {
  text-align: center;
}

.headlines .navigation span {
  height: 15px;
  width: 15px;
  /*background: white;*/
  border: 1px solid white;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
}

.headlines .navigation span.active {
  background: white;
}

/*** Footer home ***/
footer.home {
  background: white;
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 14px;
  /*height: 45px;*/
}

footer.home a {
  text-decoration: none;
  color: #0090ff;
  margin: 0 5px;
}

footer.home md-input-container {
  width: 170px;
  padding-bottom: 10px;
}

/*** Login modal home ***/
.login-modal {
  height: 80px;
  width: 100%;
  background: white;
  position: absolute;
  left: 0;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  z-index: 3;
}

.login-modal .login-btn {
  -ms-flex: 0 0 15%;
  -webkit-box-flex: 0;
          flex: 0 0 15%;
  max-width: 15%;
}

.login-modal .login-btn .my-btn {
  color: #0090ff !important;
  border: 1px solid #0090ff;
  width: 100%;
  margin-top: 10px;
}

.login-modal .login-btn .my-btn:hover {
  background: #0090ff !important;
  color: white !important;
}

.login-modal.hidden {
  top: -100px;
}

.login-modal.visible {
  top: 0;
}

.login-modal .close-login-modal, .signup-modal .close-signup-modal {
  color: black;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  text-align: center;
  right: 10px;
  padding: 2px;
  display: block;
  cursor: pointer;
  outline: none !important;
  font-size: 11px;
  line-height: 20px;
}

/*** Signup modal home ***/
.signup-modal {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  width: 500px;
  position: absolute;
  top: 0;
  right: -600px;
  -webkit-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
  background: white;
  padding: 0 10px;
  z-index: 3;
}

.signup-modal h2 {
  padding-left: 10px;
  margin-top: 40px;
  font-weight: normal;
  font-weight: 300;
}

.signup-modal .close-signup-modal {
  top: 40px;
  right: 20px;
}

.signup-modal.hidden {
  right: -600px;
}

.signup-modal.visible {
  right: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.images {
  overflow: hidden;
  padding: 0px !important;
  max-height: auto;
}

.images md-dialog-content {
  min-height: 300px;
}

.images .md-dialog-content {
  max-width: 800px;
  padding: 5px 20px !important;
}

.images .md-toolbar-tools {
  color: whitesmoke;
}

.images .md-toolbar-tools svg {
  fill: whitesmoke;
}

.images .image_wrapper {
  width: 100%;
  height: 100%;
}

.images .back_btn {
  position: absolute;
  height: 100%;
  z-index: 99;
  top: 50%;
}

.images .back_btn svg {
  fill: white;
  opacity: 0.6;
}

.images .right_btn {
  position: absolute;
  height: 100%;
  z-index: 99;
  top: 50%;
  right: 0px;
}

.images .right_btn svg {
  fill: white;
  opacity: 0.6;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.OTP_model {
  margin-top: 10%;
  height: 195px;
  width: 550px;
  border-radius: 2px;
  background: #fff;
}

.OTP_model header {
  background: #0090ff;
  height: 50px;
  color: #fff;
  font-size: 14px;
}

.OTP_model md-content {
  padding: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.messages_main_page {
  width: 100%;
  height: 450px;
  background: #fff;
}

.messages_main_page .searchFriend {
  font-size: 100%;
  width: 90%;
  height: 25px;
  padding: 4px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.messages_main_page .whiteLoading .md-inner .md-left .md-half-circle {
  border-top-color: white;
  border-left-color: white;
}

.messages_main_page .whiteLoading .md-inner .md-right .md-half-circle {
  border-top-color: white;
  border-right-color: white;
}

.messages_main_page .selectUser_avatar {
  float: left;
  line-height: 50px;
  padding: 10px 0px 0px 10px;
}

.messages_main_page .selectUser_avatar .md-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.messages_main_page .users_list {
  border-right: 1px solid #EBEBEB;
}

.messages_main_page .users_list .header {
  background: #0090ff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
}

.messages_main_page .users_list .user {
  overflow-y: hidden;
  height: 450px;
}

.messages_main_page .users_list .user md-list-item.md-2-line, .messages_main_page .users_list .user md-list-item.md-2-line > .md-no-style {
  padding-left: 4px;
}

.messages_main_page .users_list .user:hover {
  overflow-y: auto;
}

.messages_main_page .users_list .onlineIcon {
  fill: #23BA23;
  padding: 5px;
}

.messages_main_page .users_list .offlineIcon {
  fill: #EBEBEB;
  padding: 5px;
}

.messages_main_page .messages_in {
  width: 100%;
  position: relative;
}

.messages_main_page .messages_in .user_menu_chat {
  right: 0px;
  float: right;
}

.messages_main_page .messages_in .user_menu_chat ng-md-icon {
  fill: #fff;
}

.messages_main_page .messages_in .header {
  background: #0090ff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

.messages_main_page .messages_in .message_wrapper {
  overflow-y: auto;
  height: 339px;
  bottom: 40px;
  /* talk bubble contents */
}

.messages_main_page .messages_in .message_wrapper .no-comments div.nothing {
  padding: 60px 10px;
  text-align: center;
}

.messages_main_page .messages_in .message_wrapper .no-comments div.nothing div {
  padding-bottom: 5px;
}

.messages_main_page .messages_in .message_wrapper .no-comments div.nothing div svg {
  fill: #B5B5B5;
}

.messages_main_page .messages_in .message_wrapper .recived_msg {
  padding-left: 10px;
  float: left;
  min-width: 174px;
  max-width: 539px;
  word-wrap: break-word;
  /* CSS talk bubble */
}

.messages_main_page .messages_in .message_wrapper .recived_msg .avatar {
  float: left;
}

.messages_main_page .messages_in .message_wrapper .recived_msg .avatar .md-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  float: left;
  top: 50%;
}

.messages_main_page .messages_in .message_wrapper .recived_msg .talk-bubble-left {
  margin: 3px 40px 5px 20px;
  display: inline-block;
  position: relative;
  width: auto;
  min-width: 174px;
  border-radius: 0px 5px 5px 5px;
  float: left;
  height: auto;
  color: #fff;
  background-color: #0862a7;
}

.messages_main_page .messages_in .message_wrapper .recived_msg .tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0862a7 transparent transparent transparent;
}

.messages_main_page .messages_in .message_wrapper .send_msg {
  padding-right: 10px;
  min-width: 174px;
  max-width: 539px;
  word-wrap: break-word;
  float: right;
}

.messages_main_page .messages_in .message_wrapper .send_msg .avatar {
  float: right;
  right: 0px;
}

.messages_main_page .messages_in .message_wrapper .send_msg .avatar .md-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  float: right;
}

.messages_main_page .messages_in .message_wrapper .send_msg .talk-bubble-right {
  margin: 3px 20px 5px 40px;
  display: inline-block;
  position: relative;
  min-width: 174px;
  border-radius: 5px 0px 5px 5px;
  width: auto;
  float: right;
  height: auto;
  color: #fff;
  background-color: #0090ff;
}

.messages_main_page .messages_in .message_wrapper .send_msg .tri-left.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -9px;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0090ff transparent transparent transparent;
}

.messages_main_page .messages_in .message_wrapper .talktext {
  padding: 6px;
  text-align: left;
  line-height: 1.5em;
  z-index: 32;
  position: relative;
}

.messages_main_page .messages_in .message_wrapper .talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.messages_main_page .message_buttom_space {
  height: 50px;
  width: 100%;
}

.messages_main_page .footer_messages {
  position: absolute;
  bottom: 0;
  width: 70%;
  background: white;
  display: block;
  box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);
}

.messages_main_page .footer_messages md-input-container {
  padding: 5px 20px;
  padding-right: 50px;
}

.messages_main_page .footer_messages .submit-comment {
  position: absolute;
  right: -5px;
  top: -3px;
}

.messages_main_page .footer_messages .submit-emoji {
  position: absolute;
  right: 30px;
  top: -3px;
}

.addmember {
  width: 500px;
}

.addmember .md-dense {
  padding: 8px 16px;
}

.addmember .addmemberHead h2 {
  color: #fff;
}

.addmember md-list-item.md-3-line {
  max-width: 500px !important;
}

.backButton {
  fill: #fff;
}

.emoji-popup {
  height: 300px;
  width: 237px;
  background: #fff;
  border: 1px solid red;
  position: absolute;
  z-index: 9;
  bottom: 40px;
  right: 23px;
}

.emoji-popup .emoji-button {
  margin: 0px;
  line-height: 0px;
  min-height: 0px;
  min-width: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.textRow {
  margin-right: 20px;
}

.opinion_main {
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.opinion_wrapper {
  width: 100%;
  min-height: 93vh;
}

.opinionBtn {
  width: 100%;
  width: calc(100% - 35px) !important;
  padding: 5px;
  margin-top: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.heading {
  color: #5E5E5E;
}

.opinion {
  background: #EBEBEB;
  padding: 0px;
}

.opinion_main {
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.opinion_main .icons {
  fill: #fff;
  height: 80px;
  width: 80px;
}

.opinion_main .nextcm {
  background: #c55b5b;
  height: 150px;
  width: 100%;
  color: #fff;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.opinion_main .nextcm span {
  line-height: 150px;
  font-size: 20px;
  cursor: pointer;
}

.opinion_main .nextcm span:focus {
  outline: none;
}

.opinion_main .nextmla {
  background: #8abc5d;
  height: 150px;
  width: 100%;
  color: #fff;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.opinion_main .nextmla span {
  line-height: 150px;
  font-size: 20px;
  cursor: pointer;
}

.opinion_main .issue {
  background: #13af6b;
  height: 150px;
  width: 100%;
  color: #fff;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.opinion_main .issue span {
  line-height: 150px;
  font-size: 20px;
  cursor: pointer;
}

.opinion_main .publicOpinion {
  background: #8c4bcf;
  height: 150px;
  width: 100%;
  color: #fff;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.opinion_main .publicOpinion span {
  line-height: 150px;
  font-size: 20px;
  cursor: pointer;
}

.whiteBG {
  background: #fff;
}

.opinionList {
  position: relative;
  margin: 0px 10px;
}

.opinionList md-list-item {
  background: #0090ff;
  padding: 0px 15px;
  position: relative;
  margin: 6px 0px;
}

.opinionList .md-list-item-text, .opinionList .md-list-item-text h3 {
  color: #fff !important;
  white-space: pre-line;
  width: 80%;
}

.opinionList .md-list-item-text p {
  color: #fff !important;
  opacity: 0.5;
}

.opinionList .md-secondary {
  border: 1px solid #fff;
}

.opinionList .md-secondary ng-md-icon {
  fill: #fff;
}

.Questions h1 {
  color: #0090ff;
  text-align: center;
}

.Questions span {
  color: #B5B5B5;
}

.Questions .options {
  margin-top: 44px;
}

.Questions .options .option {
  min-height: 70px;
  margin: 5px 0px;
  background: #0090ff;
  width: 100%;
  color: #fff;
}

.Questions .options .ResultOptions {
  min-height: 70px;
  margin: 10px 0px;
  background: #0090ff;
  min-width: 554px;
  width: 100%;
  text-align: left;
  color: #fff;
}

.Questions .options .ResultOptions .progress-fill {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  height: 70px;
}

.Questions .options .ResultOptions h3 {
  padding: 12px 14px;
  position: absolute;
  width: 511px;
}

.Questions .options .ResultOptions span {
  position: relative;
  color: #fff;
  float: right;
  right: 17px;
  top: -41px;
  font-size: 14px;
  font-weight: bold;
}

.Questions .options .option.active {
  background: transparent;
  border: 2px solid #0090ff;
  color: #0090ff;
}

.opinionListAnswared {
  position: relative;
  margin: 0px 10px;
}

.opinionListAnswared .answaredPers {
  font-weight: bold;
  color: #0090ff;
  font-size: 30px;
}

.opinionListAnswared md-list-item {
  box-shadow: 0 0 0 2px #0090ff inset;
  padding: 0px 13px;
  position: relative;
  margin: 6px 0px;
}

.opinionListAnswared .md-list-item-text, .opinionListAnswared .md-list-item-text h3 {
  color: #0090ff !important;
  white-space: pre-line;
  width: 80%;
}

.opinionListAnswared .md-list-item-text p {
  color: #0090ff !important;
  opacity: 0.5;
}

.opinionListAnswared .md-secondary {
  border: 1px solid #0090ff;
}

.opinionListAnswared .md-secondary ng-md-icon {
  fill: #0090ff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.errorLogin {
  border-bottom: 3px solid red;
  background: #fff !important;
}

.partyPageWrap {
  background: #EBEBEB;
  height: auto;
}

.partyPageWrap .coverPic {
  height: 400px;
  background-position: fixed;
  background-align: center;
  background-size: cover;
  width: 100%;
  box-shadow: inset 0px -104px 41px -14px rgba(0, 0, 0, 0.63);
}

.partyPageWrap .coverPic .PageDetail {
  position: absolute;
  top: 330px;
  left: 7%;
}

.partyPageWrap .coverPic .PageDetail h1 {
  color: #fff;
  float: left;
}

.partyPageWrap .coverPic .like_side {
  top: 340px;
  right: 13%;
  color: #fff;
  width: 226px;
  position: absolute;
}

.partyPageWrap .coverPic .like_side .likeBtn {
  border: 1px solid whitesmoke;
  color: white !important;
  background: transparent !important;
  float: right;
}

.partyPageWrap .coverPic .like_side .tooltiptext {
  float: left;
  background-color: #f9f1cb;
  color: black;
  text-align: center;
  padding: 5px 5px;
  right: 110px;
  top: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.partyPageWrap .coverPic .like_side .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #f9f1cb;
}

.partyPageWrap .candidate_list {
  padding-top: 40px;
}

.partyPageWrap .candidate_list .heading {
  color: #0090ff;
  text-align: center;
  font-size: 15px;
}

.partyPageWrap .candidate_list .avatar_wrap {
  width: 150px;
  margin: 0px auto;
}

.partyPageWrap .candidate_list .avatar_wrap .avatar {
  text-align: center;
  padding-top: 10px;
  margin: 0px auto;
  position: relative;
}

.partyPageWrap .candidate_list .avatar_wrap .avatar img {
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.partyPageWrap .candidate_list .avatar_wrap .avatar .avatar_name {
  color: #fff;
  position: absolute;
  top: 140px;
  height: 0px;
  text-align: left;
  border-radius: 0px 0px 0px 10px;
  border-top: 10px solid #0090ff;
  border-bottom: 10px solid #0090ff;
  border-right: 10px solid transparent;
  width: 130px;
}

.partyPageWrap .candidate_list .avatar_wrap .avatar p {
  top: -21px;
  width: 120px;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.partyPageWrap .candidate_members {
  width: 100%;
  padding-top: 10px;
}

.partyPageWrap .candidate_members .memberList {
  margin-left: 95px;
}

.partyPageWrap .candidate_members h1 {
  position: relative;
  text-align: center;
  color: #0090ff;
}

.partyPageWrap .candidate_members h1 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.partyPageWrap .candidate_members h1:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.partyPageWrap .candidate_members h1:before {
  left: 0;
}

.partyPageWrap .candidate_members .avatar {
  float: left;
  margin: 10px;
}

.partyPageWrap .candidate_members .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.partyPageWrap .candidate_members .avatar .checked {
  position: absolute;
  margin-top: -23px;
  margin-left: 44px;
  fill: #23BA23;
}

.partyPageWrap .candidate_members .avatar_name {
  width: 179px;
  padding-left: 10px;
  float: left;
  padding-top: 23px;
}

.partyPageWrap .candidate_members .avatar_name h3 {
  margin: 0px;
  color: #0090ff;
}

.partyPageWrap .candidate_members .avatar_name p {
  margin: 0px;
}

.login_panel {
  position: absolute;
  z-index: 90;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.login_panel .login-btn {
  -ms-flex: 0 0 15%;
  -webkit-box-flex: 0;
          flex: 0 0 15%;
  max-width: 15%;
}

.login_panel .login-btn .my-btn {
  color: #0090ff !important;
  border: 1px solid #0090ff;
  width: 100%;
  margin-top: 10px;
}

.login_panel .login-btn .my-btn:hover {
  background: #0090ff !important;
  color: white !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.sideNavSetting {
  min-height: 85vh;
  border-right: 1px solid #B5B5B5;
  width: 100%;
}

.SettingSideMenu {
  background: transparent;
}

.GeneralMain {
  padding: 0px 20px;
}

.GeneralMain .generalItem {
  position: relative;
}

.GeneralMain .ng-inline-edit__button {
  position: absolute;
  right: 0px;
  content: "change";
}

.GeneralMain .panelEdit {
  background: #fff;
  padding: 10px;
  width: 100%;
  position: relative;
}

.GeneralMain .mailSwitch {
  margin: 0px;
}

.GeneralMain .error {
  color: red;
}

.setting_menu_btn {
  line-height: 46px !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
/*** Tabs ***/
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background-color: #0090ff !important;
  color: #0090ff;
}

md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: grey;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #0090ff !important;
}

md-tabs.my-tabs {
  background: white !important;
  color: #0090ff;
}

md-tabs.my-tabs .md-tab.md-active {
  color: #0090ff;
  border-color: #0090ff;
}

/*** Posts ***/
.posts {
  background: #EBEBEB;
  overflow: hidden;
}

.notFound {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  color: #ccc;
  right: 0px;
  z-index: 1;
}

.notFound svg {
  fill: #ccc;
}

md-card.post {
  margin: 20px 1px;
  border-top: 2px solid;
  position: relative;
  border-radius: 3px;
}

md-card.post .meta-section {
  height: 68px;
  width: 100%;
  position: relative;
}

md-card.post .meta-section .profile-img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 2;
  background: url(http://api.rajneeti.dev/images/profile/default_avatar.png) center;
  background-size: cover;
}

md-card.post .meta-section .profile-name {
  position: absolute;
  top: 13px;
  left: 72px;
  cursor: pointer;
  font-weight: normal;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

md-card.post .meta-section .profile-position {
  position: absolute;
  top: 36px;
  left: 50px;
  font-weight: normal;
  font-weight: 200;
  padding: 1px 7px;
  padding-left: 20px;
  margin: 0;
  z-index: 1;
  color: white;
  font-size: 13px;
  background: #0090ff;
  border-radius: 2px;
}

md-card.post .meta-section .post-options {
  position: absolute;
  top: -2px;
  right: -7px;
}

md-card.post .meta-section .post-options svg {
  fill: grey;
}

md-card.post .meta-section .like-counter {
  position: absolute;
  right: 50px;
  top: 22px;
}

md-card.post .meta-section .like-counter span {
  padding: 4px;
  font-size: 14px;
}

md-card.post .meta-section .like-counter span:nth-child(1) {
  border: 1px solid grey;
  border-radius: 3px 0px 0px 3px;
  color: #5E5E5E;
}

md-card.post .meta-section .like-counter span:nth-child(2) {
  background: grey;
  border: 1px solid grey;
  padding: 4px 5px;
  border-radius: 0px 3px 3px 0px;
  color: white;
}

md-card.post .body-section .post-content {
  padding: 0px 10px 10px 10px;
  text-align: justify;
}

md-card.post .body-section .posts-img-con {
  max-height: 300px;
  overflow: hidden;
}

md-card.post .body-section .posts-img-con .post-img {
  height: 300px !important;
  width: auto !important;
  margin: 0px auto;
  cursor: pointer;
}

md-card.post .footer-section {
  height: 50px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  border: none;
  padding: 0 10px;
  color: whitesmoke;
  font-size: 14px;
}

md-card.post .footer-section .post-action .post-like, md-card.post .footer-section .post-action .post-dislike {
  width: 25px;
  height: 25px;
  line-height: 0;
}

md-card.post .footer-section .post-action .post-like {
  margin-right: 0;
}

md-card.post .footer-section .post-action .post-dislike {
  margin-left: 0;
  margin-right: 15px;
}

md-card.post .footer-section .post-action .post-comments .post-comment-btn {
  margin-left: 0;
  width: 25px;
  height: 25px;
  line-height: 0;
}

md-card.post .footer-section .post-action svg {
  fill: whitesmoke;
}

md-card.post .footer-section .post-action button.md-button[disabled] {
  cursor: default;
  opacity: 0.4;
}

.post-load md-progress-circular {
  margin: 0 auto;
  height: 80px;
  top: -5px;
}

.post-load md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: #0090ff;
  border-left-color: #0090ff;
}

.post-load md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: #0090ff;
  border-right-color: #0090ff;
}

md-card.post.bjp-post {
  border-color: #5dbc00;
}

md-card.post.bjp-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.bjp-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.bjp-post .meta-section .profile-position, md-card.post.bjp-post .footer-section {
  background: #5dbc00;
}

md-card.post.congress-post {
  border-color: #5dbc00;
}

md-card.post.congress-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.congress-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.congress-post .meta-section .profile-position, md-card.post.congress-post .footer-section {
  background: #5dbc00;
}

md-card.post.sad-post {
  border-color: #5dbc00;
}

md-card.post.sad-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.sad-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.sad-post .meta-section .profile-position, md-card.post.sad-post .footer-section {
  background: #5dbc00;
}

md-card.post.bsp-post {
  border-color: #5dbc00;
}

md-card.post.bsp-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.bsp-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.bsp-post .meta-section .profile-position, md-card.post.bsp-post .footer-section {
  background: #5dbc00;
}

md-card.post.aap-post {
  border-color: #5dbc00;
}

md-card.post.aap-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.aap-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.aap-post .meta-section .profile-position, md-card.post.aap-post .footer-section {
  background: #5dbc00;
}

md-card.post.others-post {
  border-color: #5dbc00;
}

md-card.post.others-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.others-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.others-post .meta-section .profile-position, md-card.post.others-post .footer-section {
  background: #5dbc00;
}

.Chat_side_header {
  height: 40px;
  background: #0090ff;
  padding: 10px;
}

.Chat_side_header .searchFriend {
  font-size: 100%;
  width: 96%;
  height: 30px;
  padding: 4px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.chat_wrap {
  margin-top: 0px !important;
}

.onlineStatus {
  right: 10px !important;
}

.onlineTime {
  font-size: 10px !important;
}

.sideNavUser md-list-item.md-2-line, .sideNavUser md-list-item.md-2-line > .md-no-style {
  min-height: 0px;
}

.sideNavUser .offline {
  fill: #EBEBEB;
}

.sideNavUser .online {
  fill: #23BA23;
}

.sideNavUser .userListed {
  cursor: pointer;
  border-bottom: 1px solid #EBEBEB;
}

.left-sidebar {
  margin-right: 20px;
}

.left-sidebar md-card {
  margin: 0px;
}

.left-sidebar md-card md-card-content {
  padding: 10px 0px;
}

.left-sidebar .create {
  fill: #5E5E5E;
  padding: 3px 10px;
  cursor: pointer;
  float: right;
}

.left-sidebar md-list {
  padding: 0px !important;
}

.left-sidebar .md-no-sticky {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  margin-right: 0px !important;
}

.left-sidebar .md-no-sticky .md-subheader-inner {
  padding: 11px 0px;
}

.left-sidebar md-list-item {
  min-height: 39px !important;
}

.left-sidebar md-list-item p {
  text-overflow: ellipsis;
  display: block;
  width: 56px;
  white-space: nowrap;
  overflow: hidden;
}

.left-sidebar md-list-item .md-sec-btn {
  font-size: 12px !important;
  color: #B5B5B5;
}

.left-sidebar .md-avatar {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30px !important;
  width: 30px !important;
}

.left-sidebar .group_main {
  max-height: 160px;
  position: relative;
  margin: 10px 0px;
  overflow: hidden;
}

.left-sidebar .group_main:hover {
  overflow-y: auto;
}

.right-sidebar .userOnline-button {
  padding: 0px;
}

.right-sidebar .userOnline-button .button-green {
  background: #23BA23 !important;
  margin: 0px;
  color: #fff;
  fill: #fff;
}

.right-sidebar .userOnline-button .button-green .online_Count {
  right: 10px;
}

.right-sidebar .userOnline-button .bottom-sheet-demo {
  padding: 0px;
}

.right-sidebar .userOnline-button md-card-content {
  padding: 0px;
}

.right-sidebar md-card {
  margin-left: 20px;
}

.post-images {
  position: relative;
}

.post-images .image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

.post-images .image-1-con, .post-images .image-2-con, .post-images .image-3-con, .post-images .image-4-con, .post-images .image-5-con {
  display: inline-block;
  height: 300px;
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.post-images .image-1-con {
  width: 66.7%;
  padding-right: 5px;
}

.post-images .image-2-con, .post-images .image-3-con {
  position: absolute;
  right: 0;
  width: 33.3%;
  height: 150px;
}

.post-images .image-2-con {
  padding-bottom: 5px;
  padding-left: 5px;
}

.post-images .image-3-con {
  top: 150px;
  padding-left: 5px;
  padding-top: 5px;
}

.post-images .two .image-1-con {
  width: 50%;
}

.post-images .two .image-2-con {
  position: absolute;
  right: 0;
  width: 50%;
  height: 300px;
  padding-bottom: 0;
}

.post-images .image-3-con:after {
  content: 'More';
  font-size: 20px;
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  top: 0;
  text-align: center;
  line-height: 10;
  margin-top: 5px;
  cursor: pointer;
}

.post-images .image-3-con:hover:after {
  background: rgba(0, 0, 0, 0.8);
}

.post-images .image-4-con, .post-images .image-5-con {
  width: 33.3%;
  top: 200px;
  height: 200px;
  padding-right: 5px;
}

.post-images .image-4-con {
  left: 0;
  width: 33.4%;
}

.post-images .image-5-con {
  left: 33.4%;
  padding-left: 5px;
}

.post-images .five .image-1-con {
  height: 170px;
  padding-bottom: 5px;
}

.post-images .image-con:nth-child(n+7) {
  display: none !important;
}

/*** Comments ***/
.comments {
  overflow: hidden;
}

.comments .comment-in {
  position: relative;
}

.comments .comment-in .comment-options {
  position: absolute;
  top: -10px;
  right: 0px;
  margin: 0;
}

.comments .comment-in .comment-options .md-button.md-icon-button {
  height: 30px;
  width: 30px;
  line-height: 0;
}

.comments .comment-in .comment-options svg {
  fill: grey;
}

.comments .add-comment {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: block;
  box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);
}

.comments .add-comment md-input-container {
  padding: 5px 20px;
  padding-right: 50px;
}

.comments .add-comment .submit-comment {
  position: absolute;
  right: -5px;
  top: -3px;
}

.comments md-list-item.md-3-line {
  min-height: auto;
  padding: 15px 0;
  width: 100%;
  max-width: 100%;
  min-width: 800px;
}

.comments md-list-item.md-3-line:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

.comments h3.user-name {
  position: relative;
}

.comments h3.user-name span.comment-time {
  position: absolute;
  right: 40px;
  top: 0;
  display: inline-block;
  font-size: 12px;
  color: grey;
}

.comments p.comment {
  font-size: 15px;
  padding-top: 5px;
}

.comments .loading-comments, .comments .no-comments {
  width: 800px;
  max-width: 100%;
  height: 100%;
  display: block;
}

.comments .loading-comments md-progress-circular {
  margin: 100px auto;
}

.comments .no-comments div.nothing {
  padding: 60px 10px;
  text-align: center;
}

.comments .no-comments div.nothing div {
  padding-bottom: 5px;
}

.comments .no-comments div.nothing div svg {
  fill: #B5B5B5;
}

.comments md-dialog-content {
  margin-bottom: 40px;
  min-height: 300px;
}

.comments .md-dialog-content {
  max-width: 800px;
  padding: 5px 20px !important;
}

.comments .md-toolbar-tools {
  color: whitesmoke;
}

.comments .md-toolbar-tools svg {
  fill: whitesmoke;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.videogular-container {
  width: 100%;
  margin: auto;
}

.videogular-container.audio {
  height: 50px;
}

videogular.audio {
  background: rgba(0, 0, 0, 0.6);
}
