<md-dialog aria-label="Comments" class="addmember" ng-controller="closeGroupCtrl">

  <md-toolbar>
    <div class="md-toolbar-tools addmemberHead">
      <md-button class="md-icon-button" aria-label="back" ng-click="closeCreateGroup()">
        <ng-md-icon class="backButton" icon="arrow_back" size="30" ></ng-md-icon>
      </md-button>

      <h2><ng-md-icon class="backButton" icon="person_add"></ng-md-icon> {{'ADD_MEMBER' | translate }}</h2>
      
      <md-progress-circular class="whiteLoading" ng-if="Loading" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
    </div>
  </md-toolbar>
  <md-dialog-content class="group" scroll-watch="updated">
      <div class="md-dialog-content sideList addMemberList">
        <md-list class="md-dense">
          <md-list-item class="md-3-line" ng-repeat="user in users">
            <img ng-src="http://api.rajneeti.dev/images/profile/default_avatar.png" class="Group-avatar" style="margin-top:5px;" />
            <div class="md-list-item-text groupName" layout="column">
              <h3>{{user.name}}</h3>
              <p>{{user.assembly}}</p>
            </div>
            <md-button aria-label="add" ng-if="user.joinGroupID == '0'" class="md-icon-button" ng-click="add(groupDetail.groupID, user.id)"><ng-md-icon icon="add"></ng-md-icon></md-button>
            <md-button aria-label="check" ng-if="user.joinGroupID == '1'" class="md-icon-button" ng-click="remove(groupDetail.groupID, user.id)"><ng-md-icon icon="check"></ng-md-icon></md-button>
          </md-list-item>
          <md-divider ></md-divider>
        
        </md-list>

      </div> 
  </md-dialog-content>
</md-dialog>