<script type="text/javascript">
	if(typeof angular === 'undefined'){
		document.location.href="/";
	}
</script>
<md-content class="posts">
	<h4 class="heading">{{ 'messages' | translate }}</h4>
	<div class="messages_main_page md-whiteframe-1dp" layout="row">
		<!-- users list -->
		<div flex="30" class="users_list">
			<div class="header" layout="column">
				{{'MEMBERS' | translate}}
			</div>
			<md-list class="user">
				<md-list-item class="md-2-line" ng-repeat="member in members">
					<ng-md-icon class="{{member.type}}Icon" style="top:15px;position:relative" icon="brightness_1" size="10"></ng-md-icon>
					<img ng-src="{{IMAGE_PATH}}/profile/{{member.avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png"/>

					<div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
						<h3 ng-bind="member.name"></h3>
					</div>
				</md-list-item>
			</md-list>
		</div>
		<!-- message's -->
		<div flex class="message_side">
			<div class="messages_in">
				<div class="header">
					<div class="selectUser_avatar">
						<img ng-src="{{IMAGE_PATH}}/group/{{groupDetail.image}}" class="md-avatar" src="{{IMAGE_PATH}}/group/default_avatar.png"/>
					</div>
					{{ groupDetail.groupName }} <small>({{ groupDetail.adminName }})
					<md-tooltip md-direction="{{demo.tipDirection}}">
						{{ groupDetail.assembly}}
					</md-tooltip>
				</small>
				<div class="user_menu_chat">
					<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="addMember()" ng-if="loginUserType == 'admin'">
						<ng-md-icon icon="person_add" size="20" ></ng-md-icon>
						<md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
							{{ 'ADD_MEMBER' | translate }}
						</md-tooltip>
					</md-button>
					<md-menu>
						<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
							<ng-md-icon icon="more_vert" size="20" ></ng-md-icon>
						</md-button>
						<md-menu-content width="3" class="drop-menu">
							<md-menu-item ng-if="loginUserType == 'admin'">
								<md-button ng-click="groupEdit()">
									<ng-md-icon icon="edit" size="15" ></ng-md-icon>
									{{'edit' | translate}}
								</md-button>
							</md-menu-item>
							<md-menu-item ng-if="loginUserType == 'admin'">
								<md-button ng-click="showAlert($event, groupDetail.groupID)">
									<ng-md-icon icon="delete" size="15" ></ng-md-icon>
									{{'delete' | translate}}
								</md-button>
							</md-menu-item>
							<md-menu-item ng-if="loginUserType !='admin'">
								<md-button ng-click="leftGroup(authId, groupDetail.groupID)">
									<ng-md-icon icon="logout" size="15" ></ng-md-icon>
									Left Group
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</div>
				<!-- <div class="message_wrapper" ng-if="!id">
					<div class="no-comments">
						<div class="nothing">
							<div><ng-md-icon icon="error" size="100" ></ng-md-icon></div>
							Choose candidate. you start the conversation?
						</div>
					</div>
				</div> -->
				<div class="message_wrapper" scroll-glue>
					<!-- recived message -->
					<div ng-repeat="message in messages">

						<div class="recived_msg" layout="row" ng-if="message.sender == id">
							<div class="avatar"><img ng-src="{{IMAGE_PATH}}/profile/{{avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png" height="30" /></div>
							<div class="talk-bubble-left tri-right left-top">
								<div class="talktext">
									<p ng-bind-html="message.message | emoji">{{message.message}}</p>
								</div>
							</div>
						</div>

						<!-- recevied message -->

						<!-- send message div -->
						<div class="send_msg" layout="row" ng-if="message.sender == authId &&message.receiver == id">

							<div class="talk-bubble-right tri-left left-top">
								<div class="talktext">
									<p ng-bind-html="message.message | emoji">{{message.message}}</p>
								</div>
							</div>
							<div class="avatar">
								<img class="md-avatar" ng-src="{{IMAGE_PATH}}/profile/{{user.avatar}}" src="{{IMAGE_PATH}}/profile/default_avatar.png">
							</div>
						</div>
					</div>

					<!-- send message div -->


					<div class="recived_msg" layout="row" ng-show="typing" ng-if="status.received == authId">
						<div class="avatar"><img ng-src="{{IMAGE_PATH}}/profile/{{avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png" height="30" /></div>
						<div class="talk-bubble-left tri-right left-top">
							<div class="talktext">
								<p ng-bind-html-unsafe="message | emoji">
									<div class="loader loader--style5" style="text-align:center;" title="is Typing..">
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
										<rect x="0" y="0" width="4" height="10" fill="#fff">
											<animateTransform attributeType="xml"
											attributeName="transform" type="translate"
											values="0 0; 0 20; 0 0"
											begin="0" dur="0.6s" repeatCount="indefinite" />
										</rect>
										<rect x="10" y="0" width="4" height="10" fill="#fff">
											<animateTransform attributeType="xml"
											attributeName="transform" type="translate"
											values="0 0; 0 20; 0 0"
											begin="0.2s" dur="0.6s" repeatCount="indefinite" />
										</rect>
										<rect x="20" y="0" width="4" height="10" fill="#fff">
											<animateTransform attributeType="xml"
											attributeName="transform" type="translate"
											values="0 0; 0 20; 0 0"
											begin="0.4s" dur="0.6s" repeatCount="indefinite" />
										</rect>

									</svg>
								</div>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
			<!-- <div class="emoji-popup">
				<md-button class="emoji-button" ng-repeat="emo in emoji" ng-bind-html="emo|emoji">:punch:</md-button>
			</div> -->
			<div class="footer_messages"> 
				<form ng-submit="sendMessage()" name="commentForm">
					<md-input-container md-no-float class="md-block" emoji-form emoji-message="emojiMessage">
						<input ng-model="message" ng-bind-html="message.message | emoji" placeholder="Type Message.." ng-keyup="typingStart()" autocomplete="false">
					</md-input-container>
					<md-button class="md-icon-button submit-emoji"><ng-md-icon icon="insert_emoticon"></ng-md-icon></md-button>
					<md-button type="submit" class="md-icon-button submit-comment" aria-label="More">
						<ng-md-icon icon="send" size="25" class="{{post.party==null ? 'others-con' : post.party + '-con'}}" ></ng-md-icon>
					</md-button>
				</form>

			</div>
			
		</div>
	</div>
</md-content>