<script type="text/javascript">
	if(typeof angular === 'undefined'){
		document.location.href="/";
	}
</script>
<md-content class="posts">
	<h4 class="heading">{{ 'Groups' | translate }}</h4>
	<div layout="row" layout-wrap class="md-padding" layout-align="center left">
		<div class="group_wrap md-whiteframe-2dp" flex="45" ng-repeat="group in groups">
				<img src="{{IMAGE_PATH}}/group/default_avatar.png" ng-src="{{IMAGE_PATH}}/group/{{group.image}}" class="group_img">
			
				<h3 ng-bind="group.name"></h3>
				<p>{{group.members}} Members</p>
			<p class="joinButton">
				<md-button class="join_btn" ng-click="join($index, group.id)" ng-class="{'active':group.joined==1}" ng-if="group.joined == '0'">Join</md-button>
				<md-button class="join_btn" ng-class="{'active':group.joined==1}" ng-if="group.joined == '1' ">Joined</md-button>
			</p>
		</div>		
	</div>
</md-content>