<div class="opinion_wrapper">
<div class="layout-max-width padding-for-topbar" layout="row">
    <div flex="70">
		  	<div ui-view class="opinion"> </div>
    </div>
	<div flex="30" class="right-sidebar">
    <div ui-view="rightSide"></div>  	
	</div>
  <ng-include src="'/pages/user/partials/onlineUserSide.view.html'"></ng-include>
</div>

</div>