<script type="text/javascript">
	if(typeof angular === 'undefined'){
		document.location.href="/";
	}
</script>
<md-content class="posts">
	<h4 class="heading">{{ 'messages' | translate }}</h4>
	<div class="messages_main_page md-whiteframe-1dp" layout="row">
		<!-- users list -->
		<div flex="30" class="users_list">
			<div class="header">
				<input type="text" placeholder="Search.." class="searchFriend">
			</div>
			<md-list class="user">
				<md-list-item class="md-2-line" ng-if="user.id != authId" ng-repeat="user in users" ng-click="messageSendSelect(user)">
					<ng-md-icon class="{{user.type}}Icon" icon="brightness_1" size="10"></ng-md-icon>
					<img ng-src="{{IMAGE_PATH}}/profile/{{user.avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png"/>

					<div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
						<h3> {{ user.name }}</h3>
					</div>
				</md-list-item>
			</md-list>
			
		</div>
		<!-- message's -->
		<div flex class="message_side">
			<div class="messages_in">
				<div class="header">
					<div class="selectUser_avatar">
						<img ng-src="{{IMAGE_PATH}}/profile/{{avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png"/>
					</div>
					{{name}}
					<div class="user_menu_chat">
						<md-menu>
							<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
								<ng-md-icon icon="more_vert" size="20" ></ng-md-icon>
							</md-button>
							<md-menu-content width="3" class="drop-menu">
								<md-menu-item ng-if="post.type == 'text' && post.userId == authId">
									<md-button>
										<ng-md-icon icon="edit" size="15" ></ng-md-icon>
										Edit
									</md-button>
								</md-menu-item>
								<md-menu-item ng-if="post.userId == authId">
									<md-button ng-click="showAlert($event, post.id)">
										<ng-md-icon icon="delete" size="15" ></ng-md-icon>
										Delete
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button >
										<ng-md-icon icon="report" size="15" ></ng-md-icon>
										Report
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</div>
				<div class="message_wrapper" ng-if="!id">
					<div class="no-comments">
						<div class="nothing">
							<div><ng-md-icon icon="error" size="100" ></ng-md-icon></div>
							Choose candidate. you start the conversation?
						</div>
					</div>
				</div>
				<div class="message_wrapper" scroll-glue ng-if="id">
					<!-- recived message -->
					<div ng-repeat="message in messages">
						
						<div class="recived_msg" layout="row" ng-if="message.sender == id">
							<div class="avatar"><img ng-src="{{IMAGE_PATH}}/profile/{{avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png" height="30" /></div>
							<div class="talk-bubble-left tri-right left-top">
								<div class="talktext">
								<p ng-bind-html="message.message | emoji">{{message.message}}</p>
								</div>
							</div>
						</div>

						<!-- recevied message -->

						<!-- send message div -->
						<div class="send_msg" layout="row" ng-if="message.sender == authId &&message.receiver == id">

							<div class="talk-bubble-right tri-left left-top">
								<div class="talktext">
									<p ng-bind-html="message.message | emoji">{{message.message}}</p>
								</div>
							</div>
							<div class="avatar">
								<img class="md-avatar" ng-src="{{IMAGE_PATH}}/profile/{{user.avatar}}" src="{{IMAGE_PATH}}/profile/default_avatar.png">
							</div>
						</div>
					</div>

					<!-- send message div -->

					<!-- <ul>
						<li ng-repeat="message in messages">
							<span>{{message.userid}}</span>
							<span>{{message.message}}</span>
						</li>
					</ul>
				-->
				
				<div class="recived_msg" layout="row" ng-show="typing" ng-if="status.received == authId">
					<div class="avatar"><img ng-src="{{IMAGE_PATH}}/profile/{{avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png" height="30" /></div>
					<div class="talk-bubble-left tri-right left-top">
						<div class="talktext">
							<p ng-bind-html-unsafe="message | emoji">
								<div class="loader loader--style5" style="text-align:center;" title="is Typing..">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
									<rect x="0" y="0" width="4" height="10" fill="#fff">
										<animateTransform attributeType="xml"
										attributeName="transform" type="translate"
										values="0 0; 0 20; 0 0"
										begin="0" dur="0.6s" repeatCount="indefinite" />
									</rect>
									<rect x="10" y="0" width="4" height="10" fill="#fff">
										<animateTransform attributeType="xml"
										attributeName="transform" type="translate"
										values="0 0; 0 20; 0 0"
										begin="0.2s" dur="0.6s" repeatCount="indefinite" />
									</rect>
									<rect x="20" y="0" width="4" height="10" fill="#fff">
										<animateTransform attributeType="xml"
										attributeName="transform" type="translate"
										values="0 0; 0 20; 0 0"
										begin="0.4s" dur="0.6s" repeatCount="indefinite" />
									</rect>

								</svg>
							</div>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
			<!-- <div class="emoji-popup">
				<md-button class="emoji-button" ng-repeat="emo in emoji" ng-bind-html="emo|emoji">:punch:</md-button>
			</div> -->
			<div class="footer_messages" ng-show="id"> 
				<form ng-submit="sendMessage()" name="commentForm">
					<md-input-container md-no-float class="md-block" emoji-form emoji-message="emojiMessage">
						<input ng-model="message" autocomplete="off" ng-bind-html="message.message | emoji" placeholder="Type Message.." ng-keyup="typingStart()" autocomplete="false">
					</md-input-container>
					<md-button class="md-icon-button submit-emoji"><ng-md-icon icon="insert_emoticon"></ng-md-icon></md-button>
					<md-button type="submit" class="md-icon-button submit-comment" aria-label="More">
						<ng-md-icon icon="send" size="25" class="{{post.party==null ? 'others-con' : post.party + '-con'}}" ></ng-md-icon>
					</md-button>
				</form>

			</div>
			
		</div>
	</div>
</md-content>