<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>
<div flex layout="row" layout-align="start center" style="padding-top:60px;">
	<div class="cover_image" style="background-image:url({{IMAGE_PATH}}/cover/{{usersDetail.cover}});">

		<div class="like_page" ng-if="authId == posts[0].userId">	
      <md-button aria-label="Open demo menu" class="editButton" ui-sref="user.setting.general" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
        <ng-md-icon icon="create" size="30"></ng-md-icon>
        <md-tooltip md-visible="demo.showTooltip" md-direction="left">
          {{ 'edit' | translate}}
        </md-tooltip>
      </md-button>
      <md-button aria-label="Open demo menu" class="editButton coverButton" ng-click="profileCover(usersDetail.id)">
        <ng-md-icon icon="camera_alt" size="30"></ng-md-icon>
        <md-tooltip md-visible="demo.showTooltip" md-direction="left">
          {{ 'cover' | translate}}
        </md-tooltip>
      </md-button>
    </div>

  </div>
</div>
<div class="post {{usersDetail.party}}-post profile">
	<div class="profile_page_image_main meta-section">
		<img class="profile-img md-whiteframe-z1" src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{usersDetail.avatar}}">
   <md-button aria-label="Open demo menu" class="profilePhoto " ng-click="profilePhoto(usersDetail.id)" ng-if="authId == posts[0].userId">
    <ng-md-icon icon="camera_alt" size="30"></ng-md-icon>
    <md-tooltip md-visible="demo.showTooltip" md-direction="left">
      {{ 'picChange' | translate}}
    </md-tooltip>
  </md-button>
  <h4 class="profile-name" ng-bind="usersDetail.name"></h4>
  <h5 class="profile-position" ng-if="posts != null" ng-bind="usersDetail.type"></h5>
</div>
</div>


<div class="layout-max-width padding-for-topbar" layout="row" style="padding-top:50px;">
	<div flex="65">

		<md-content class="posts">

      <md-card class="post {{post.party==null ? 'others-post' : post.party + '-post'}}" ng-repeat="post in posts track by post.id">

        <div class="meta-section">
         <img class="profile-img md-whiteframe-z1" src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{post.user_avatar}}">
         <h4 class="profile-name" ng-click="profileview(post.user_slug)" ng-if="post.onner==null" ng-bind="post.user_name"></h4>
         <h4 class="profile-name" ng-click="profileview(post.user_slug)" ng-if="post.onner != null">{{post.user_name}} repost <b>{{post.onner}}'s</b> post.</h4>
         <h4 class="profile-name" ng-click="profileview(post.user_slug)" ng-if="post.change == 'cover'">{{post.user_name}} change cover photo.</h4>
         <h4 class="profile-name" ng-click="profileview(post.user_slug)" ng-if="post.change == 'profile'">{{post.user_name}} change profile photo.</h4>
         <h5 class="profile-position" ng-if="post.user_type != 'User'" ng-bind="post.user_type"></h5>

         <div class="post-options">
          <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <ng-md-icon icon="more_vert" size="20" ></ng-md-icon>
            </md-button>
            <md-menu-content width="3" class="drop-menu">
              <md-menu-item ng-if="post.type == 'text' && post.userId == authId">
                <md-button>
                  <ng-md-icon icon="edit" size="15" ></ng-md-icon>
                  Edit
                </md-button>
              </md-menu-item>
              <md-menu-item ng-if="post.userId == authId">
                <md-button ng-click="showAlert($event, post.id)">
                  <ng-md-icon icon="delete" size="15" ></ng-md-icon>
                  Delete
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button >
                  <ng-md-icon icon="report" size="15" ></ng-md-icon>
                  Report
                </md-button>
              </md-menu-item>


            </md-menu-content>
          </md-menu>
        </div>

        <div class="like-counter">
         <span>{{ 'LIKE_TXT' | translate }}</span><span ng-bind="post.like_count"></span>
       </div>
     </div>
     <div class="body-section">

      <div ng-bind="post.status" class="post-content"></div>

      <div class="posts-img-con" ng-if="post.images" >

        <ng-include src="'/pages/user/partials/image-post.view.html'"></ng-include>
      </div>

      <div class="post-audio-con" ng-if="post.type=='audio'">
        <ng-include src="'/pages/user/partials/audio-post.view.html'"></ng-include>
      </div>

      <div class="post-video-con" ng-if="post.type=='video'">
        <ng-include src="'/pages/user/partials/video-post.view.html'"></ng-include>
      </div>

    </div>

    <div class="footer-section" layout="row" layout-align="space-between center">

      <div class="post-time">{{post.created_at | relativeDate }}</div>
      <div class="post-action">
       <md-button class="md-icon-button post-like" ng-disabled="post.like_type==1" ng-click="likePost($index, post.id,'like')" aria-label="Like">
        <ng-md-icon icon="thumb_up" size="20" ></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button post-dislike" ng-disabled="post.like_type==0" ng-click="likePost($index,post.id,'dislike')" aria-label="Dislike">
        <ng-md-icon icon="thumb_down" size="20" ></ng-md-icon>
      </md-button>

      <span class="post-comments">
       <span class="post-comment-count" ng-bind="post.comment_count"></span>
       <md-button class="md-icon-button post-comment-btn" ng-click="showCommentsProfile(post)" aria-label="More">
         <ng-md-icon icon="comment" size="20" ></ng-md-icon>
          <md-tooltip md-visible="demo.showTooltip" md-direction="bottom">
            {{ 'COMMENT_TXT' | translate}}
          </md-tooltip>
       </md-button>

     </span>
     <span class="post-comments">
      <span class="post-comment-count" ng-bind="post.share_count"></span>
      <md-button class="md-icon-button post-comment-btn" ng-click="sharePost(post.id, authId)" aria-label="More">
       <ng-md-icon icon="share" size="20" ></ng-md-icon>
        <md-tooltip md-visible="demo.showTooltip" md-direction="bottom">
            {{ 'Post_button' | translate}}
          </md-tooltip>
     </md-button>
   </span>

 </div>

</div>
</md-card>
<!-- 
  <div load-posts="{{postType}}" class="post-load" ><md-progress-circular md-diameter="40" ng-if="!postLoading" md-mode="indeterminate"></md-progress-circular></div> -->
</md-content>	
</div>

<div flex="35" class="right-sidebar" style="padding-top:10px;">
  <md-card class="userDetail">
    <div layout="row" layout-xs="column">
      <div flex="40">Mobile</div><div flex>{{usersDetail.mobile}}</div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex="40">Assembly</div><div flex>{{usersDetail.assembly}}</div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex="40">Party</div><div flex>{{usersDetail.party}}</div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex="40">Date of Birth</div><div flex ng-if="usersDetail.dob != null">{{usersDetail.dob}}</div>
      <div flex ng-if="usersDetail.dob == null">---</div>
    </div>

  </md-card>
    <div ui-view="rightSide"></div>
    <ng-include src="'/pages/user/partials/onlineUserSide.view.html'"></ng-include>
</div>
</div>