<md-dialog aria-label="option.title" class="add-status"  ng-controller="profilePicCtrl">

  <md-toolbar>
    <div class="md-toolbar-tools">

      <h2 ng-bind="option.title"></h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="back" ng-click="closeModal()">
        <ng-md-icon icon="close" size="30" ></ng-md-icon>
      </md-button>

    </div>
  </md-toolbar>
  <md-dialog-content >
    <div class="md-dialog-content {{option.name+'-con'}}">

      <div class="file-upload">
        <form ng-submit="updateProfilePic()" name="statusForm">
         <div class="dragover upload-files" ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" 
         ngf-accept="'image/*'"
         ngf-allow-dir="true"
         ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/png,image/jpeg,image/gif'}">Select<span ng-show="dropSupported"> or Drop</span> Profile Pic
       </div>

       <!-- <img ng-repeat="image in images" ngf-src="image" class="ng-hide"> -->
       <div class="preview-images">

        <div class="thumb-div" ng-repeat="image in images" ngf-background="!image.$error && image">

          <md-progress-circular md-diameter="50px" ng-class="{'done':image.progress==100}" md-mode="determinate" value="{{image.progress}}"></md-progress-circular>
        </div>
      </div>


      <div layout="row" layout-align="end center" ng-show="shareButton">
      <md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'picChange' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
      </div>
    </form>
  </div>
</md-dialog-content>


</md-dialog>