<div class="home-con">
    <div class="home-overlay" layout="row" layout-align="center center">
        <div flex layout-align="end center" layout="row">
            <img src="images/logo.png">
        </div>
        <div flex layout="column" layout-align="center" style="margin-top:30px">
            <md-button class="my-btn md-raised frant-btn" ng-class="loginModalStatus() ? 'active' : ''" ng-click="showLoginModal()">{{ 'LOGIN_BTN' | translate }}</md-button>
            <md-button class="my-btn md-raised frant-btn" ng-class="signupModalStatus() ? 'active' : ''" ng-click="showSignupModal()">{{ 'REGISTER_BTN' | translate }}</md-button>    
        </div>
    </div>
</div>
<!-- <div class="home-con">
    <div class="home-overlay"  flex layout="column" layout-align="center center">
	<div class="home-logo"><img src="images/logo.png"></div>
	<div>
		<md-button class="my-btn md-raised" ng-class="signupModalStatus() ? 'active' : ''" ng-click="showSignupModal()">{{ 'REGISTER_BTN' | translate }}</md-button>
        <md-button class="my-btn md-raised" ng-class="loginModalStatus() ? 'active' : ''" ng-click="showLoginModal()">{{ 'LOGIN_BTN' | translate }}</md-button>
    </div>
    <!-- <div class="headlines">
    	<h2 class="current-headline">{{state.current.name}} Bajwa tells Punjab CM to return path ratan..</h2>

    	<div class="navigation"><span></span><span class="active"></span><span></span></div>
    </div> -->
<!--	
</div>
</div>
 -->