<div class="signup-modal md-whiteframe-z2" ng-class="modalStatus() ? 'visible' : 'hidden'">
	<div layout="column">
	<h2>Create your account</h2>
	<form ng-submit="submit()" name="signupForm" autocomplete="off">
		<md-input-container layout-padding>
          <label>Full name</label>
          <input ng-model="user.name" required ng-pattern="/^[A-Za-z][A-Za-z0-9- ]+/">
        </md-input-container>

		<md-input-container layout-padding>
          <label>Mobile Number</label>
          <input ng-model="user.mobile" autocomplete="off" name="mobile" minlength="10" maxlength="10" required ng-pattern="/^[789]\d{9}$/">
           <div ng-messages="signupForm.mobile.$error" ng-if='signupForm.mobile.$dirty'>
            <div ng-message="required,minlength,maxlength">
            Enter a valid Indian mobile number.
            </div>
          </div>
          
        </md-input-container>
        <div class="error" ng-show='messageError'>            
              {{messageError}}            
        </div>
<!--           <div class="error" ng-show="messageError">
            {{messageError}}
          </div> -->
        <md-input-container layout-padding>
          <label>Password</label>
         <!--  <input type="password" ng-model="user.password"> -->
          <input maxlength="14" minlength="6" type="password" name="password" required ng-model="user.password">
          <div ng-messages="signupForm.password.$error" ng-if='signupForm.password.$dirty' ng-show="signupForm.password.$error">
            <div ng-message="required,minlength,maxlength">
            Enter a valid password of minimum 6 length.
            </div>
          </div>
        </md-input-container>

        <md-input-container layout-padding>
          <label>State</label>
          <md-select ng-model="user.state" ng-change="statesChange()" required>
            <md-option ng-repeat="state in states" value="{{state.id}}" ng-bind="state.name"></md-option>
          </md-select>
        </md-input-container>

        <md-input-container layout-padding ng-show="user.state" required>
        <label>Assembly Constituency</label>
        <md-select ng-model="user.assembly" ng-change="assemblyChange(user.assembly)">
          <md-option ng-repeat="assembl in assemblies" value="{{assembl.id}}">
            {{assembl.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container layout-padding ng-show="user.assembly">
        <label>Village/Ward</label>
        <md-select ng-model="user.ward" required>
          <md-option ng-repeat="war in wards" value="{{war.id}}">
            {{war.village}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container layout-padding>
        <label>Party</label>
        <md-select ng-model="user.party" required>
          <md-option ng-repeat="par in parties" value="{{par.id}}">
            {{par.eng_name}}
          </md-option>
        </md-select>
      </md-input-container>

      


        <md-radio-group ng-model="user.gender" layout="row" required>
          <md-radio-button value="female" class="md-primary">Female</md-radio-button>
          <md-radio-button value="male" class="md-primary">Male</md-radio-button>
    </md-radio-group>

    <md-button type="submit" ng-disabled="signupForm.$invalid || !signupForm.$dirty" class="my-btn orange-btn signup-btn">{{ 'REGISTER_BTN' | translate }}
    <md-progress-circular ng-if="signupLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>

    </form>

	</div>

	<span class="close-signup-modal" ng-click="closeSignupModal()">X</span>
</div>