
<md-toolbar class="toolbar" scroll scroll-offset="90" layout="row" ng-class="{shrink:boolChangeClass}">
  <div class="md-toolbar-tools layout-max-width">
   <md-button aria-label="Menu" class="md-icon-button" ng-click="logout()">
	    <ng-md-icon icon="logout" size="30" ></ng-md-icon>
	    <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
	        {{ 'logout' | translate}}
	    </md-tooltip>
  	</md-button>  
  
  <span flex></span>
  
          <div class="toolbar-right menu-btn">
            <div class="brand-logo"><img src="images/icon.png" height="30px" />
              <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
                {{ 'RAJNEETI_TITLE' | translate}}
              </md-tooltip>
            </div>
          </div>

        </div>
      </md-toolbar>


      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 side-nav" md-component-id="left-nav" >

        <div class="top-cover" ng-click="profileview(user.slug)" style="background-image:url('{{IMAGE_PATH}}/cover/{{user.cover}}')">
          <img class="user-icon md-whiteframe-z1" src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{user.avatar}}">
          <h5 class="user-name" ng-bind="user.name"></h5>
          <h3 class="user-position {{user.party}}-post">{{user.type}}</h3>
          <h4 class="user-const">{{user.assembly}}</h4>
        </div>

        <div class="menu-links">

          <md-menu-content class="sideMenu">
            <md-menu-item class="md-indent">
              <md-button data-ui-sref-opts="{reload: true}" ng-click="profileview(user.slug, 'left-nav')">
                <ng-md-icon icon="person" size="20"></ng-md-icon> Profile
              </md-button>
            </md-menu-item>
            <md-menu-item class="md-indent">
              <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')" ui-sref-active="active">
                <ng-md-icon icon="home" size="20" ></ng-md-icon>
                {{ 'Timeline' | translate }}
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item class="md-indent">
              <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="notifications" size="20" ></ng-md-icon>
                {{ 'notification' | translate}}
              </md-button>
            </md-menu-item>
            <md-menu-item class="md-indent">
              <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="message" size="20" ></ng-md-icon>
                {{ 'messages' | translate}}
              </md-button>
            </md-menu-item> -->
            <md-menu-item class="md-indent">
              <md-button ui-sref="user.opinion.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="group" size="20" ></ng-md-icon>
                {{ 'public_opinion' | translate}}
              </md-button>
            </md-menu-item>
           <!--  <md-menu-item class="md-indent">
              <md-button ui-sref="user.news" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="cast" size="20" ></ng-md-icon>
                {{ 'political_news' | translate}}
              </md-button>
            </md-menu-item> -->
            <md-menu-item class="md-indent">
              <md-button data-ui-sref-opts="{reload: true}" ng-click="allParty('left-nav')">
                <ng-md-icon icon="contacts" size="20" ></ng-md-icon>
                {{ 'all_parties' | translate}}
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item ng-if="user.type != 'User'">
              <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload:true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="style" size="20"></ng-md-icon>
                {{'create_page' | translate}}
              </md-menu-item> -->
              <md-menu-item ng-if="user.type != 'User'">
                <md-button data-ui-sref-opts="{reload:true}" ng-click="createGroup('left-nav')">
                  <ng-md-icon icon="group_add" size="20"></ng-md-icon>
                  {{'create_group' | translate}}
                </md-button>
              </md-menu-item>

                <md-divider></md-divider>
                <md-menu-item class="md-indent">
                  <md-button ui-sref="user.setting.general" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                    <ng-md-icon icon="settings" size="20" ></ng-md-icon>
                    {{ 'account_setting' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item class="md-indent">
                  <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                    <ng-md-icon icon="live_help" size="20" ></ng-md-icon>
                    {{ 'help_center' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item class="md-indent">
                  <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                    <ng-md-icon icon="security" size="20" ></ng-md-icon>
                    {{ 'privacy_policy' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item class="md-indent select-lang">
                  <md-input-container ng-controller="langCtrl" layout="row">
                    <!--         <label>Language</label> -->
                    <ng-md-icon icon="language" size="20" flex="12" ></ng-md-icon>
                    <md-select flex="85" aria-label="Select your language" ng-model="currentLanguage" ng-change="setLocale()">
                      <md-option ng-repeat="language in languages" value="{{language.locale}}">
                        {{language.title}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </md-menu-item>

                <md-menu-item class="md-indent">
                  <md-button class="logout-btn" ng-click="logout()">
                    <ng-md-icon icon="logout" size="20" ></ng-md-icon>
                    {{ 'logout' | translate}}<md-progress-circular ng-if="logoutLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
                  </md-button>
                </md-menu-item>

              </md-menu-content>
            </div>

            <pre>








            </pre>
          </md-sidenav>