<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>

<!-- navbar -->
	<div class="login_panel" ng-hide="loginCheck">
		<ng-include src="'/pages/user/partials/login_page.view.html'"></ng-include>
	
	</div>

<div ui-view="navbar" ng-show="loginCheck"></div>

<div class="partyPageWrap">
	<div class="" layout="row">
  		<div flex ui-view autoscroll='true'></div>
	</div>
	
</div>
<!-- <div ui-view="footer"></div> -->

