<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>

<md-content class="">
	<div class="coverPic" style="background:url({{IMAGE_PATH}}/cover/default_cover.jpg);">
		<div class="PageDetail">
			<div>
				<h1 ng-bind="detail.eng_name"></h1>
			</div>
		</div>
		<div class="like_side">
			<span class="tooltiptext">{{detail.likes}}</span>
			<md-button ng-click="like(detail, 'like')" layout="row" ng-if="detail.i_like == '0'" class="likeBtn">Like</md-button>
			<md-button ng-click="like(detail, 'unlike')" layout="row" ng-if="detail.i_like == '1'" class="likeBtn">Unlike</md-button>
		</div>
	</div>

	<div class="layout-max-width candidate_list" layout="row">
		<div flex ng-if="national != null">
			<div class="heading">National Presidents</div>
			<div class="avatar_wrap">
				<div class="avatar">
					<img src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{national.avatar}}">
					<div class="avatar_name">
						<p>{{national.name}}</p>
					</div>
				</div>
			</div>
		</div>
		<div flex ng-if="state_parbhari != null">
			<div class="heading">State Parbhari</div>
			<div class="avatar_wrap">
				<div class="avatar">
					<img src="{{IMAGE_PATH}}/profile/default_avatar.png"  ng-src="{{IMAGE_PATH}}/profile/{{state_parbhari.avatar}}">
					<div class="avatar_name">
						<p>{{state_parbhari.name}}</p>
					</div>
				</div>
			</div>
		</div>
		<div flex ng-if="state_president != null">
			<div class="heading">State Presidents</div>
			<div class="avatar_wrap">
				<div class="avatar">
					<img src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{state_president.avatar}}">
					<div class="avatar_name ribben">
						<p>{{state_president.name}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="layout-max-width candidate_members" ng-if="candidates != null && candidates != ''">
		<div layout="row">
			<h1 flex><span>Candidates</span></h1>
		</div>
		<div layout="row" layout-wrap class="memberList md-padding" layout-align="center left">
			<div flex="30" ng-repeat="candidate in candidates">
				<div class="avatar">
					<img src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{candidate.avatar}}">
					<ng-md-icon ng-show="{{candidate.type =='Declared Candidate'}}" class="checked" icon="check_circle" size="15"></ng-md-icon>
				</div>
				<div class="avatar_name">
					<h3>{{candidate.name}}</h3>
					<p>{{candidate.assembly}}</p>
				</div>
			</div>
		</div>
	</div>

</md-content>


