<md-dialog aria-label="Comments" class="parties" ng-controller="navbarCtrl" style="margin-bottom:0px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="back" ng-click="closeCreateGroup()">
        <ng-md-icon icon="arrow_back" size="30" ></ng-md-icon>
      </md-button>
      <h2><md-icon md-svg-src="images/svg/politician.svg" aria-label="android "></md-icon> {{'party' | translate }}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content scroll-watch="updated">
    <div class="parties_wrap">
      <div layout="row" layout-wrap class="" layout-align="center left">
        <div class="party inc" ng-repeat="party in parties" data-ui-sref-opts="{reload: true}" ng-click="openPage(party.slug)" style="background-image:url('{{IMAGE_PATH}}/parties/{{party.image}}')"></div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>