<videogular vg-theme="'/style/videogular.css'" class="videogular-container audio">
	<vg-media vg-src="[{src: post.content, type: 'audio/mpeg'}]" vg-type="audio"></vg-media>
	<vg-controls>
			<vg-play-pause-button></vg-play-pause-button>
			<vg-time-display>{{ (timeLeft == null ? 0:timeLeft) | date:'mm:ss':'+0000' }}</vg-time-display>
			<vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
			<vg-volume>
				<vg-mute-button></vg-mute-button>
				<vg-volume-bar></vg-volume-bar>
			</vg-volume>
			
		</vg-controls>
</videogular>
