 <div class="chat-popup-wrapper">
    <div class="chat-popup md-whiteframe-z1" ng-repeat="item in chatPopups">
      <div class="header">
        <span>{{item.name}}</span>
        <md-button ng-click="close($index)" aria-label="item" class="closeBtn md-icon-button"><ng-md-icon icon="close" size="15"></ng-md-icon></md-button>
      </div>
      <!-- content area -->
      <div class="chat-content" scroll-glue>
          <!-- recived message -->
          <div ng-repeat="message in messages">
            <div class="recived_msg" layout="row" ng-if="message.sender == item.id && message.receiver == authId">
              <div class="avatar"><img ng-src="{{IMAGE_PATH}}/profile/{{item.avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png" height="30" /></div>
              <div class="talk-bubble-left tri-right left-top">
                <div class="talktext">

                <p ng-bind-html="message.message | emoji">{{message.message}}</p>
                </div>
              </div>
            </div>

            <!-- recevied message -->

            <!-- send message div -->
            <div class="send_msg" layout="row" ng-if="message.sender == authId && message.receiver == item.id">

              <div class="talk-bubble-right tri-left left-top">
                <div class="talktext">
                  <p ng-bind-html="message.message | emoji">{{message.message}}</p>
                </div>
              </div>
              <ng-md-icon class="status-icon" icon="album" size="10"></ng-md-icon>
              <div class="avatar">
                <img class="md-avatar" ng-src="{{IMAGE_PATH}}/profile/{{user.avatar}}" src="{{IMAGE_PATH}}/profile/default_avatar.png">
              </div>

            </div>
          </div>

          <!-- send message div -->

        <div class="recived_msg" layout="row" ng-show="typing" ng-if="status.received == authId">
          <div class="avatar"><img ng-src="{{IMAGE_PATH}}/profile/{{item.avatar}}" class="md-avatar" src="{{IMAGE_PATH}}/profile/default_avatar.png" height="30" /></div>
          <div class="talk-bubble-left tri-right left-top">
            <div class="talktext">
              <p ng-bind-html-unsafe="message | emoji">
                <div class="loader loader--style5" style="text-align:center;" title="{{item.name}} is Typing..">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <rect x="0" y="0" width="4" height="10" fill="#fff">
                    <animateTransform attributeType="xml"
                    attributeName="transform" type="translate"
                    values="0 0; 0 20; 0 0"
                    begin="0" dur="0.6s" repeatCount="indefinite" />
                  </rect>
                  <rect x="10" y="0" width="4" height="10" fill="#fff">
                    <animateTransform attributeType="xml"
                    attributeName="transform" type="translate"
                    values="0 0; 0 20; 0 0"
                    begin="0.2s" dur="0.6s" repeatCount="indefinite" />
                  </rect>
                  <rect x="20" y="0" width="4" height="10" fill="#fff">
                    <animateTransform attributeType="xml"
                    attributeName="transform" type="translate"
                    values="0 0; 0 20; 0 0"
                    begin="0.4s" dur="0.6s" repeatCount="indefinite" />
                  </rect>

                </svg>
              </div>
            </p>
          </div>
        </div>
      </div>

      </div>
      <!-- content area end -->
      <div class="footer">
        <form ng-submit="sendMessage(item.id, message.text)" name="commentForm">
          <md-input-container md-no-float class="md-block" emoji-form emoji-message="emojiMessage">
            <input ng-model="message.text" autocomplete="off" ng-bind-html="message.message | emoji" placeholder="Type Message.." required autocomplete="false">
          </md-input-container>
          <md-button aria-label="item" class="md-icon-button submit-emoji"><ng-md-icon icon="insert_emoticon"></ng-md-icon></md-button>
          <md-button ng-disabled="commentForm.$invalid" type="submit" class="md-icon-button submit-comment" aria-label="More">
            <ng-md-icon icon="send" size="25" class="{{post.party==null ? 'others-con' : post.party + '-con'}}" ></ng-md-icon>
          </md-button>
        </form>
      </div>
    </div>
  </div>