<md-dialog aria-label="Comments" class="comments">
  
    <md-toolbar>
      <div class="md-toolbar-tools {{post.party==null ? 'others-bg' : post.party + '-bg'}}">
      <md-button class="md-icon-button" aria-label="back" ng-click="closeComments()">
        <ng-md-icon icon="arrow_back" size="30" ></ng-md-icon>
        </md-button>
        <span flex></span>
        <h2>{{post.comment_count}} {{'COMMENT_TXT' | translate }}</h2>

      </div>
    </md-toolbar>
    <md-dialog-content scroll-watch="updated">

      <!-- Loading comments starts -->
      <div class="md-dialog-content" >
      <div class="loading-comments" ng-if="isLoading">
      <md-progress-circular md-diameter="40" md-mode="indeterminate"></md-progress-circular>
      </div>
      <!-- Loading comments end -->

      <!-- No comment found start -->
      <div class="no-comments" ng-if="noComments">
      <div class="nothing">
      <div><ng-md-icon icon="error" size="100" ></ng-md-icon></div>
      No comments so far, why don't you start the conversation?</div>
      </div>
      <!-- No comment found end -->

      <!-- Comments start -->
        <md-list>
      <md-list-item class="md-3-line" ng-repeat="comment in comments">
        <img src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{comment.user_avatar}}" class="md-avatar" alt="name" />
        <div class="md-list-item-text comment-in" layout="column">
          <h3 class="user-name">{{comment.user_name}} <span class="comment-time">{{comment.created_at | relativeDate }}</span></h3>
          <!-- <div class="comment-options"><md-button class="md-icon-button" aria-label="More">
        <ng-md-icon icon="more_vert" size="17" ></ng-md-icon>
      </md-button></div> -->
      <div class="comment-options">
        <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <ng-md-icon icon="more_vert" size="17" ></ng-md-icon>
      </md-button>
      <md-menu-content width="3" class="drop-menu">
        <md-menu-item>
          <md-button>
            <ng-md-icon icon="delete" size="15" ></ng-md-icon>
            Delete
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button >
            <ng-md-icon icon="report" size="15" ></ng-md-icon>
            Report
          </md-button>
        </md-menu-item>
        

      </md-menu-content>
    </md-menu>
      </div>
          <p class="comment">{{ comment.comment }}</p>
        </div>
      </md-list-item>
    </md-list>
    <!-- Comments end -->

  

      </div>
    </md-dialog-content>

    <div class="add-comment">
      <form ng-submit="addComment()" name="commentForm">
        <md-input-container md-no-float class="md-block">
            <input ng-model="newComment" placeholder="Add comment" autocomplete="false">
          </md-input-container>
          <md-button type="submit" class="md-icon-button submit-comment" aria-label="More">
          <ng-md-icon icon="send" size="25" class="{{post.party==null ? 'others-con' : post.party + '-con'}}" ></ng-md-icon>
        </md-button>
      </form>
    </div>

  
</md-dialog>