<md-dialog aria-label="Comments" class="comments" ng-controller="navbarCtrl">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="back" ng-click="closeCreateGroup()">
        <ng-md-icon icon="arrow_back" size="30" ></ng-md-icon>
      </md-button>

      <h2><ng-md-icon icon="group_add"></ng-md-icon> {{'create_group' | translate }}</h2>

    </div>
  </md-toolbar>
  <md-dialog-content class="group" scroll-watch="updated">
  <div class="md-dialog-content group_content" >
      <form ng-submit="submitGroup()">
        <md-input-container layout-padding>
          <label>Group Name</label>
          <input ng-model="group.name">
        </md-input-container>

    <div class="md-dialog-content {{option.name+'-con'}}">

      <div class="file-upload">
         <div class="dragover upload-files" ngf-select="updateGroupImage($files)" ngf-drop="updateGroupImage($files)" 
         ngf-accept="'image/*'"
         ngf-allow-dir="true"
         ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/png,image/jpeg,image/gif'}">Select<span ng-show="dropSupported"> or Drop</span> image
       </div>

       <!-- <img ng-repeat="image in images" ngf-src="image" class="ng-hide"> -->
       <div class="preview-images">

        <div class="thumb-div" ng-repeat="image in images" ngf-background="!image.$error && image">

          <md-progress-circular md-diameter="50px" ng-class="{'done':image.progress==100}" md-mode="determinate" value="{{image.progress}}"></md-progress-circular>
        </div>
      </div>
      
    </div>
    <div layout="row" layout-align="center center" ng-show="shareButton">
      <md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'create_group' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
      </div>  
      </form>
    </div>
  </md-dialog-content>
</md-dialog>