<md-fab-speed-dial md-open="isOpen" md-direction="up"
                   class="md-scale md-fab md-fab-bottom-right md-hover-full">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab main-fab">
      <ng-md-icon icon="add" size="32"></ng-md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>

    <!-- Fab dial option buttons start -->
    <md-button ng-repeat="option in fabOptions" aria-label="{{option.title}}" ng-click="submit($event,option,user)" aria-haspopup="true" class="md-fab md-raised md-mini">

    <md-tooltip md-direction="left" md-visible="tooltipVisible"
                  md-autohide="false">
        {{option.title}}
    </md-tooltip>
      <ng-md-icon icon="{{option.icon}}" size="20"></ng-md-icon>
    </md-button>
    <!-- Fab dial option buttons end -->

  </md-fab-actions>
</md-fab-speed-dial>