<footer class="home">
	<div class="layout-max-width " layout="row" layout-align="space-between center">
		<div class="left-side">
			<a href="#">© Rajneeti Live. All rights reserved.</a> |
			<a href="#">Terms of use</a>
			<a href="#">Privacy policy</a>
		</div>
		<div class="right-side"> 
			<md-input-container ng-controller="langCtrl">
			<!--         <label>Language</label> -->
				<md-select aria-label="Select your language" ng-model="currentLanguage" ng-change="setLocale()">
					<md-option ng-repeat="language in languages" value="{{language.locale}}">
					{{language.title}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>
	</div>
</footer>