<div class="post-images">

    <img ng-if="post.img_size=='one'" class="post-img" ng-src="{{IMAGE_PATH}}/posts/{{post.images[0]}}" ng-click="zoomImage(post.images, post.img_size, post.user_name)" height="300px">

    <div ng-if="post.img_size!='one'" class="{{post.img_size}}">
    	<div  ng-click="zoomImage(post.images, post.img_size, post.user_name)" ng-repeat="image in post.images" class="image-{{$index+1}}-con image-con"><div class="image" style="background-image:url('{{IMAGE_PATH}}/posts/{{image}}')"></div></div>
        
    </div>

   

</div>