
   <md-card>
      <md-card-content>
   <md-list>
   <md-subheader class="md-no-sticky"><ng-md-icon icon="group"></ng-md-icon> {{ 'Groups' | translate}} <span class="create" ng-click="joinGroup()"><ng-md-icon icon="group_add" size="16"></ng-md-icon>
   <md-tooltip md-visible="demo.showTooltip_group" md-direction="right">
                {{ 'Groups' | translate}}
              </md-tooltip>
   </span></md-subheader>  
    <div class="group_main">
    
     <md-list-item class="noright" ng-repeat="group in groups" ng-click="openGroup(group.slug)">
        <img src="{{IMAGE_PATH}}/group/default_avatar.png" ng-src="{{IMAGE_PATH}}/group/{{group.image}}" class="md-avatar" />
        <p ng-bind="group.name"></p>
          <div class="md-secondary md-sec-btn">{{group.members}}</div>
      </md-list-item>    
    </div>
    <!-- <md-subheader class="md-no-sticky"><ng-md-icon icon="pages"></ng-md-icon> {{ 'page' | translate }} <span class="create"><ng-md-icon icon="create" size="16"></ng-md-icon>
   <md-tooltip md-visible="demo.showTooltip_page" md-direction="right">
                {{ 'create_page' | translate}}
              </md-tooltip>
   </span></md-subheader>  
   <div class="group_main">
       <md-list-item class="noright">
        <img ng-src="http://api.rajneeti.dev/images/profile/ee421674d3.jpg" class="md-avatar" />
        <p>Aam Aadmi Party  </p>  
        </md-list-item>

         <md-list-item class="noright">
        <img ng-src="http://api.rajneeti.dev/images/profile/ee421674d3.jpg" class="md-avatar" />
        <p>ABC</p>
      </md-list-item>
   </div> -->
   <!-- <md-subheader class="md-no-sticky"><ng-md-icon icon="chevron_right"></ng-md-icon> {{ 'SUGGESTED_PAGES' | translate}}</md-subheader>
   <md-list-item><img class="md-card-image" width="100%" ng-src="http://api.rajneeti.dev/images/posts/97e38cbb0d.jpg" /></md-list-item>  -->
  </md-list>
  </md-card-content>
  </md-card>
