<div class="md-whiteframe-z2">
  <form ng-submit="login(user.mobile, user.password)" name="loginForm">
	   <div class="layout-max-width" layout="row">
        <md-input-container flex="40" layout-padding>
          <label>Mobile Number</label>
          <input maxlength="10" minlength="10" ng-model="user.mobile" name="mobile" required ng-pattern="/^[789]\d{9}$/">

          <div ng-messages="loginForm.mobile.$error" ng-if='loginForm.mobile.$dirty'>
            <div ng-message="required,minlength,maxlength,pattern">
            Enter a valid Indian mobile number.
            </div>
          </div>
        </md-input-container>

        <md-input-container flex="40" layout-padding>
          <label>Password</label>
          <input maxlength="14" minlength="6" type="password" name="password" required ng-model="user.password">

          <div ng-messages="loginForm.password.$error" ng-if='loginForm.password.$dirty'>
            <div ng-message="required,minlength,maxlength">
            Enter a valid password of minimum 6 length.
            </div>
          </div>

        </md-input-container>

        <div flex="30" class="login-btn" layout-padding>
          <md-button type="submit" layout="row" ng-disabled="loginForm.$invalid || !loginForm.$dirty" class="my-btn">{{ 'LOGIN_BTN' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
        </div>
     
	   </div>

  </form>
</div>