<md-dialog aria-label="Comments" class="comments" ng-controller="nextmlaCtrl">
  
    <md-toolbar class="opt_head_main">
      <div class="md-toolbar-tools OTP_head">
      <md-button class="md-icon-button" aria-label="back" ng-click="closeModel()">
        <ng-md-icon icon="arrow_back" size="30" ></ng-md-icon>
        </md-button>
        
        <h2>4 digit OTP received on your mobile
          <span>
            <samp ng-hide="counter == '0'">00:{{counter}}</samp>
            <samp class="resend" ng-click="resend()" ng-show="counter == '0'">Resend</samp>
          </span>
        </h2>

      </div>
    </md-toolbar>
    <md-dialog-content class="OTP">

    <div class="add-comment">
      <form ng-submit="OTPVerify()" name="commentForm">
        <md-input-container md-no-float class="md-block">
            <input ng-model="OTP" maxlength="4" placeholder="Enter Pin" autocomplete="false">
          </md-input-container>
          <md-button type="submit" class="md-icon-button submit-comment" aria-label="More">
          <ng-md-icon icon="send" size="25" class="{{post.party==null ? 'others-con' : post.party + '-con'}}" ></ng-md-icon>
        </md-button>
      </form>
      
    </div>
    
    </md-dialog-content>

    

  
</md-dialog>