
<md-toolbar class="toolbar" scroll scroll-offset="90" layout="row" ng-class="{shrink:boolChangeClass}">
  <div class="md-toolbar-tools layout-max-width">
   <md-button aria-label="Menu" ng-click="toggleSidenav('left-nav')" class="md-icon-button">
    <ng-md-icon icon="menu" size="30" ></ng-md-icon>
  </md-button>  
  <div class="menu-btn">
    <md-button aria-label="Open demo menu" ng-click="goHome()" data-ui-sref-opts="{reload: true}">
      <ng-md-icon icon="home" size="30"></ng-md-icon> <span>{{ 'HOME_TITLE' | translate}}</span>
    </md-button>

    <md-menu>
      <md-button aria-label="Open demo menu" ng-click="notifiGet($mdOpenMenu, $event)">
        <ng-md-icon icon="notifications" size="30"></ng-md-icon><span class="alertLabel" ng-if="notiCount != 0">{{notiCount}}</span> <span>{{ 'notification' | translate}}</span>
      </md-button>
      <md-menu-content width="6" class="notificationContent">
        <md-menu-item ng-repeat="notification in notifications" class="drop_menu_item">

          <md-button>
            <!-- <img md-menu-align-target src="" /> -->
            <img class="noti-img" src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{notification.avatar}}">
            {{notification.name}}
            <p>{{notification.message}}</p><small class="notiTime">{{notification.created_at | relativeDate }}</small>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

 <!--    <md-button aria-label="Open demo menu" ng-click="messages()">
    <ng-md-icon icon="message" size="30"></ng-md-icon>
      <span class="alertLabel" ng-if="notiCount != 0"></span> 
      <span>{{ 'discussion' | translate}}</span>
    </md-button> -->

    <md-menu>
      <md-button aria-label="Open demo menu" ng-click="buddyRequest($mdOpenMenu, $event)">
        <ng-md-icon icon="account_box" size="30"></ng-md-icon><span class="alertLabel" ng-show="requestFound" ng-if="request != 0">{{request}}</span> <span>{{ 'buddy' | translate}}</span>
      </md-button>
      <md-menu-content width="6" class="notificationContent">
        <md-menu-item class="heading">{{ 'buddy_request' | translate }} <span class="see_more" ng-click="seeAllBuddy()">{{ 'See_more' | translate}}</span></md-menu-item>
        <md-list>
          <md-list-item ng-if="requestsGet.length == 0">
            <div class="noRequest">
              No Request
            </div>
          </md-list-item>
          <md-list-item ng-show="loading" class="loading"><md-progress-circular md-diameter="40" md-mode="indeterminate"></md-progress-circular></md-list-item>
          <md-list-item class="noright" ng-repeat="request in requestsGet">
            <img ng-src="{{IMAGE_PATH}}/profile/{{request.avatar}}" class="md-avatar" />
            <p>{{request.name}}</p>
            <div class="md-secondary md-sec-btn md-warn" ng-if="request.view == '0'" ng-click = "acceptRequest(request.buddy, $index)">{{ 'buddy' | translate}}</div>
            <div class="md-secondary md-sec-btn md-warn md-btn_active" ng-if="request.view == '1'" ng-click = "">{{ 'buddy' | translate}}</div>
          </md-list-item>
        </md-list>
      </md-menu-content>
    </md-menu>


  </div>
  <span flex></span>
  <div class="toolbar-right menu-btn search">
          <!-- <md-input-container>
              <input ng-model="user.title" type="text">
            </md-input-container> -->
            <md-button aria-label="Menu" ng-click="ctrl.openDialog($event)" class="md-icon-button">
              <ng-md-icon icon="search" size="30"></ng-md-icon>
            </md-button>
          </div>
          <div class="toolbar-right menu-btn">
            <div class="brand-logo"><img src="images/icon.png" height="30px" />
              <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
                {{ 'RAJNEETI_TITLE' | translate}}
              </md-tooltip>
            </div>
          </div>

        </div>
      </md-toolbar>


      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 side-nav" md-component-id="left-nav" >

        <div class="top-cover" ng-click="profileview(user.slug, 'left-nav')" style="background-image:url('{{IMAGE_PATH}}/cover/{{user.cover}}')">
          <img class="user-icon md-whiteframe-z1" src="{{IMAGE_PATH}}/profile/default_avatar.png" ng-src="{{IMAGE_PATH}}/profile/{{user.avatar}}">
          <h5 class="user-name" ng-bind="user.name"></h5>
          <h3 class="user-position {{user.party}}-post">{{user.type}}</h3>
          <h4 class="user-const">{{user.assembly}}</h4>
        </div>

        <div class="menu-links">

          <md-menu-content class="sideMenu">
            <md-menu-item class="md-indent">
              <md-button data-ui-sref-opts="{reload: true}" ng-click="profileview(user.slug, 'left-nav')">
                <ng-md-icon icon="person" size="20"></ng-md-icon> Profile
              </md-button>
            </md-menu-item>
            <md-menu-item class="md-indent">
              <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')" ui-sref-active="active">
                <ng-md-icon icon="home" size="20" ></ng-md-icon>
                {{ 'Timeline' | translate }}
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item class="md-indent">
              <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="notifications" size="20" ></ng-md-icon>
                {{ 'notification' | translate}}
              </md-button>
            </md-menu-item>
            <md-menu-item class="md-indent">
              <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="message" size="20" ></ng-md-icon>
                {{ 'messages' | translate}}
              </md-button>
            </md-menu-item> -->
            <md-menu-item class="md-indent">
              <md-button ui-sref="user.opinion.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="group" size="20" ></ng-md-icon>
                {{ 'public_opinion' | translate}}
              </md-button>
            </md-menu-item>
            <md-menu-item class="md-indent">
              <md-button ui-sref="user.messages.msg" data-ui-sref-opts="{reload:true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="chat" size="20"></ng-md-icon>
                {{ 'chat' | translate}}
              </md-button>
            </md-menu-item>
           <!--  <md-menu-item class="md-indent">
              <md-button ui-sref="user.news" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="cast" size="20" ></ng-md-icon>
                {{ 'political_news' | translate}}
              </md-button>
            </md-menu-item> -->
            <md-menu-item class="md-indent">
              <md-button data-ui-sref-opts="{reload: true}" ng-click="allParty('left-nav')">
                <ng-md-icon icon="contacts" size="20" ></ng-md-icon>
                {{ 'all_parties' | translate}}
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item ng-if="user.type != 'User'">
              <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload:true}" ng-click="toggleSidenav('left-nav')">
                <ng-md-icon icon="style" size="20"></ng-md-icon>
                {{'create_page' | translate}}
              </md-menu-item> -->
              <md-menu-item ng-if="user.type != 'User'">
                <md-button data-ui-sref-opts="{reload:true}" ng-click="createGroup('left-nav')">
                  <ng-md-icon icon="group_add" size="20"></ng-md-icon>
                  {{'create_group' | translate}}
                </md-button>
              </md-menu-item>

                <md-divider></md-divider>
                <md-menu-item class="md-indent">
                  <md-button ui-sref="user.setting.general" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                    <ng-md-icon icon="settings" size="20" ></ng-md-icon>
                    {{ 'account_setting' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item class="md-indent">
                  <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                    <ng-md-icon icon="live_help" size="20" ></ng-md-icon>
                    {{ 'help_center' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item class="md-indent">
                  <md-button ui-sref="user.timeline.public" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')">
                    <ng-md-icon icon="security" size="20" ></ng-md-icon>
                    {{ 'privacy_policy' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item class="md-indent select-lang">
                  <md-input-container ng-controller="langCtrl" layout="row">
                    <!--         <label>Language</label> -->
                    <ng-md-icon icon="language" size="20" flex="12" ></ng-md-icon>
                    <md-select flex="85" aria-label="Select your language" ng-model="currentLanguage" ng-change="setLocale()">
                      <md-option ng-repeat="language in languages" value="{{language.locale}}">
                        {{language.title}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </md-menu-item>

                <md-menu-item class="md-indent">
                  <md-button class="logout-btn" ng-click="logout()">
                    <ng-md-icon icon="logout" size="20" ></ng-md-icon>
                    {{ 'logout' | translate}}<md-progress-circular ng-if="logoutLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
                  </md-button>
                </md-menu-item>

              </md-menu-content>
            </div>

            <pre>








            </pre>
          </md-sidenav>