<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2 side-nav" md-component-id="right-nav" >
<div class="Chat_side_header">
    <input type="text" placeholder="Search.." class="searchFriend">
</div>
  <div class="menu-links chat_wrap">
     <md-list class="sideNavUser" ng-controller="rightSide">
         <md-list-item class="userListed md-2-line" aria-label="{{friend.name}}" ng-repeat="friend in friends" ng-click="openChat($index)">
              <img ng-src="{{IMAGE_PATH}}/profile/{{friend.avatar}}" class="md-avatar" alt="{{friend.options.face}}"/>
              <div class="md-list-item-text">
                <h3 ng-bind="friend.name"></h3>
                <p ng-if="friend.type != 'user'" ng-bind="friend.type"></p>
              </div>
              <div class="md-secondary onlineStatus md-icon-button">
                <ng-md-icon icon="brightness_1" size="12" ng-if="friend.status == 'online'" class="{{friend.status}}"></ng-md-icon>
              </div>
                <div class="md-secondary onlineStatus onlineTime md-icon-button" ng-if="friend.status == 'offline'">
                {{friend.created_at | relativeDate }}
              </div>
            </md-list-item>
            </md-list>
  </div>
</md-sidenav>

   