<md-card class="userOnline-button">
      <md-card-content>
        <div class="bottom-sheet-demo inset" layout="row" layout-sm="column">
         <md-button  aria-label="Menu" ng-click="rightToggle('right-nav')" flex class="button-green"><ng-md-icon icon="chat"></ng-md-icon> Online Users <span class="online_Count">{{totalOnline}}</span></md-button>
       </div>
     </md-card-content>
   </md-card>

   <md-card>
    <div class="partyPage" ui-sref="parties.page({party:party.slug})">
      <h3><ng-md-icon icon="keyboard_arrow_right"></ng-md-icon> Party</h3>  
      <div class="party" style="background-image:url({{IMAGE_PATH}}/cover/{{party.cover}})">
        <h3 ng-bind="party.eng_name"></h3>
        
        <div class="like_side">
          <span class="tooltiptext" ng-bind="party.likes"></span>
            <md-button layout="row" class="likeBtn" ng-show="party.i_like == 0">Like</md-button>
            <md-button layout="row" class="likeBtn" ng-hide="party.i_like == 0">Unlike</md-button>           
        </div>
      </div>
    </div>

    
    <!-- <md-card-content>
      <h2 class="md-title">Paracosm</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions> -->
  </md-card>

 <ng-include src="'/pages/user/partials/chat-popup.view.html'"></ng-include>
