<md-dialog aria-label="option.title" class="add-status">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
      
        <h2 ng-bind="option.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="back" ng-click="closeModal()">
        <ng-md-icon icon="close" size="30" ></ng-md-icon>
        </md-button>

      </div>
    </md-toolbar>
    <md-dialog-content >
      <div class="md-dialog-content {{option.name+'-con'}}" ng-switch="option.name">

      <div ng-switch-when="status" >
        <ng-include src="'/pages/user/partials/status/add-status.view.html'"></ng-include>
      </div>
      <div ng-switch-when="audio">
        <ng-include src="'/pages/user/partials/status/add-audio.view.html'"></ng-include>
      </div>
      <div ng-switch-when="video">
        <ng-include src="'/pages/user/partials/status/add-video.view.html'"></ng-include>
      </div>
      <div ng-switch-when="images">
        <ng-include src="'/pages/user/partials/status/add-images.view.html'"></ng-include>
      </div>
  

      </div>
    </md-dialog-content>

  
</md-dialog>