 <md-tabs md-stretch-tabs="always"
           md-selected="selectedTab" class="my-tabs" md-swipe-content="true">
     <md-tab class="md-ink-ripple" label="{{ 'Public' | translate }}"></md-tab> 
     <md-tab class="md-ink-ripple" label="{{ 'party' | translate}}"></md-tab>
     <md-tab class="md-ink-ripple" label="{{ 'assembly' | translate}}"></md-tab>  
  </md-tabs>