<videogular vg-theme="'/style/videogular.css'" class="videogular-container video">
    <vg-media vg-src="[{src: post.content, type: 'video/mp4'}]"
              vg-native-controls="true">
    </vg-media>
</videogular>