<md-dialog aria-label="Comments" class="images">  
    <md-toolbar>
      <div class="md-toolbar-tools {{post.party==null ? 'others-bg' : post.party + '-bg'}}">
      <md-button class="md-icon-button" aria-label="back" ng-click="closeImage()">
        <ng-md-icon icon="arrow_back" size="30" ></ng-md-icon>
        </md-button>
        <span flex></span>
        <h2>{{name}}</h2>

      </div>
    </md-toolbar>
    <md-dialog-content scroll-watch="updated" class="imageZoom">
        <div class="image_wrapper" ng-if="size == 'one'">
            <img src="{{IMAGE_PATH}}/posts/{{zoomimage[0]}}" height="450px">
        </div>
    
    <div class="image_wrapper" ng-if="size != 'one'">
        <img ng-repeat="photo in zoomimage" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{IMAGE_PATH}}/posts/{{photo}}" height="450px" />
            <!-- <img src="{{IMAGE_PATH}}/posts/{{zoomimage[0]}}" ng-if="size == 'one'" height="450px"> -->
      
        <div class="back_btn">
          <md-button class="md-icon-button" ng-click="showPrev()">
            <ng-md-icon icon="chevron_left" size="50"></ng-md-icon>
          </md-button>
        </div>
        <div class="right_btn">
          <md-button class="md-icon-button" ng-click="showNext()">
            <ng-md-icon icon="chevron_right" size="50"></ng-md-icon>
          </md-button>
        </div>
    </div>
    


    </md-dialog-content>
 
</md-dialog>