<div class="file-upload" ng-controller="videoCtrl">
<form ng-submit="shareVideo()" name="statusForm">
 <div class="dragover upload-files" ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)"  
ngf-accept="'video/*'"
ngf-allow-dir="true"
ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/png,image/jpeg,image/gif'}">Select<span ng-show="dropSupported"> or Drop</span> Video
            </div>

            <!-- <img ng-repeat="image in images" ngf-src="image" class="ng-hide"> -->
            <div class="preview-images" ng-if="images != null">

            <md-progress-linear md-mode="determinate" value="{{images[0]['progress']}}"></md-progress-linear>
            </div>

<div layout="row" layout-align="end center"  ng-show="shareButton">
    <md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'Post_button' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
  </div>
  </form>
</div>