<form ng-submit="addStatus()" name="statusForm" ng-controller="statusCtrl">
	<md-input-container md-no-float class="status-in">
		<textarea name="status" ng-model="statusMsg" rows="3" placeholder="Whats Happening?" ng-maxlength="1000"></textarea>
	</md-input-container>
	<div layout="row" layout-align="end center">
		<md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'Post_button' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
	</div>
</form>