<div class="file-upload" ng-controller="imagesCtrl">
<form ng-submit="shareImage()" name="statusForm">
 <div class="dragover upload-files" ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" ngf-multiple="true" ngf-accept="'image/png,image/jpeg,image/gif'" ngf-allow-dir="true" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/png,image/jpeg,image/gif'}">Select<span ng-show="dropSupported"> or Drop</span> images
            </div>

            <!-- <img ng-repeat="image in images" ngf-src="image" class="ng-hide"> -->
            <div class="preview-images">
        
              <div class="thumb-div" ng-repeat="image in images" ngf-background="!image.$error && image">
              
                <md-progress-circular md-diameter="50px" ng-class="{'done':image.progress==100}" md-mode="determinate" value="{{image.progress}}"></md-progress-circular>
              </div>
            </div>
            <!-- <li class="sel-file" ng-repeat="f in images">
      <div>
        <div ngf-background="!f.$error && f" class="thumb-div"></div>
				<span class="progress" ng-show="f.progress >= 0">
					<div style="width:{{f.progress}}%">{{f.progress}}%</div>
				</span>
        <button class="button" ng-click="f.upload.abort();f.upload.aborted=true"
                ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">
          Abort<span ng-show="isResumeSupported">/Pause</span>
        </button>
        <button class="button" ng-click="upload(f, true);f.upload.aborted=false"
                ng-show="isResumeSupported && f.upload != null && f.upload.aborted">Resume
        </button>
        <button class="button" ng-click="restart(f);f.upload.aborted=false"
                ng-show="isResumeSupported && f.upload != null && (f.progress == 100 || f.upload.aborted)">Restart
        </button>
        {{f.name}} - size: {{f.size}}B - type: {{f.type}}
        <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>

        <div ng-show="f.showDetail">
          <br/>

          <div data-ng-show="f.result.result == null">{{f.result}}</div>
          <ul>
            <li ng-repeat="item in f.result.result">
              <div data-ng-show="item.name">file name: {{item.name}}</div>
              <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
              <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
              <div data-ng-show="item.value">value: {{item.value}}</div>
            </li>
          </ul>
          <div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
        </div>
      </div>
    </li> -->

<div layout="row" layout-align="end center" ng-show="shareButton">
    <md-button type="submit" layout="row" class="md-raised orange-btn">{{ 'Post_button' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
  </div>
  </form>
</div>