<md-content class="posts buddy">
	<md-card>
		<div class="buddy-wrap">
			<h3>People You May Know</h3>
			<md-list>
				<md-list-item class="noright" ng-repeat="user in users" ng-if="user.id != authId">
					<img ng-src="{{IMAGE_PATH}}/profile/{{user.avatar}}" class="md-avatar" />
					<p>{{user.name}}<br><small>{{user.assembly}}</small></p>

					<div class="md-secondary md-sec-btn md-warn md-btn_active" ng-click="" ng-if="user.friend == '1' && user.view == '0'">{{ 'request_send' | translate}}</div>

					<div class="md-secondary md-sec-btn md-warn md-btn_active" ng-click="buddyleave(user.id, $index)" ng-if="user.friend == '1' && user.view == '1'">{{ 'buddy_leave' | translate}}</div>

					<div class="md-secondary md-sec-btn md-warn" ng-click="buddyUp(user.id, $index)" ng-if="user.friend == '0'">{{ 'buddy' | translate}}</div>
				</md-list-item>
			</md-list>
	</md-card>
</md-content>