<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>

<!-- navbar -->
<div ui-view="navbar"></div>





  <div ui-view autoscroll='true' class="user-view"></div>

<div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
         		<re>
         			




































































         		</pre>
            </md-content>
        </div>




{{mydata()}}
<div ui-view="footer"></div>
<!-- Fab Dial -->
<div ui-view="fabDial"></div>

