<div ui-view="header"></div>
<div class="layout-max-width padding-for-topbar">
	<div flex layout="column" layout-align="center center">
		<md-card class="OTP_model">
			<form ng-submit="submitOTP(user.otp)">
				<header layout-align="center center" layout="row">
					4 digit OTP received on your mobile
				</header>
				<md-content>
					 <md-input-container>
				        <label>Enter OTP</label>
				        <input ng-model="user.otp" maxlength="4">
				      </md-input-container>
				</md-content>
				<md-card-actions layout="row" layout-align="end center">
				  <span ng-show="counter != 0">0:{{counter}}</span>	
		          <md-button ng-click="resend()" type="button" ng-hide="counter != 0">Resend</md-button>
		          <md-button type="submit" class="md-raised orange-btn">Submit</md-button>
		        </md-card-actions>
	        </form>
		</md-card>
	</div>	
</div>

