<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>

<span class="close-modals" ng-if="signupModalStatus() || loginModalStatus()" ng-click="closeAllModals()"></span>

<!-- Home container -->
<div ui-view="homeContainer"></div>

<!-- Footer starts-->
<div ui-view="footer"></div>

<!-- Login modal starts -->
<div ui-view="loginModal"></div>

<!-- Signup modal starts -->
<div ui-view="signupModal"></div>
