<!-- navbar -->

<div class="padding-for-topbar layout-max-width" layout="row">
<div flex="20" class="left-sidebar">
  <div ui-view="leftSide"></div>
</div>
	<div flex="50">
		<div ui-view="tabs" ></div>
    <div ui-view>  </div>

  </div>
  <div flex="30" class="right-sidebar">
    <div ui-view="rightSide"></div>  
  </div>

</div>
<!-- yessssssssssssssssss-->

<ng-include src="'/pages/user/partials/onlineUserSide.view.html'"></ng-include>