@import "partials/variables.scss";
@import "partials/mixins.scss";

.add-status{

	md-toolbar .md-toolbar-tools{
		color: whitesmoke;

		svg{
			fill: whitesmoke;
		}
	}

	md-dialog-content{
		max-width: 100%;
		width: 800px;
	}

	.status-in{
		padding-bottom: 5px;
	}

	.status-con{

	}

	.images-con{

	}

	.video-con{

	}

	.audio-con{

	}

}

// Upload files

.file-upload{

	.upload-files{
	border: 2px dashed grey;
	padding: 30px;
	text-align: center;
	cursor: pointer;
}


	.preview-images{

		text-align: center;
		padding-top:5px;

		.thumb-div{
			margin-top: 10px;
			margin-right: 10px;
			border-radius: 3px;

			md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle{
    			border-right-color: rgba(0,0,0,0.3);
			}

			md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle, md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle{
				border-bottom-color: rgba(0,0,0,0.3);
			}

			md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle{
				border-left-color: rgba(0,0,0,0.3);
			}

			md-progress-circular.done .md-inner .md-right .md-half-circle {
				border-right-color: rgba($lightGreen,0.8);
			}

			md-progress-circular.done .md-inner .md-left .md-half-circle, md-progress-circular.done .md-inner .md-right .md-half-circle{
				border-top-color: rgba($lightGreen,0.8);
			}

			md-progress-circular.done .md-inner .md-left .md-half-circle{
				border-left-color: rgba($lightGreen,0.8);
			}

		}
	}
}