@import "partials/variables.scss";
@import "partials/mixins.scss";

body{
	font-family: 'Roboto', sans-serif;
	font-size:13px;

}
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
::-webkit-scrollbar {
	-webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
	width: 8px;
}

::-webkit-scrollbar:horizontal {
	height: 11px;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 1px solid white; /* should match background, can't be transparent */
	background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-track { 
	background-color: transparent; 
	border-radius: 8px; 
}

a{
	&:focus{
		display: none;
	}
}
body.guest-home{
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}



.opt_head_main{
	min-height:48px;
}
.OTP{
	min-height:auto !important;
}
.OTP_head{
	background:$primaryColor;
	letter-spacing:0px;
	height:48px;

	span{
		margin-left: 80px;
		.resend{
			cursor: pointer;
			font-weight: normal !important;
		}
	}
}


// right sidebar
.partyPage{
	h3{
		ng-md-icon{
			fill:$primaryColor;
		}
	}
	.party{
		height:150px;
		width:100%;
		background-position:center;
		background-size:cover;
		box-shadow:inset 0px -80px 41px -14px rgba(0, 0, 0, 0.63);

		h3{
			color:$white;
			top:122px;
			left:10px;
			position:relative;
			width: 200px;
		    text-overflow: ellipsis;
		    white-space: pre;
		    overflow: hidden;
		}
		.like_side{
			top:76px;
			right:10px;
			color:$white;
			float:right;
			
			position:relative;
			.likeBtn{
				border: 1px solid whitesmoke;
				padding:0px;
				min-height:20px;
				line-height: 20px;
				min-width:60px;
				cursor: default;
			    color: white !important;
			    background: transparent !important;
			    float:right;
			}
			.tooltiptext {
			    float:left;
			    background-color: $yellowLight;
			    color: black;
			    text-align: center;
			    padding: 5px 5px;
			    right:80px;
			    top:6px;
			    border-radius: 6px;
			    position: absolute;
			    z-index: 1;
			    &::after {
					content: " ";
				    position: absolute;
				    top: 50%;
				    left: 100%; /* To the right of the tooltip */
				    margin-top: -5px;
				    border-width: 5px;
				    border-style: solid;
				    border-color: transparent transparent transparent $yellowLight;
				}
			}
		}
	}
	img{
		margin:5px 0px;
	}
}

.group{
	min-height:195px !important;
	.group_content{
		width:400px;
	}
}

// parties modal
.parties{
	overflow: hidden;
	md-dialog-content{		
		min-height: 294px;
	}

	.md-dialog-content{
		max-width: 800px;
		padding: 5px 20px!important;

	}
	.md-toolbar-tools{
		color: whitesmoke;

		svg{
			fill:whitesmoke;
		}
	}




	.md-icon-button .arrow_back{
		fill:$white;
	}
	
	.parties_wrap{
		width:809px;
		.party{
			height:177px;
			width:200px;
			cursor: pointer;
			border:1px solid $white;
		}
	}
}

.sideList{
	padding:0px !important;

	md-list-item.md-3-line, md-list-item.md-3-line>.md-no-style{
		min-height: 0px !important;
	}
	.groupName{
		margin-left:10px !important;
	}
}
.Group-avatar{
		height:30px;
		width:30px;
		border-radius:50%;
	}
.noRequest{
	color:$grey;
	text-align:center;
	margin:0px auto;
}
.loading{
	md-progress-circular{
		text-align:center;
		margin:0px auto;
	}
}

.md-dialog-container{
	top:0!important;
}

.user-view{
	background: $lightGrey;
	min-height:100vh;
	min-height:calc(100vh - 45px);
}
.md-padding{
		padding:0px;
	}

.notificationContent{
	max-height:400px !important;
	md-menu-item{
		height:35px;
		min-height: 35px;
	}
	.md-sec-btn{
		cursor: pointer;
		border:1px solid $primaryColor;
		padding:5px 15px;
		color:$primaryColor;
		border-radius:3px;

		&:active,.active{
			background:$primaryColor;
			color:$white;
		}
	}
	.md-btn_active{
			background:$primaryColor;
			color:$white;
		}
	.heading{
		padding:0px 10px 10px 10px;
		height:20px;
		min-height: 20px;
		color:$primaryColor;

		.see_more{
			float:right;
		    right:0px;
		    position:absolute;
		    width:100px;
		    cursor:pointer;
		    margin:0px;
		    top:8px;
		    text-align:right;
		    &:focus{
		    	display: none;
		    }
		}
	}
}

.drop_menu_item{
	border-top:1px solid $lightGrey;
	border-bottom:1px solid $lightGrey;

	.noti-img{
		border-radius: 50%;
		height:30px;
		width:30px;
	    float: left;
	    padding-top: 2px;
	    margin-right: 11px;
	}
	.notiTime{
		float:right;
		font-size: 10px;
	}
}

.layout-max-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 600px){
	md-toast.md-bottom.md-left {
		bottom: 25px;
		left: 25px;
		position: fixed;
	}
}

.frant-btn{
	width: 60%;
	margin:10px 0px 10px 43px;
	height:69px;
}

.my-btn{
	border: 1px solid whitesmoke;
	
	color: white!important;
	background: transparent!important;
	&:hover{
		background:$white;
	}
    	
	md-progress-circular{
		position: absolute;
    	right: -30px;
    	top:-32px;

    	.md-inner .md-left .md-half-circle{
    		border-top-color: $primaryColor;
    		border-left-color: $primaryColor;
    	}

    	.md-inner .md-right .md-half-circle{
    		border-top-color: $primaryColor;
    		border-right-color: $primaryColor;
    	}
	
  	}
}


.alertLabel{
		background: red;
	    padding: 3px;
	    border-radius: 50%;
	    position: absolute;
	    z-index: 99;
	    left: 0px;
	    height: 20px;
	    width: 20px;
	    text-align: center;
	    line-height: 13px;
	    font-size: 10px;
	}

.my-btn:hover, .my-btn.active{
	background-color: $white !important;
	color: $primaryColor !important;

	md-progress-circular{

		.md-inner .md-left .md-half-circle{
			border-top-color: white;
			border-left-color: white;
		}

		.md-inner .md-right .md-half-circle{
			border-top-color: white;
			border-right-color: white;
		}

	}
}

.my-btn:hover{
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.12),0 1px 10px 0 rgba(0,0,0,0.12);
}

.orange-btn{
	background: $primaryColor!important;
	color: white!important; 
}

.orange-btn:hover, .orange-btn:visited, .orange-btn:focus{
	background: $primaryColor!important;
	color: white!important;
}

.logout-btn{
    	
	md-progress-circular{
		position: absolute;
    	right: -25px;
    	top:-26px;

    	.md-inner .md-left .md-half-circle{
    		border-top-color: rgba(0, 0, 0, 0.87);
    		border-left-color: rgba(0, 0, 0, 0.87);
    	}

    	.md-inner .md-right .md-half-circle{
    		border-top-color: rgba(0, 0, 0, 0.87);
    		border-right-color: rgba(0, 0, 0, 0.87);
    	}
	
  	}
}
.md-button{
	font-size:13px !important;
	
}
/*** Fab dial ***/
md-fab-speed-dial.md-fab-bottom-right {
	position: fixed;
}
.md-button.md-fab.main-fab,.md-button.md-fab.main-fab:visited{
	background-color: $primaryColor!important;
}

.md-button.md-fab.main-fab:hover,.md-button.md-fab.main-fab:focus{
	/*background-color: #FF512F!important;*/
}

svg{
	vertical-align: middle;
}
.md-button.md-fab svg{
	fill: black;
}

.md-button.md-fab.main-fab svg{
	fill: white;
	vertical-align: middle;
}


/*** Tool bar ***/
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	background-color: $primaryColor!important;
}



.toolbar{
	color: white;
	position: fixed;
	transition: min-height 0.3s ease-in-out;
	z-index: 10;

	.md-toolbar-tools{
		transition: height 0.4s ease-in-out,max-height 0.5s ease-in-out;
	}
}



.toolbar.shrink{
	min-height: 50px;

	.md-toolbar-tools{
		max-height: 50px;
		height: 50px;
	}

}

.search{
	padding-right:20px;
	color:white;
}

.menu-btn {
	padding-top:4px;
	span.ng-scope{
		color:white;
	}
}

@media (min-width: 600px){
	.toolbar .md-toolbar-tools{
		padding: 0;
	}
}


.toolbar svg{
	fill: white;
}

/** Sidenav **/

.side-nav{
	position: fixed;

	.top-cover{
		cursor: pointer;
		background-color: $primaryColor;
		background-image:  url(/images/bg.jpg);
	    background-position: center center; 
	  	background-size: cover;
	  	min-height: 130px;
	  	width: 100%;
	  	display: block;
	  	position: relative;
		box-shadow: inset 0px -79px 41px -14px rgba(0,0,0,0.63);

		.user-icon{
			position: absolute;
			height: 100px;
			width: 100px;
			border-radius: 50%;
			top: 60px;
			left: 10px;
			z-index: 2;

		}

		.user-name{
			position: absolute;
			top: 48px;
			left: 115px;
			color: white;
			font-size:14px;
			font-weight: normal;
			font-weight: 200;
		}

		.user-position{
			position: absolute;
			top: 78px;
			left: 105px;
			padding: 3px 5px;
			padding-left: 10px;
			z-index: 1;
			color: white;
			font-size: 12px;
			// background:$primaryColor;
			border-radius: 2px;
		}
		.user-position.bjp-post{
				background:$bjpColor;
			}
		.user-position.cogress-post{
				background:$congressColor;
			}
		.user-position.sad-post{
				background:$sadColor;
			}
		.user-position.aap-post{
				background:$aapColor;
			}
		.user-position.bsp-post{
				background:$bspColor;
			}
		.user-position.other-post{
			background:$othersColor;
		}


		.user-const{
			position: absolute;
			top: 96px;
			left: 116px;
			color: white;
			font-weight: normal;
			font-weight: 200;
			font-size: 12px;
		}
	}

	.menu-links{
		margin-top: 30px;

		.select-lang md-input-container{
			padding:0 16px;
		}

		ng-md-icon{
			height: 100%;
			line-height: 43px;
			padding-right: 10px;
		}

		a.active{
    		background-color: rgba(158,158,158,0.2);
		}
	}
	.sideMenu{
			max-height: none !important;
		}
}
 

md-backdrop {
	position: fixed;
}

.md-dialog-container{
	position: fixed;
}

.padding-for-topbar{
	padding-top: 64px;
}

/*** Party background colors ***/

.bjp-bg{
	background-color: $bjpColor!important;
}

.congress-bg{
	background-color: $congressColor!important;
}

.bsp-bg{
	background-color: $bspColor!important;
}

.aap-bg{
	background-color: $aapColor!important;
}

.sad-bg{
	background-color: $sadColor!important;
}

.others-bg{
	background-color: $othersColor!important;
}

/*** Party svg fills ***/
.bjp-con svg{
	fill: $bjpColor!important;
}

.congress-con svg{
	fill: $congressColor!important;
}

.bsp-con svg{
	fill: $bspColor!important;
}

.aap-con svg{
	fill: $aapColor!important;
}

.sad-con svg{
	fill: $sadColor!important;
}

.others-con svg{
	fill: $othersColor!important;
}

/** Dropdown menu content **/
.drop-menu{

	ng-md-icon{
		padding-right: 10px;
	}
	
} 


.thumb-div{
	display: inline-block;
	height: 100px;
	width: 100px;
	background-size:cover;
	background-position: center center;
}