@import "partials/variables.scss";
@import "partials/mixins.scss";

.buddy{
	.buddy-wrap{
		padding:10px;

		.md-sec-btn{
			cursor: pointer;
			border:1px solid $primaryColor;
			padding:5px 15px;
			color:$primaryColor;
			border-radius:3px;

			&:active,.active{
				background:$primaryColor;
				color:$white;
			}
		}
		.md-btn_active{
			background:$primaryColor;
			color:$white;
		}
	}
}