@import "partials/variables.scss";
@import "partials/mixins.scss";

.chat-popup-wrapper{
	position:fixed;
	bottom:0px;
	right:0px;
	width:auto;
	height:300px;
	z-index:59;
		
		.chat-popup{
			background:$white;
			height:300px;
			width:250px;
			border-radius:5px 5px 0px 0px;
			float:right;
			margin:0px 2px;
			display:inline;

			.header{
				background:$primaryColor;
				height:40px;
				line-height: 40px;
				width:100%;
				position:relative;
				border-radius:5px 5px 0px 0px;
				color:$white;
				.online{
					fill:$bjpColor;
					padding:4px;
				}
				.offline{
					fill:$yellowLight;
					padding:4px;
				}
				span{
					padding:5px;
					width:50px;
					position:relative;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.closeBtn{
					float:right;
					right: -13px;
				    position: absolute;
				    top: -4px;
				    ng-md-icon{
				    	fill:$white;
				    }
				}
			}

			.chat-content{
				height:300px;
				overflow-y: auto;
				height: calc(300px - 72px);

				.recived_msg{
				padding-left:10px;
				float:left;
				min-width: 174px;
				max-width: 216px;
    			word-wrap: break-word;
    			margin: 3px 0px;
				.avatar{
					float:left;
					.md-avatar{
						height:30px;
						width: 30px;
						border-radius:50%;
						float:left;
						top:50%;
					}
				}
				/* CSS talk bubble */
				.talk-bubble-left {
					margin: 3px 40px 5px 20px;
					display: inline-block;
					position: relative;
					width: auto;
					min-width: 174px;
					border-radius:0px 5px 5px 5px;
					float:left;
					height: auto;
					color:$white;
					background-color: $received_msg;
				}
				.tri-right.left-top:after{
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					left: -9px;
					right: auto;
					top: 0px;
					bottom: auto;
					border: 22px solid;
					border-color: $received_msg transparent transparent transparent;
				}
			}

			.send_msg{	
				padding-right:10px;
				min-width: 174px;
				max-width: 265px;
    			word-wrap: break-word;
				float:right;
				.avatar{
					float:right;
					right:0px;
					.md-avatar{
						height:32px;
						width: 32px;
						border-radius:50%;
						float:right;
					}
				}
				.status-icon{
						position: relative;
				    	left: -5px;
				    	top: 17px;
				    }

				.talk-bubble-right {
					margin: 3px 6px 5px 40px;
					display: inline-block;
					position: relative;
					min-width: 165px;
					border-radius:5px 0px 5px 5px;
					width: auto;
					float:right;
					height: auto;
					color:$white;
					background-color: $primaryColor;
				}

				.tri-left.left-top:after{
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					left: auto;
					right: -9px;
					top: 0px;
					bottom: auto;
					border: 22px solid;
					border-color: $primaryColor transparent transparent transparent;
				}
			}

			/* talk bubble contents */
			.talktext{
				padding: 6px;
				text-align:left;
				line-height: 1.5em;
				z-index: 32;
    			position: relative
			}
			.talktext p{
				/* remove webkit p margins */
				-webkit-margin-before: 0em;
				-webkit-margin-after: 0em;
			}	


			}
			.footer{
				border-top:1px solid $lightGrey;
				position:relative;
				bottom:0;
				width: 100%;
				background: white;
				display: block;
				box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);

				md-input-container{
					padding: 3px 10px;
					padding-right:73px;
				}

				.submit-comment{
					position: absolute;
					right: -5px;
					top:-9px;
					ng-md-icon svg{
						fill:$darkGrey !important;					
					}
				}
				.submit-emoji{
					position: absolute;
					right: 30px;
					top:-9px;
					ng-md-icon svg{
						fill:$darkGrey !important;					
					}
				}
			}
		}
}