@import "partials/variables.scss";
@import "partials/mixins.scss";
// profile page css
.cover_image{
	height:400px;
	width:100%;
	background-position:fixed;
	background-align:center;
	background-size:cover;
	box-shadow:inset 0px -104px 41px -14px rgba(0, 0, 0, 0.63);
}

.profile.post{
	margin-left:100px;
	position:absolute;
	z-index:5;
	top:300px;
	
	.meta-section{
		position: relative;

		.profilePhoto{
			position:absolute;
			z-index:99;
			left:50%;
			min-width:35px !important;
			top:165px;
			ng-md-icon{
				fill:$white;
				opacity: 0.5;
			}
		}
		.profile-img{
			height: 200px;
			width: 200px;
			position: absolute;
			top: 10px;
			left: 10px;
			border-radius: 50%;
			z-index: 2;
			background: url(#{$imagePath}/profile/default_avatar.png) center;
			background-size: cover;
		}

		.profile-name{
			position: relative;
			width:auto;
			top: 70px;
			left:220px;
			font-size:30px;
			color:$white;
			cursor: pointer;
			font-weight: normal;
			font-weight: 200;
			padding: 0;
			margin: 0;
		}

		.profile-position{
			position: absolute;
			top: 110px;
			left:200px;
			font-weight: normal;
			font-weight: 200;
			min-width: 200px;
			padding: 1px 7px;
			font-size:20px !important;
			padding-left: 20px;
			padding-right:10px;
			margin: 0;
			z-index: 1;
			color: white;
			font-size: 13px;
			background:$primaryColor;
			border-radius: 2px;
		}

		.post-options{
			position: absolute;
			top: -2px;
			right: -7px;

			svg{
				fill: grey;
			}

		}

		.like-counter{
			position: absolute;
			right: 50px;
			top: 30px;

			span{
				padding: 4px;
				font-size: 14px;
			}

			span:nth-child(1){

				border: 1px solid grey;
				border-radius: 3px 0px 0px 3px;
				color: $darkGrey;
			}

			span:nth-child(2){
				background: grey;
				border: 1px solid grey;
				padding: 4px 5px;
				border-radius: 0px 3px 3px 0px;
				color: white;
			}
		}
	}

	.body-section{ 

		.post-content{
			padding: 10px;
			white-space: pre-wrap;
			text-align: justify;
		}

		.posts-img-con{
			width: 100%;
			max-height: 400px;
			overflow:hidden;

			.post-img{
				height: auto;
				width: auto;
				max-width: 100%;

			}
		}
	}

	.footer-section{
		height: 50px;
		width: 100%;
		border-radius: 0 0 3px 3px;
		border: none;
		padding: 0 10px;
		color: whitesmoke;
		font-size: 14px;

		.post-action{

			// .md-ripple-container{
			// 	top:12px;
			// 	height: 25px;
			// }

			.post-like,.post-dislike{
				width: 25px;
				height: 25px;
				line-height: 0;
			}

			.post-like{
				margin-right: 0;
			}
			.post-dislike{
				margin-left: 0;
				margin-right: 15px;
			}

			.post-comments{

				.post-comment-btn{
					margin-left: 0;
					width: 25px;
					height: 25px;
					line-height: 0;
				}
		
			}
			svg{
				fill:whitesmoke;
			}

			button.md-button[disabled]{
				cursor: default;
				opacity: 0.4;
			}
		}

	}
}
.profile.post.bjp-post{
	border-color: $bjpColor;

	.meta-section .like-counter span{
		border-color: $bjpColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $bjpColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $bjpColor;
	}

}

.profile.post.congress-post{
	border-color: $congressColor;

	.meta-section .like-counter span{
		border-color: $congressColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $congressColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $congressColor;
	}

}

.profile.post.sad-post{
	border-color: $sadColor;

	.meta-section .like-counter span{
		border-color: $sadColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $sadColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $sadColor;
	}

}

.profile.post.bsp-post{
	border-color: $bspColor;

	.meta-section .like-counter span{
		border-color: $bspColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $bspColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $bspColor;

	}

}

.profile.post.aap-post{
	border-color: $aapColor;

	.meta-section .like-counter span{
		border-color: $aapColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $aapColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $aapColor;
	}

}

.profile.post.others-post{
	border-color: $othersColor;

	.meta-section .like-counter span{
		border-color: $othersColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $othersColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $othersColor;
	}

}

.userDetail{
	padding:10px;

	.layout-row{
		padding:10px 0px;
	}
}

.like_page{
	right:100px;
	top:400px;
	color:$white;
	fill:$white;
	position: absolute;
}
.editButton{
	min-width:30px;
	ng-md-icon{
		fill:$white;
	}
}
.coverButton{
    position: relative;
    top: 0px;
    float: left;
}

.changeCover{
	border:1px solid red;
	position:absolute;
}

@media(min-width:700px){
	.profile.post{
		margin-left:70px;
	}
}