@import "partials/variables.scss";
@import "partials/mixins.scss";
// group page css
.flex-45, .layout-row>.flex-45{
	flex: 0 0 48%;
    max-width: 48%;
}
.group_wrap{
	background:$white;
	height:100px;
	width:100%;
	margin:5px;
	padding:10px;
	float:left;

	.group_img{
		border-radius:50%;
		height: 80px;
		width: 80px;
		float:left;
	}
	h3{
		color:$darkGrey;
		left:10px;
		text-overflow: ellipsis;
		float:left;
		position: relative !important;
		width: 236px;
    	text-overflow: ellipsis;
        overflow: hidden;
    	white-space: nowrap;
    	font-size: 15px;
	}
	p{
		position: relative;
	    width: 155px;
	    color:$grey;
	    float: left;
	    padding: 0px;
	    margin: 0px;
	    left: 10px;
	}
	.joinButton{
		width: auto;
    	top: -10px;
    	left: 0px;

    	.join_btn{
    		border:2px solid $primaryColor;
    		background:transparent;
    		color:$primaryColor;
    		
    		&.active{
    			background:$primaryColor;
    			color:$white;
    			border:none;
    			
    		}
    	}
	}
}