@import "partials/variables.scss";
@import "partials/mixins.scss";

// image zoom 
.images{
	overflow: hidden;
	padding:0px !important;
	max-height: auto;
	md-dialog-content{
		
		min-height: 300px;
	}

	.md-dialog-content{
		max-width: 800px;
		padding: 5px 20px!important;

	}
	.md-toolbar-tools{
		color: whitesmoke;

		svg{
			fill:whitesmoke;
		}
	}

	.image_wrapper{
		width: 100%;
		height: 100%;
	}
	.back_btn{
		position: absolute;
		height:100%;
		z-index:99;
		top:50%;
		svg{
			fill:white;
			opacity: 0.6;
		}
	}
	.right_btn{
		position: absolute;
		height:100%;
		z-index:99;
		top:50%;
		right:0px;
		svg{
			fill:white;
			opacity: 0.6;
		}
	}
}
