@import "partials/variables.scss";
@import "partials/mixins.scss";

.OTP_model{
	margin-top:10%;
	height: 195px;
    width: 550px;
    border-radius:2px;
	background:$white;

	header{
		background:$primaryColor;
		height:50px;
		color:$white;
		font-size:14px;
	}
	md-content{
		padding:10px;
	}
}