@import "partials/variables.scss";
@import "partials/mixins.scss";
// messages page css
.messages_main_page{
	width:100%;
	height:450px;
	background:$white;

	.searchFriend{
		font-size: 100%;
		width: 90%;
		height: 25px;
		padding: 4px;
		border: 1px solid lightgray;
		border-radius: 3px;
	}

	.whiteLoading{

		.md-inner .md-left .md-half-circle{
			border-top-color: white;
			border-left-color: white;
		}

		.md-inner .md-right .md-half-circle{
			border-top-color: white;
			border-right-color: white;
		}

	}

	.selectUser_avatar{
		float:left;
		line-height: 50px;
		padding:10px 0px 0px 10px;
		.md-avatar{
			border-radius:50%;
			height:30px;
			width:30px;
		}
	}

	.users_list{
		border-right:1px solid $lightGrey;

		.header{
			background:$primaryColor;
			height:50px;
			line-height: 50px;
			text-align: center;
			color:$white;
			position:relative;
			width:100%;
		}

		.user{
			overflow-y: hidden;
			height: 450px;
			md-list-item.md-2-line, md-list-item.md-2-line>.md-no-style{
				padding-left:4px;
			}
			&:hover{
				overflow-y: auto;
			}

		}
		.onlineIcon{
			fill:$lightGreen;
			padding:5px;
		}
		.offlineIcon{
			fill:$lightGrey;
			padding:5px;
		}

	}

	.messages_in{
		width:100%;
		position:relative;

		.user_menu_chat{
			right:0px;
			float:right;

			ng-md-icon{
				fill:$white;
			}
		}

		.header{
			background:$primaryColor;
			height:50px;
			line-height: 50px;
			text-align: center;
			color:$white;
			width:100%;
			margin-bottom:10px;
		}

		.message_wrapper{
			overflow-y:auto;
			height: 339px;
			bottom:40px;

		.no-comments{
			div.nothing{
				padding: 60px 10px;
				text-align: center;

				div{
					padding-bottom:5px;

					 svg{
						fill:$grey;
					}
				}
			}
		}

			.recived_msg{
				padding-left:10px;
				float:left;
				min-width: 174px;
				max-width: 539px;
    			word-wrap: break-word;
				.avatar{
					float:left;
					.md-avatar{
						height:32px;
						width: 32px;
						border-radius:50%;
						float:left;
						top:50%;
					}
				}
				/* CSS talk bubble */
				.talk-bubble-left {
					margin: 3px 40px 5px 20px;
					display: inline-block;
					position: relative;
					width: auto;
					min-width: 174px;
					border-radius:0px 5px 5px 5px;
					float:left;
					height: auto;
					color:$white;
					background-color: $received_msg;
				}
				.tri-right.left-top:after{
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					left: -9px;
					right: auto;
					top: 0px;
					bottom: auto;
					border: 22px solid;
					border-color: $received_msg transparent transparent transparent;
				}
			}

			.send_msg{	
				padding-right:10px;
				min-width: 174px;
				max-width: 539px;
    			word-wrap: break-word;
				float:right;
				.avatar{
					float:right;
					right:0px;
					.md-avatar{
						height:32px;
						width: 32px;
						border-radius:50%;
						float:right;
					}
				}

				.talk-bubble-right {
					margin: 3px 20px 5px 40px;
					display: inline-block;
					position: relative;
					min-width: 174px;
					border-radius:5px 0px 5px 5px;
					width: auto;
					float:right;
					height: auto;
					color:$white;
					background-color: $primaryColor;
				}

				.tri-left.left-top:after{
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					left: auto;
					right: -9px;
					top: 0px;
					bottom: auto;
					border: 22px solid;
					border-color: $primaryColor transparent transparent transparent;
				}
			}

			/* talk bubble contents */
			.talktext{
				padding: 6px;
				text-align:left;
				line-height: 1.5em;
				z-index: 32;
    			position: relative
			}
			.talktext p{
				/* remove webkit p margins */
				-webkit-margin-before: 0em;
				-webkit-margin-after: 0em;
			}	


		}
	}
	.message_buttom_space{
		height:50px;
		width: 100%;
	}

	.footer_messages{
		position:absolute;
		bottom:0;
		width: 70%;
		background: white;
		display: block;
		box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);

		md-input-container{
			padding: 5px 20px;
			padding-right:50px;
		}

		.submit-comment{
			position: absolute;
			right: -5px;
			top:-3px;
		}
		.submit-emoji{
			position: absolute;
			right: 30px;
			top:-3px;
		}
	}
}

.addmember{
	width:500px;
	.md-dense{
		padding:8px 16px;
	}
	.addmemberHead{
		h2{
			color:$white;
		}
	}
	md-list-item.md-3-line{
		max-width: 500px !important;
	}	
}
.backButton{
	fill:$white;	
	}


.emoji-popup{
	height: 300px;
    width: 237px;
    background: #fff;
    border: 1px solid red;
    position: absolute;
    z-index: 9;
    bottom: 40px;
    right: 23px;

    .emoji-button{
    	margin:0px;
    	line-height: 0px;
    	min-height: 0px;
    	min-width: 0px;
    }
}