@import "partials/variables.scss";
@import "partials/mixins.scss";
// Nextcm Css
.textRow{
	margin-right:20px;
}
.opinion_main{
	width:100%;
	height:100%;
	background:$white;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
}

.opinion_wrapper{
	width:100%;
	min-height:93vh;
}

.opinionBtn{
	width:100%;
	width:calc(100% - 35px) !important;
	padding: 5px;
    margin-top: 30px;
}