@import "partials/variables.scss";
@import "partials/mixins.scss";
// Opinion Css
.heading{
	color:$darkGrey;
}
.opinion{
	background:$lightGrey;
	padding:0px;
}
.opinion_main{
	width:100%;
	height:100%;
	background:$white;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;

	.icons{
			fill:$white;
			height:80px;
			width:80px;
		}

	.nextcm{
		background:$nextcmOpinion;
		height:150px;
		width: 100%;
		color:$white;
		margin-right:20px;
		position: relative;
		text-align: center;

		span{
			line-height: 150px;
			font-size: 20px;
			cursor: pointer;
		&:focus {
			  outline: none;
			}
		}

	}

	.nextmla{
		background:$nextmlaOpinion;
		height:150px;
		width: 100%;
		color:$white;
		margin-right:20px;
		position: relative;
		text-align: center;

		span{
			line-height: 150px;
			font-size: 20px;
			cursor: pointer;
		}
	}

	.issue{
		background:$publicIssue;
		height:150px;
		width: 100%;
		color:$white;
		margin-right:20px;
		position: relative;
		text-align: center;

		span{
			line-height: 150px;
			font-size: 20px;
			cursor: pointer;
		}
	}

	.publicOpinion{
		background:$publicOpnion;
		height:150px;
		width: 100%;
		color:$white;
		margin-right:20px;
		position: relative;
		text-align: center;

		span{
			line-height: 150px;
			font-size: 20px;
			cursor: pointer;	
		}
	}
}

.whiteBG{
	background:$white;
}

.opinionList{
	position:relative;
	margin:0px 10px;

	md-list-item{
		background:$primaryColor;
		padding:0px 15px;
		position:relative;
		margin:6px 0px;
	}

	.md-list-item-text, .md-list-item-text h3{
		color:$white !important;
		white-space: pre-line;
		width:80%;
	}
	.md-list-item-text p{
		color:$white !important;
		opacity: 0.5;
	}
	.md-secondary {
		border:1px solid $white;

		ng-md-icon{
			fill:$white;
		}
	}

}
	.Questions{
		h1{
			color:$primaryColor;
			text-align: center;
		}
		span{
			color:$grey;
		}

		.options{
			margin-top:44px;
			.option{
				min-height:70px;
				margin:5px 0px;
				background:$primaryColor;
				width:100%;
				color:$white;
			}

			.ResultOptions{
				min-height: 70px;
				margin:10px 0px;
				background:$primaryColor;
				min-width: 554px;
				width:100%;
				text-align: left;
				color:$white;

				.progress-fill{
					background:rgba(0,0,0,0.3);
					position:relative;
					height:70px;
				}
				h3{
					padding:12px 14px;
					position:absolute;
					width:511px;
				}
				span{
					position: relative;
				    color: #fff;
				    float:right;
				    right: 17px;
				    top: -41px;
				    font-size:14px;
				    font-weight: bold;
				}
			}

			.option.active{
				background:transparent;
				border:2px solid $primaryColor;
				color:$primaryColor;
			}
		}
	}

.opinionListAnswared{
	position:relative;
	margin:0px 10px;

	.answaredPers{
		font-weight: bold;
		color:$primaryColor;
		font-size: 30px;
	}

	md-list-item{
		// border:2px solid $primaryColor inset;
		box-shadow: 0 0 0 2px $primaryColor inset;
		padding:0px 13px;
		position:relative;
		margin:6px 0px;
	}

	.md-list-item-text, .md-list-item-text h3{
		color:$primaryColor !important;
		white-space: pre-line;
		width:80%;
	}
	.md-list-item-text p{
		color:$primaryColor !important;
		opacity: 0.5;
	}
	.md-secondary {
		border:1px solid $primaryColor;

		ng-md-icon{
			fill:$primaryColor;
		}
	}	
}

