@import "partials/variables.scss";
@import "partials/mixins.scss";

// party page 

.errorLogin{
	border-bottom:3px solid red;
	background:$white !important;
}
.partyPageWrap{
	background:$lightGrey;

	height:auto;
	.coverPic{
		height:400px;
		background-position:fixed;
		background-align:center;
		background-size:cover;
		width:100%;
		box-shadow:inset 0px -104px 41px -14px rgba(0, 0, 0, 0.63);

		.PageDetail{
			position:absolute;
			top:330px;
			left:7%;

			h1{
				color:$white;
				float:left;
			}
		}

		.like_side{
			top:340px;
			right:13%;
			color:$white;
			width:226px;
			position:absolute;
			.likeBtn{
				border: 1px solid whitesmoke;
			    color: white !important;
			    background: transparent !important;
			    float:right;
			}
			.tooltiptext {
			    float:left;
			    background-color: $yellowLight;
			    color: black;
			    text-align: center;
			    padding: 5px 5px;
			    right:110px;
			    top:10px;
			    border-radius: 6px;
			    position: absolute;
			    z-index: 1;
			    &::after {
					content: " ";
				    position: absolute;
				    top: 50%;
				    left: 100%; /* To the right of the tooltip */
				    margin-top: -5px;
				    border-width: 5px;
				    border-style: solid;
				    border-color: transparent transparent transparent $yellowLight;
				}
			}
		}
	}
	.candidate_list{
		padding-top:40px;

		.heading{
			color:$primaryColor;
			// font-weight: bold;
			text-align:center;
			font-size:15px;
		}

		.avatar_wrap{
			width:150px;
			margin:0px auto;
			.avatar{
				text-align:center;
				padding-top:10px;
				margin: 0px auto;
				position:relative;
				img{
					border-radius:10px;
					width:150px;
					height:150px;
				}
				.avatar_name{
					// background:$primaryColor;
					color:$white;
					position:absolute;
					top:140px;
					height: 0px;
					text-align:left;
					 border-radius:0px 0px 0px 10px;
				     border-top:10px solid $primaryColor;
				     border-bottom:10px solid $primaryColor;
				     border-right:10px solid transparent;
				     width: 130px;
				}
				p{
				    top:-21px;
				    width: 120px;
				    overflow: hidden;
				    padding-left:10px;
				    position:relative;
				    text-overflow: ellipsis;
    				white-space: nowrap;
				}

			}
		}
	}

	.candidate_members{
		width:100%;
		padding-top:10px;

		.memberList{
			margin-left:95px;
		}

		h1 {
		  position: relative;
		  text-align: center;
		  color:$primaryColor;
		  span {
		  	background: #fff;
		  	padding: 0 15px;
		  	position: relative;	
		  	z-index: 1;
			}

			&:before {
			  background: #ddd;
			  content: "";
			  display: block;
			  height: 1px;
			  position: absolute;
			  top: 50%;
			  width: 100%;
			}

			&:before {
			  left: 0;
			}
		}
		.avatar{
			float:left;
			margin:10px;
			img{
				width:60px;
				height:60px;
				border-radius:50%;
			}
			.checked{
				position:absolute;
				margin-top: -23px;
    			margin-left: 44px;
    			fill:$lightGreen;
    			
			}
		}
		.avatar_name{
			width: 179px;
			padding-left:10px;
			float:left;
			padding-top:23px;
			h3{
				margin:0px;
				color:$primaryColor;
			}
			p{
				margin:0px;
			}
		}
	}

}

.login_panel{
	position:absolute;
	z-index:90;
	width:100%;
	background:$transprent_white;
	.login-btn{
		-webkit-flex: 0 0 15%;
	    -ms-flex: 0 0 15%;
	    flex: 0 0 15%;
	    max-width: 15%;

	    .my-btn{
			color: $primaryColor!important;
			border: 1px solid $primaryColor;
			width: 100%;
			margin-top: 10px;
		}

		.my-btn:hover{
			background: $primaryColor!important;
			color: white!important;
		}
	}
	
}