@import "partials/variables.scss";
@import "partials/mixins.scss";

// setting page css
.sideNavSetting{
	min-height:85vh;
	border-right:1px solid $grey;
	width:100%;
}
.SettingSideMenu{
	background:transparent;
}
.GeneralMain{
	padding:0px 20px;

	.generalItem{
		position: relative;
	}
	.ng-inline-edit__button{
		position: absolute;
		right: 0px;
		content:"change";
	}
	.panelEdit{
		background:$white;
		padding:10px;
		width:100%;
		position:relative;
	}
	.mailSwitch{
		margin: 0px;
	}
	.error{
		color:red;
	}
}

	.setting_menu_btn{
		line-height: 46px !important;
	}
