@import "partials/variables.scss";
@import "partials/mixins.scss";


/*** Tabs ***/
	md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    	background-color:$primaryColor !important;
    	color:$primaryColor;
	}

	md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
		color: grey;
	}
	md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
		color:$primaryColor !important;
	}

md-tabs.my-tabs{
	background: white!important;
	color:$primaryColor;

	.md-tab.md-active{
		color: $primaryColor;
		border-color:$primaryColor;  
	}


	// md-ink-bar{
	// 	height: 3px;
	// }
}


/*** Posts ***/
.posts{
	background: $lightGrey;
	overflow: hidden;
}

.notFound{
	width:100%;
	height:100%;
	margin:0px auto;
	text-align:center;
	color:#ccc;
	right: 0px;
	z-index:1;
	svg{
		fill:#ccc;	
	}
}

md-card.post{
	margin: 20px 1px;
	border-top: 2px solid;
	position: relative;
	border-radius: 3px;
	

	.meta-section{
		height: 68px;
		width: 100%;
		position: relative;

		.profile-img{
			height: 50px;
			width: 50px;
			position: absolute;
			top: 10px;
			left: 10px;
			border-radius: 50%;
			z-index: 2;
			background: url(#{$imagePath}/profile/default_avatar.png) center;
			background-size: cover;
		}

		.profile-name{
			position: absolute;
			top: 13px;
			left:72px;
			cursor: pointer;
			font-weight: normal;
			font-weight: 200;
			padding: 0;
			margin: 0;
		}

		.profile-position{
			position: absolute;
			top: 36px;
			left:50px;
			font-weight: normal;
			font-weight: 200;
			padding: 1px 7px;
			padding-left: 20px;
			margin: 0;
			z-index: 1;
			color: white;
			font-size: 13px;
			background:$primaryColor;
			border-radius: 2px;
		}

		.post-options{
			position: absolute;
			top: -2px;
			right: -7px;

			svg{
				fill: grey;
			}

		}

		.like-counter{
			position: absolute;
			right: 50px;
			top: 22px;

			span{
				padding: 4px;
				font-size: 14px;
			}

			span:nth-child(1){

				border: 1px solid grey;
				border-radius: 3px 0px 0px 3px;
				color: $darkGrey;
			}

			span:nth-child(2){
				background: grey;
				border: 1px solid grey;
				padding: 4px 5px;
				border-radius: 0px 3px 3px 0px;
				color: white;
			}
		}
	}

	.body-section{ 

		.post-content{
			padding: 0px 10px 10px 10px;
			text-align: justify;
		}

		.posts-img-con{
			
			max-height: 300px;
			overflow:hidden;

			.post-img{
				height:300px !important;
				width: auto !important;
				margin:0px auto;
				cursor:pointer;
			}
		}
	}
	

	.footer-section{
		height: 50px;
		width: 100%;
		border-radius: 0 0 3px 3px;
		border: none;
		padding: 0 10px;
		color: whitesmoke;
		font-size: 14px;

		.post-action{

			// .md-ripple-container{
			// 	top:12px;
			// 	height: 25px;
			// }

			.post-like,.post-dislike{
				width: 25px;
				height: 25px;
				line-height: 0;
			}

			.post-like{
				margin-right: 0;
			}
			.post-dislike{
				margin-left: 0;
				margin-right: 15px;
			}

			.post-comments{

				.post-comment-btn{
					margin-left: 0;
					width: 25px;
					height: 25px;
					line-height: 0;
				}
		
			}
			svg{
				fill:whitesmoke;
			}

			button.md-button[disabled]{
				cursor: default;
				opacity: 0.4;
			}
		}

	}
}
.post-load{

	md-progress-circular{
		margin: 0 auto;
    	height: 80px;
    	top: -5px;

		.md-inner .md-left .md-half-circle{
	    		border-top-color: $primaryColor;
	    		border-left-color: $primaryColor;
	    	}

		.md-inner .md-right .md-half-circle{
			border-top-color: $primaryColor;
			border-right-color: $primaryColor;
		}
	}
}
 

md-card.post.bjp-post{
	border-color: $bjpColor;

	.meta-section .like-counter span{
		border-color: $bjpColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $bjpColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $bjpColor;
	}

}

md-card.post.congress-post{
	border-color: $congressColor;

	.meta-section .like-counter span{
		border-color: $congressColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $congressColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $congressColor;
	}

}

md-card.post.sad-post{
	border-color: $sadColor;

	.meta-section .like-counter span{
		border-color: $sadColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $sadColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $sadColor;
	}

}

md-card.post.bsp-post{
	border-color: $bspColor;

	.meta-section .like-counter span{
		border-color: $bspColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $bspColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $bspColor;

	}

}

md-card.post.aap-post{
	border-color: $aapColor;

	.meta-section .like-counter span{
		border-color: $aapColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $aapColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $aapColor;
	}

}

md-card.post.others-post{
	border-color: $othersColor;

	.meta-section .like-counter span{
		border-color: $othersColor;
	}

	.meta-section .like-counter span:nth-child(2){
		background: $othersColor;
	}

	.meta-section .profile-position, .footer-section{
		background: $othersColor;
	}

}
.Chat_side_header{
	height:40px;
	background:$primaryColor;
	padding:10px;
	

	.searchFriend{
		font-size: 100%;
	    width: 96%;
	    height: 30px;
	    padding: 4px;
	    border: 1px solid lightgray;
	    border-radius: 3px;
	}
}
.chat_wrap{
	margin-top:0px !important;
}
.onlineStatus{
	right:10px !important;
}
.onlineTime{
	font-size:10px !important;
}

.sideNavUser{
	md-list-item.md-2-line, md-list-item.md-2-line>.md-no-style{
		min-height: 0px;
	}
	.offline{
		fill:$lightGrey;
	}
	.online{
		fill:$lightGreen;
	}
	.userListed{
		cursor: pointer;
		border-bottom:1px solid $lightGrey;
	}
}
.left-sidebar{
	margin-right:20px;
	md-card{
		margin:0px;
      md-card-content{
      	padding:10px 0px;
      }
	}

	.create{
		fill:$darkGrey;
		padding:3px 10px;
		cursor: pointer;
		float:right;
	}

	md-list{
		padding:0px !important;
	}
	.md-no-sticky{
		text-align: left;
		padding-left:10px;
		font-weight: bold;
		margin-right:0px !important;
		

		.md-subheader-inner{
			padding:11px 0px;
		}
	}
	md-list-item{
		min-height: 39px !important;

		p{
			text-overflow: ellipsis;
    		display: block;
    		width: 56px;
    		white-space: nowrap;
    		overflow: hidden;
		}

		.md-sec-btn{
			font-size: 12px !important;
			color:$grey;
		}
	}
	.md-avatar{
		margin-top: 0px;
		margin-bottom: 0px;
		height:30px !important;
		width:30px !important;
	}

	.group_main{
		max-height:160px;
		position:relative;
		margin:10px 0px;
		overflow: hidden;
		&:hover{
			overflow-y: auto;
		}

	}
}
.right-sidebar{
	.userOnline-button{
		padding:0px;
		
		.button-green{
			background:$lightGreen !important;
			margin: 0px;
			color: $white;
			fill:$white;

			.online_Count{
				right:10px;
			}
		}

		.bottom-sheet-demo{
			padding:0px;
		}
		md-card-content{
			padding:0px;
		}
	}
	md-card{
		margin-left: 20px;
	}
}

// Post Images
.post-images{
	position: relative;

	.image{
		height: 100%;
		width: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		overflow: hidden;
		
	}

	.image-1-con,.image-2-con,.image-3-con,.image-4-con,.image-5-con{
		display: inline-block;
		height: 300px;
		width: 50%;
		box-sizing: border-box;
		overflow: hidden;
		cursor:pointer;
	}


	.image-1-con{
		width: 66.7%;
		padding-right: 5px;
	}

	.image-2-con,.image-3-con{
		position: absolute;
		right: 0;
		width: 33.3%;
		height: 150px;
	}

	.image-2-con{
		padding-bottom: 5px;
		padding-left: 5px;
	}

	.image-3-con{
		top: 150px;
		padding-left: 5px;
		padding-top:5px;
	}

	.two{
		
		.image-1-con{
			width: 50%;
		}

		.image-2-con{
			position: absolute;
			right: 0;
			width: 50%;
			height: 300px;
			padding-bottom:0;
		}
	}

	.image-3-con:after{
		content: 'More';
		font-size: 20px;
		color:white;
		position: absolute;
		height: 100%;
		width: 100%;
		background:rgba(0,0,0,0.6);
		display: block;
		top:0;
		text-align: center;
		line-height: 10;
		margin-top: 5px;
		cursor: pointer;
	}

	.image-3-con:hover:after{
		background:rgba(0,0,0,0.8);
	}

	.image-4-con,.image-5-con{
		width: 33.3%;
		top: 200px;
		// padding-top: 5px;
		height: 200px;
		padding-right: 5px;
	}

	.image-4-con{
		left:0;
		width: 33.4%;
	}

	.image-5-con{
		left: 33.4%;
		padding-left: 5px;
	}

	.five{
		.image-1-con{
			height: 170px;
			padding-bottom: 5px;
		}
	}

	.image-con:nth-child(n+7) {
    display: none!important;
	}
}


/*** Comments ***/
.comments{

	overflow: hidden;

	.comment-in{
		position: relative;

		.comment-options{
			position: absolute;
			top:-10px;
			right: 0px;
			margin:0;
			// width: 30px;

			.md-button.md-icon-button{
				height: 30px;
				width: 30px;
				line-height: 0;

			}

			svg{
				fill: grey;
			}

		}

	}


	.add-comment{
		position:absolute;
		bottom:0;
		left: 0;
		width: 100%;
		background: white;
		display: block;
		box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);

		md-input-container{
			padding: 5px 20px;
			padding-right:50px;
		}

		.submit-comment{
			position: absolute;
			right: -5px;
			top:-3px;
		}
	}

	md-list-item.md-3-line{
		min-height: auto;
		padding: 15px 0;
		width: 100%;
  		max-width: 100%;
  		min-width: 800px;
	}

	md-list-item.md-3-line:not(:last-child){
		border-bottom: 1px solid $lightGrey;
	}
	

	h3.user-name{
		position: relative;
		
		span.comment-time{
			position: absolute;
			right: 40px;
			top:0;
			display: inline-block;
			font-size: 12px;
			color: grey;
			
		}

	}

	p.comment{
		font-size: 15px;
		padding-top:5px;
	}
	
	.loading-comments,.no-comments{
		width:800px;
		max-width: 100%;
		height: 100%;
		display: block;
	}

	.loading-comments{
		md-progress-circular{
			margin: 100px auto;

		}
	}

	.no-comments{
		div.nothing{
			padding: 60px 10px;
			text-align: center;

			div{
				padding-bottom:5px;

				 svg{
					fill:$grey;
				}
			}
		}
	}

	md-dialog-content{
		margin-bottom:40px;
		min-height: 300px;
	}

	.md-dialog-content{
		max-width: 800px;
		padding: 5px 20px!important;

	}
	.md-toolbar-tools{
		color: whitesmoke;

		svg{
			fill:whitesmoke;
		}
	}


}



