@import url(https://fonts.googleapis.com/css?family=Roboto);
.add-status md-toolbar .md-toolbar-tools {
  color: whitesmoke;
}

.add-status md-toolbar .md-toolbar-tools svg {
  fill: whitesmoke;
}

.add-status md-dialog-content {
  max-width: 100%;
  width: 800px;
}

.add-status .status-in {
  padding-bottom: 5px;
}

.file-upload .upload-files {
  border: 2px dashed grey;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.file-upload .preview-images {
  text-align: center;
  padding-top: 5px;
}

.file-upload .preview-images .thumb-div {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

.file-upload .preview-images .thumb-div md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle {
  border-right-color: rgba(0, 0, 0, 0.3);
}

.file-upload .preview-images .thumb-div md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle, .file-upload .preview-images .thumb-div md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
  border-bottom-color: rgba(0, 0, 0, 0.3);
}

.file-upload .preview-images .thumb-div md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
  border-left-color: rgba(0, 0, 0, 0.3);
}

.file-upload .preview-images .thumb-div md-progress-circular.done .md-inner .md-right .md-half-circle {
  border-right-color: rgba(35, 186, 35, 0.8);
}

.file-upload .preview-images .thumb-div md-progress-circular.done .md-inner .md-left .md-half-circle, .file-upload .preview-images .thumb-div md-progress-circular.done .md-inner .md-right .md-half-circle {
  border-top-color: rgba(35, 186, 35, 0.8);
}

.file-upload .preview-images .thumb-div md-progress-circular.done .md-inner .md-left .md-half-circle {
  border-left-color: rgba(35, 186, 35, 0.8);
}
