@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

a:focus {
  display: none;
}

body.guest-home {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.opt_head_main {
  min-height: 48px;
}

.OTP {
  min-height: auto !important;
}

.OTP_head {
  background: #0090ff;
  letter-spacing: 0px;
  height: 48px;
}

.OTP_head span {
  margin-left: 80px;
}

.OTP_head span .resend {
  cursor: pointer;
  font-weight: normal !important;
}

.partyPage h3 ng-md-icon {
  fill: #0090ff;
}

.partyPage .party {
  height: 150px;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px -80px 41px -14px rgba(0, 0, 0, 0.63);
}

.partyPage .party h3 {
  color: #fff;
  top: 122px;
  left: 10px;
  position: relative;
  width: 200px;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}

.partyPage .party .like_side {
  top: 76px;
  right: 10px;
  color: #fff;
  float: right;
  position: relative;
}

.partyPage .party .like_side .likeBtn {
  border: 1px solid whitesmoke;
  padding: 0px;
  min-height: 20px;
  line-height: 20px;
  min-width: 60px;
  cursor: default;
  color: white !important;
  background: transparent !important;
  float: right;
}

.partyPage .party .like_side .tooltiptext {
  float: left;
  background-color: #f9f1cb;
  color: black;
  text-align: center;
  padding: 5px 5px;
  right: 80px;
  top: 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.partyPage .party .like_side .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #f9f1cb;
}

.partyPage img {
  margin: 5px 0px;
}

.group {
  min-height: 195px !important;
}

.group .group_content {
  width: 400px;
}

.parties {
  overflow: hidden;
}

.parties md-dialog-content {
  min-height: 294px;
}

.parties .md-dialog-content {
  max-width: 800px;
  padding: 5px 20px !important;
}

.parties .md-toolbar-tools {
  color: whitesmoke;
}

.parties .md-toolbar-tools svg {
  fill: whitesmoke;
}

.parties .md-icon-button .arrow_back {
  fill: #fff;
}

.parties .parties_wrap {
  width: 809px;
}

.parties .parties_wrap .party {
  height: 177px;
  width: 200px;
  cursor: pointer;
  border: 1px solid #fff;
}

.sideList {
  padding: 0px !important;
}

.sideList md-list-item.md-3-line, .sideList md-list-item.md-3-line > .md-no-style {
  min-height: 0px !important;
}

.sideList .groupName {
  margin-left: 10px !important;
}

.Group-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.noRequest {
  color: #B5B5B5;
  text-align: center;
  margin: 0px auto;
}

.loading md-progress-circular {
  text-align: center;
  margin: 0px auto;
}

.md-dialog-container {
  top: 0 !important;
}

.user-view {
  background: #EBEBEB;
  min-height: 100vh;
  min-height: calc(100vh - 45px);
}

.md-padding {
  padding: 0px;
}

.notificationContent {
  max-height: 400px !important;
}

.notificationContent md-menu-item {
  height: 35px;
  min-height: 35px;
}

.notificationContent .md-sec-btn {
  cursor: pointer;
  border: 1px solid #0090ff;
  padding: 5px 15px;
  color: #0090ff;
  border-radius: 3px;
}

.notificationContent .md-sec-btn:active, .notificationContent .md-sec-btn .active {
  background: #0090ff;
  color: #fff;
}

.notificationContent .md-btn_active {
  background: #0090ff;
  color: #fff;
}

.notificationContent .heading {
  padding: 0px 10px 10px 10px;
  height: 20px;
  min-height: 20px;
  color: #0090ff;
}

.notificationContent .heading .see_more {
  float: right;
  right: 0px;
  position: absolute;
  width: 100px;
  cursor: pointer;
  margin: 0px;
  top: 8px;
  text-align: right;
}

.notificationContent .heading .see_more:focus {
  display: none;
}

.drop_menu_item {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.drop_menu_item .noti-img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: left;
  padding-top: 2px;
  margin-right: 11px;
}

.drop_menu_item .notiTime {
  float: right;
  font-size: 10px;
}

.layout-max-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 600px) {
  md-toast.md-bottom.md-left {
    bottom: 25px;
    left: 25px;
    position: fixed;
  }
}

.frant-btn {
  width: 60%;
  margin: 10px 0px 10px 43px;
  height: 69px;
}

.my-btn {
  border: 1px solid whitesmoke;
  color: white !important;
  background: transparent !important;
}

.my-btn:hover {
  background: #fff;
}

.my-btn md-progress-circular {
  position: absolute;
  right: -30px;
  top: -32px;
}

.my-btn md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: #0090ff;
  border-left-color: #0090ff;
}

.my-btn md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: #0090ff;
  border-right-color: #0090ff;
}

.alertLabel {
  background: red;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  left: 0px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 13px;
  font-size: 10px;
}

.my-btn:hover, .my-btn.active {
  background-color: #fff !important;
  color: #0090ff !important;
}

.my-btn:hover md-progress-circular .md-inner .md-left .md-half-circle, .my-btn.active md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: white;
  border-left-color: white;
}

.my-btn:hover md-progress-circular .md-inner .md-right .md-half-circle, .my-btn.active md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: white;
  border-right-color: white;
}

.my-btn:hover {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.orange-btn {
  background: #0090ff !important;
  color: white !important;
}

.orange-btn:hover, .orange-btn:visited, .orange-btn:focus {
  background: #0090ff !important;
  color: white !important;
}

.logout-btn md-progress-circular {
  position: absolute;
  right: -25px;
  top: -26px;
}

.logout-btn md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: rgba(0, 0, 0, 0.87);
  border-left-color: rgba(0, 0, 0, 0.87);
}

.logout-btn md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: rgba(0, 0, 0, 0.87);
  border-right-color: rgba(0, 0, 0, 0.87);
}

.md-button {
  font-size: 13px !important;
}

/*** Fab dial ***/
md-fab-speed-dial.md-fab-bottom-right {
  position: fixed;
}

.md-button.md-fab.main-fab, .md-button.md-fab.main-fab:visited {
  background-color: #0090ff !important;
}

.md-button.md-fab.main-fab:hover, .md-button.md-fab.main-fab:focus {
  /*background-color: #FF512F!important;*/
}

svg {
  vertical-align: middle;
}

.md-button.md-fab svg {
  fill: black;
}

.md-button.md-fab.main-fab svg {
  fill: white;
  vertical-align: middle;
}

/*** Tool bar ***/
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #0090ff !important;
}

.toolbar {
  color: white;
  position: fixed;
  -webkit-transition: min-height 0.3s ease-in-out;
  transition: min-height 0.3s ease-in-out;
  z-index: 10;
}

.toolbar .md-toolbar-tools {
  -webkit-transition: height 0.4s ease-in-out,max-height 0.5s ease-in-out;
  transition: height 0.4s ease-in-out,max-height 0.5s ease-in-out;
}

.toolbar.shrink {
  min-height: 50px;
}

.toolbar.shrink .md-toolbar-tools {
  max-height: 50px;
  height: 50px;
}

.search {
  padding-right: 20px;
  color: white;
}

.menu-btn {
  padding-top: 4px;
}

.menu-btn span.ng-scope {
  color: white;
}

@media (min-width: 600px) {
  .toolbar .md-toolbar-tools {
    padding: 0;
  }
}

.toolbar svg {
  fill: white;
}

/** Sidenav **/
.side-nav {
  position: fixed;
}

.side-nav .top-cover {
  cursor: pointer;
  background-color: #0090ff;
  background-image: url(/images/bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 130px;
  width: 100%;
  display: block;
  position: relative;
  box-shadow: inset 0px -79px 41px -14px rgba(0, 0, 0, 0.63);
}

.side-nav .top-cover .user-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 60px;
  left: 10px;
  z-index: 2;
}

.side-nav .top-cover .user-name {
  position: absolute;
  top: 48px;
  left: 115px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-weight: 200;
}

.side-nav .top-cover .user-position {
  position: absolute;
  top: 78px;
  left: 105px;
  padding: 3px 5px;
  padding-left: 10px;
  z-index: 1;
  color: white;
  font-size: 12px;
  border-radius: 2px;
}

.side-nav .top-cover .user-position.bjp-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.cogress-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.sad-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.aap-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.bsp-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-position.other-post {
  background: #5dbc00;
}

.side-nav .top-cover .user-const {
  position: absolute;
  top: 96px;
  left: 116px;
  color: white;
  font-weight: normal;
  font-weight: 200;
  font-size: 12px;
}

.side-nav .menu-links {
  margin-top: 30px;
}

.side-nav .menu-links .select-lang md-input-container {
  padding: 0 16px;
}

.side-nav .menu-links ng-md-icon {
  height: 100%;
  line-height: 43px;
  padding-right: 10px;
}

.side-nav .menu-links a.active {
  background-color: rgba(158, 158, 158, 0.2);
}

.side-nav .sideMenu {
  max-height: none !important;
}

md-backdrop {
  position: fixed;
}

.md-dialog-container {
  position: fixed;
}

.padding-for-topbar {
  padding-top: 64px;
}

/*** Party background colors ***/
.bjp-bg {
  background-color: #5dbc00 !important;
}

.congress-bg {
  background-color: #5dbc00 !important;
}

.bsp-bg {
  background-color: #5dbc00 !important;
}

.aap-bg {
  background-color: #5dbc00 !important;
}

.sad-bg {
  background-color: #5dbc00 !important;
}

.others-bg {
  background-color: #5dbc00 !important;
}

/*** Party svg fills ***/
.bjp-con svg {
  fill: #5dbc00 !important;
}

.congress-con svg {
  fill: #5dbc00 !important;
}

.bsp-con svg {
  fill: #5dbc00 !important;
}

.aap-con svg {
  fill: #5dbc00 !important;
}

.sad-con svg {
  fill: #5dbc00 !important;
}

.others-con svg {
  fill: #5dbc00 !important;
}

/** Dropdown menu content **/
.drop-menu ng-md-icon {
  padding-right: 10px;
}

.thumb-div {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center center;
}
