@import url(https://fonts.googleapis.com/css?family=Roboto);
.buddy .buddy-wrap {
  padding: 10px;
}

.buddy .buddy-wrap .md-sec-btn {
  cursor: pointer;
  border: 1px solid #0090ff;
  padding: 5px 15px;
  color: #0090ff;
  border-radius: 3px;
}

.buddy .buddy-wrap .md-sec-btn:active, .buddy .buddy-wrap .md-sec-btn .active {
  background: #0090ff;
  color: #fff;
}

.buddy .buddy-wrap .md-btn_active {
  background: #0090ff;
  color: #fff;
}
