@import url(https://fonts.googleapis.com/css?family=Roboto);
.chat-popup-wrapper {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: 300px;
  z-index: 59;
}

.chat-popup-wrapper .chat-popup {
  background: #fff;
  height: 300px;
  width: 250px;
  border-radius: 5px 5px 0px 0px;
  float: right;
  margin: 0px 2px;
  display: inline;
}

.chat-popup-wrapper .chat-popup .header {
  background: #0090ff;
  height: 40px;
  line-height: 40px;
  width: 100%;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
}

.chat-popup-wrapper .chat-popup .header .online {
  fill: #5dbc00;
  padding: 4px;
}

.chat-popup-wrapper .chat-popup .header .offline {
  fill: #f9f1cb;
  padding: 4px;
}

.chat-popup-wrapper .chat-popup .header span {
  padding: 5px;
  width: 50px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-popup-wrapper .chat-popup .header .closeBtn {
  float: right;
  right: -13px;
  position: absolute;
  top: -4px;
}

.chat-popup-wrapper .chat-popup .header .closeBtn ng-md-icon {
  fill: #fff;
}

.chat-popup-wrapper .chat-popup .chat-content {
  height: 300px;
  overflow-y: auto;
  height: calc(300px - 72px);
  /* talk bubble contents */
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg {
  padding-left: 10px;
  float: left;
  min-width: 174px;
  max-width: 216px;
  word-wrap: break-word;
  margin: 3px 0px;
  /* CSS talk bubble */
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg .avatar {
  float: left;
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg .avatar .md-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: left;
  top: 50%;
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg .talk-bubble-left {
  margin: 3px 40px 5px 20px;
  display: inline-block;
  position: relative;
  width: auto;
  min-width: 174px;
  border-radius: 0px 5px 5px 5px;
  float: left;
  height: auto;
  color: #fff;
  background-color: #0862a7;
}

.chat-popup-wrapper .chat-popup .chat-content .recived_msg .tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0862a7 transparent transparent transparent;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg {
  padding-right: 10px;
  min-width: 174px;
  max-width: 265px;
  word-wrap: break-word;
  float: right;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .avatar {
  float: right;
  right: 0px;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .avatar .md-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  float: right;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .status-icon {
  position: relative;
  left: -5px;
  top: 17px;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .talk-bubble-right {
  margin: 3px 6px 5px 40px;
  display: inline-block;
  position: relative;
  min-width: 165px;
  border-radius: 5px 0px 5px 5px;
  width: auto;
  float: right;
  height: auto;
  color: #fff;
  background-color: #0090ff;
}

.chat-popup-wrapper .chat-popup .chat-content .send_msg .tri-left.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -9px;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0090ff transparent transparent transparent;
}

.chat-popup-wrapper .chat-popup .chat-content .talktext {
  padding: 6px;
  text-align: left;
  line-height: 1.5em;
  z-index: 32;
  position: relative;
}

.chat-popup-wrapper .chat-popup .chat-content .talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.chat-popup-wrapper .chat-popup .footer {
  border-top: 1px solid #EBEBEB;
  position: relative;
  bottom: 0;
  width: 100%;
  background: white;
  display: block;
  box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);
}

.chat-popup-wrapper .chat-popup .footer md-input-container {
  padding: 3px 10px;
  padding-right: 73px;
}

.chat-popup-wrapper .chat-popup .footer .submit-comment {
  position: absolute;
  right: -5px;
  top: -9px;
}

.chat-popup-wrapper .chat-popup .footer .submit-comment ng-md-icon svg {
  fill: #5E5E5E !important;
}

.chat-popup-wrapper .chat-popup .footer .submit-emoji {
  position: absolute;
  right: 30px;
  top: -9px;
}

.chat-popup-wrapper .chat-popup .footer .submit-emoji ng-md-icon svg {
  fill: #5E5E5E !important;
}
