@import url(https://fonts.googleapis.com/css?family=Roboto);
.cover_image {
  height: 400px;
  width: 100%;
  background-position: fixed;
  background-align: center;
  background-size: cover;
  box-shadow: inset 0px -104px 41px -14px rgba(0, 0, 0, 0.63);
}

.profile.post {
  margin-left: 100px;
  position: absolute;
  z-index: 5;
  top: 300px;
}

.profile.post .meta-section {
  position: relative;
}

.profile.post .meta-section .profilePhoto {
  position: absolute;
  z-index: 99;
  left: 50%;
  min-width: 35px !important;
  top: 165px;
}

.profile.post .meta-section .profilePhoto ng-md-icon {
  fill: #fff;
  opacity: 0.5;
}

.profile.post .meta-section .profile-img {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 2;
  background: url(http://api.rajneeti.dev/images/profile/default_avatar.png) center;
  background-size: cover;
}

.profile.post .meta-section .profile-name {
  position: relative;
  width: auto;
  top: 70px;
  left: 220px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.profile.post .meta-section .profile-position {
  position: absolute;
  top: 110px;
  left: 200px;
  font-weight: normal;
  font-weight: 200;
  min-width: 200px;
  padding: 1px 7px;
  font-size: 20px !important;
  padding-left: 20px;
  padding-right: 10px;
  margin: 0;
  z-index: 1;
  color: white;
  font-size: 13px;
  background: #0090ff;
  border-radius: 2px;
}

.profile.post .meta-section .post-options {
  position: absolute;
  top: -2px;
  right: -7px;
}

.profile.post .meta-section .post-options svg {
  fill: grey;
}

.profile.post .meta-section .like-counter {
  position: absolute;
  right: 50px;
  top: 30px;
}

.profile.post .meta-section .like-counter span {
  padding: 4px;
  font-size: 14px;
}

.profile.post .meta-section .like-counter span:nth-child(1) {
  border: 1px solid grey;
  border-radius: 3px 0px 0px 3px;
  color: #5E5E5E;
}

.profile.post .meta-section .like-counter span:nth-child(2) {
  background: grey;
  border: 1px solid grey;
  padding: 4px 5px;
  border-radius: 0px 3px 3px 0px;
  color: white;
}

.profile.post .body-section .post-content {
  padding: 10px;
  white-space: pre-wrap;
  text-align: justify;
}

.profile.post .body-section .posts-img-con {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.profile.post .body-section .posts-img-con .post-img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.profile.post .footer-section {
  height: 50px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  border: none;
  padding: 0 10px;
  color: whitesmoke;
  font-size: 14px;
}

.profile.post .footer-section .post-action .post-like, .profile.post .footer-section .post-action .post-dislike {
  width: 25px;
  height: 25px;
  line-height: 0;
}

.profile.post .footer-section .post-action .post-like {
  margin-right: 0;
}

.profile.post .footer-section .post-action .post-dislike {
  margin-left: 0;
  margin-right: 15px;
}

.profile.post .footer-section .post-action .post-comments .post-comment-btn {
  margin-left: 0;
  width: 25px;
  height: 25px;
  line-height: 0;
}

.profile.post .footer-section .post-action svg {
  fill: whitesmoke;
}

.profile.post .footer-section .post-action button.md-button[disabled] {
  cursor: default;
  opacity: 0.4;
}

.profile.post.bjp-post {
  border-color: #5dbc00;
}

.profile.post.bjp-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.bjp-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.bjp-post .meta-section .profile-position, .profile.post.bjp-post .footer-section {
  background: #5dbc00;
}

.profile.post.congress-post {
  border-color: #5dbc00;
}

.profile.post.congress-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.congress-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.congress-post .meta-section .profile-position, .profile.post.congress-post .footer-section {
  background: #5dbc00;
}

.profile.post.sad-post {
  border-color: #5dbc00;
}

.profile.post.sad-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.sad-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.sad-post .meta-section .profile-position, .profile.post.sad-post .footer-section {
  background: #5dbc00;
}

.profile.post.bsp-post {
  border-color: #5dbc00;
}

.profile.post.bsp-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.bsp-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.bsp-post .meta-section .profile-position, .profile.post.bsp-post .footer-section {
  background: #5dbc00;
}

.profile.post.aap-post {
  border-color: #5dbc00;
}

.profile.post.aap-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.aap-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.aap-post .meta-section .profile-position, .profile.post.aap-post .footer-section {
  background: #5dbc00;
}

.profile.post.others-post {
  border-color: #5dbc00;
}

.profile.post.others-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

.profile.post.others-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

.profile.post.others-post .meta-section .profile-position, .profile.post.others-post .footer-section {
  background: #5dbc00;
}

.userDetail {
  padding: 10px;
}

.userDetail .layout-row {
  padding: 10px 0px;
}

.like_page {
  right: 100px;
  top: 400px;
  color: #fff;
  fill: #fff;
  position: absolute;
}

.editButton {
  min-width: 30px;
}

.editButton ng-md-icon {
  fill: #fff;
}

.coverButton {
  position: relative;
  top: 0px;
  float: left;
}

.changeCover {
  border: 1px solid red;
  position: absolute;
}

@media (min-width: 700px) {
  .profile.post {
    margin-left: 70px;
  }
}
