@import url(https://fonts.googleapis.com/css?family=Roboto);
.flex-45, .layout-row > .flex-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 48%;
}

.group_wrap {
  background: #fff;
  height: 100px;
  width: 100%;
  margin: 5px;
  padding: 10px;
  float: left;
}

.group_wrap .group_img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  float: left;
}

.group_wrap h3 {
  color: #5E5E5E;
  left: 10px;
  text-overflow: ellipsis;
  float: left;
  position: relative !important;
  width: 236px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
}

.group_wrap p {
  position: relative;
  width: 155px;
  color: #B5B5B5;
  float: left;
  padding: 0px;
  margin: 0px;
  left: 10px;
}

.group_wrap .joinButton {
  width: auto;
  top: -10px;
  left: 0px;
}

.group_wrap .joinButton .join_btn {
  border: 2px solid #0090ff;
  background: transparent;
  color: #0090ff;
}

.group_wrap .joinButton .join_btn.active {
  background: #0090ff;
  color: #fff;
  border: none;
}
