@import url(https://fonts.googleapis.com/css?family=Roboto);
/*** Home page ***/
.home-con {
  height: 100vh;
  height: calc(100vh - 45px);
  min-height: auto;
  width: 100%;
  position: relative;
}

.home-con .home-logo {
  color: white;
  position: relative;
}

.home-con .home-logo img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.home-overlay {
  height: 100vh;
  height: calc(100vh - 45px);
  min-height: auto;
  width: 100%;
  padding: 0px;
  position: relative;
  background: #0090ff;
}

.close-modals {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

.error {
  color: red;
  padding-left: 10px;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}

.signup-btn {
  width: 100%;
  width: calc(100% - 20px);
  padding: 5px;
  margin-top: 30px;
}

.headlines {
  color: white;
  margin-top: 20px;
  font-weight: 100;
}

.headlines .navigation {
  text-align: center;
}

.headlines .navigation span {
  height: 15px;
  width: 15px;
  /*background: white;*/
  border: 1px solid white;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
}

.headlines .navigation span.active {
  background: white;
}

/*** Footer home ***/
footer.home {
  background: white;
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 14px;
  /*height: 45px;*/
}

footer.home a {
  text-decoration: none;
  color: #0090ff;
  margin: 0 5px;
}

footer.home md-input-container {
  width: 170px;
  padding-bottom: 10px;
}

/*** Login modal home ***/
.login-modal {
  height: 80px;
  width: 100%;
  background: white;
  position: absolute;
  left: 0;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  z-index: 3;
}

.login-modal .login-btn {
  -ms-flex: 0 0 15%;
  -webkit-box-flex: 0;
          flex: 0 0 15%;
  max-width: 15%;
}

.login-modal .login-btn .my-btn {
  color: #0090ff !important;
  border: 1px solid #0090ff;
  width: 100%;
  margin-top: 10px;
}

.login-modal .login-btn .my-btn:hover {
  background: #0090ff !important;
  color: white !important;
}

.login-modal.hidden {
  top: -100px;
}

.login-modal.visible {
  top: 0;
}

.login-modal .close-login-modal, .signup-modal .close-signup-modal {
  color: black;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  text-align: center;
  right: 10px;
  padding: 2px;
  display: block;
  cursor: pointer;
  outline: none !important;
  font-size: 11px;
  line-height: 20px;
}

/*** Signup modal home ***/
.signup-modal {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  width: 500px;
  position: absolute;
  top: 0;
  right: -600px;
  -webkit-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
  background: white;
  padding: 0 10px;
  z-index: 3;
}

.signup-modal h2 {
  padding-left: 10px;
  margin-top: 40px;
  font-weight: normal;
  font-weight: 300;
}

.signup-modal .close-signup-modal {
  top: 40px;
  right: 20px;
}

.signup-modal.hidden {
  right: -600px;
}

.signup-modal.visible {
  right: 0;
}
