@import url(https://fonts.googleapis.com/css?family=Roboto);
.images {
  overflow: hidden;
  padding: 0px !important;
  max-height: auto;
}

.images md-dialog-content {
  min-height: 300px;
}

.images .md-dialog-content {
  max-width: 800px;
  padding: 5px 20px !important;
}

.images .md-toolbar-tools {
  color: whitesmoke;
}

.images .md-toolbar-tools svg {
  fill: whitesmoke;
}

.images .image_wrapper {
  width: 100%;
  height: 100%;
}

.images .back_btn {
  position: absolute;
  height: 100%;
  z-index: 99;
  top: 50%;
}

.images .back_btn svg {
  fill: white;
  opacity: 0.6;
}

.images .right_btn {
  position: absolute;
  height: 100%;
  z-index: 99;
  top: 50%;
  right: 0px;
}

.images .right_btn svg {
  fill: white;
  opacity: 0.6;
}
