@import url(https://fonts.googleapis.com/css?family=Roboto);
.OTP_model {
  margin-top: 10%;
  height: 195px;
  width: 550px;
  border-radius: 2px;
  background: #fff;
}

.OTP_model header {
  background: #0090ff;
  height: 50px;
  color: #fff;
  font-size: 14px;
}

.OTP_model md-content {
  padding: 10px;
}
