@import url(https://fonts.googleapis.com/css?family=Roboto);
.messages_main_page {
  width: 100%;
  height: 450px;
  background: #fff;
}

.messages_main_page .searchFriend {
  font-size: 100%;
  width: 90%;
  height: 25px;
  padding: 4px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.messages_main_page .whiteLoading .md-inner .md-left .md-half-circle {
  border-top-color: white;
  border-left-color: white;
}

.messages_main_page .whiteLoading .md-inner .md-right .md-half-circle {
  border-top-color: white;
  border-right-color: white;
}

.messages_main_page .selectUser_avatar {
  float: left;
  line-height: 50px;
  padding: 10px 0px 0px 10px;
}

.messages_main_page .selectUser_avatar .md-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.messages_main_page .users_list {
  border-right: 1px solid #EBEBEB;
}

.messages_main_page .users_list .header {
  background: #0090ff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
}

.messages_main_page .users_list .user {
  overflow-y: hidden;
  height: 450px;
}

.messages_main_page .users_list .user md-list-item.md-2-line, .messages_main_page .users_list .user md-list-item.md-2-line > .md-no-style {
  padding-left: 4px;
}

.messages_main_page .users_list .user:hover {
  overflow-y: auto;
}

.messages_main_page .users_list .onlineIcon {
  fill: #23BA23;
  padding: 5px;
}

.messages_main_page .users_list .offlineIcon {
  fill: #EBEBEB;
  padding: 5px;
}

.messages_main_page .messages_in {
  width: 100%;
  position: relative;
}

.messages_main_page .messages_in .user_menu_chat {
  right: 0px;
  float: right;
}

.messages_main_page .messages_in .user_menu_chat ng-md-icon {
  fill: #fff;
}

.messages_main_page .messages_in .header {
  background: #0090ff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

.messages_main_page .messages_in .message_wrapper {
  overflow-y: auto;
  height: 339px;
  bottom: 40px;
  /* talk bubble contents */
}

.messages_main_page .messages_in .message_wrapper .no-comments div.nothing {
  padding: 60px 10px;
  text-align: center;
}

.messages_main_page .messages_in .message_wrapper .no-comments div.nothing div {
  padding-bottom: 5px;
}

.messages_main_page .messages_in .message_wrapper .no-comments div.nothing div svg {
  fill: #B5B5B5;
}

.messages_main_page .messages_in .message_wrapper .recived_msg {
  padding-left: 10px;
  float: left;
  min-width: 174px;
  max-width: 539px;
  word-wrap: break-word;
  /* CSS talk bubble */
}

.messages_main_page .messages_in .message_wrapper .recived_msg .avatar {
  float: left;
}

.messages_main_page .messages_in .message_wrapper .recived_msg .avatar .md-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  float: left;
  top: 50%;
}

.messages_main_page .messages_in .message_wrapper .recived_msg .talk-bubble-left {
  margin: 3px 40px 5px 20px;
  display: inline-block;
  position: relative;
  width: auto;
  min-width: 174px;
  border-radius: 0px 5px 5px 5px;
  float: left;
  height: auto;
  color: #fff;
  background-color: #0862a7;
}

.messages_main_page .messages_in .message_wrapper .recived_msg .tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0862a7 transparent transparent transparent;
}

.messages_main_page .messages_in .message_wrapper .send_msg {
  padding-right: 10px;
  min-width: 174px;
  max-width: 539px;
  word-wrap: break-word;
  float: right;
}

.messages_main_page .messages_in .message_wrapper .send_msg .avatar {
  float: right;
  right: 0px;
}

.messages_main_page .messages_in .message_wrapper .send_msg .avatar .md-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  float: right;
}

.messages_main_page .messages_in .message_wrapper .send_msg .talk-bubble-right {
  margin: 3px 20px 5px 40px;
  display: inline-block;
  position: relative;
  min-width: 174px;
  border-radius: 5px 0px 5px 5px;
  width: auto;
  float: right;
  height: auto;
  color: #fff;
  background-color: #0090ff;
}

.messages_main_page .messages_in .message_wrapper .send_msg .tri-left.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -9px;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #0090ff transparent transparent transparent;
}

.messages_main_page .messages_in .message_wrapper .talktext {
  padding: 6px;
  text-align: left;
  line-height: 1.5em;
  z-index: 32;
  position: relative;
}

.messages_main_page .messages_in .message_wrapper .talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.messages_main_page .message_buttom_space {
  height: 50px;
  width: 100%;
}

.messages_main_page .footer_messages {
  position: absolute;
  bottom: 0;
  width: 70%;
  background: white;
  display: block;
  box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);
}

.messages_main_page .footer_messages md-input-container {
  padding: 5px 20px;
  padding-right: 50px;
}

.messages_main_page .footer_messages .submit-comment {
  position: absolute;
  right: -5px;
  top: -3px;
}

.messages_main_page .footer_messages .submit-emoji {
  position: absolute;
  right: 30px;
  top: -3px;
}

.addmember {
  width: 500px;
}

.addmember .md-dense {
  padding: 8px 16px;
}

.addmember .addmemberHead h2 {
  color: #fff;
}

.addmember md-list-item.md-3-line {
  max-width: 500px !important;
}

.backButton {
  fill: #fff;
}

.emoji-popup {
  height: 300px;
  width: 237px;
  background: #fff;
  border: 1px solid red;
  position: absolute;
  z-index: 9;
  bottom: 40px;
  right: 23px;
}

.emoji-popup .emoji-button {
  margin: 0px;
  line-height: 0px;
  min-height: 0px;
  min-width: 0px;
}
