@import url(https://fonts.googleapis.com/css?family=Roboto);
.heading {
  color: #5E5E5E;
}

.opinion {
  background: #EBEBEB;
  padding: 0px;
}

.opinion_main {
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.opinion_main .icons {
  fill: #fff;
  height: 80px;
  width: 80px;
}

.opinion_main .nextcm {
  background: #c55b5b;
  height: 150px;
  width: 100%;
  color: #fff;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.opinion_main .nextcm span {
  line-height: 150px;
  font-size: 20px;
  cursor: pointer;
}

.opinion_main .nextcm span:focus {
  outline: none;
}

.opinion_main .nextmla {
  background: #8abc5d;
  height: 150px;
  width: 100%;
  color: #fff;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.opinion_main .nextmla span {
  line-height: 150px;
  font-size: 20px;
  cursor: pointer;
}

.opinion_main .issue {
  background: #13af6b;
  height: 150px;
  width: 100%;
  color: #fff;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.opinion_main .issue span {
  line-height: 150px;
  font-size: 20px;
  cursor: pointer;
}

.opinion_main .publicOpinion {
  background: #8c4bcf;
  height: 150px;
  width: 100%;
  color: #fff;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.opinion_main .publicOpinion span {
  line-height: 150px;
  font-size: 20px;
  cursor: pointer;
}

.whiteBG {
  background: #fff;
}

.opinionList {
  position: relative;
  margin: 0px 10px;
}

.opinionList md-list-item {
  background: #0090ff;
  padding: 0px 15px;
  position: relative;
  margin: 6px 0px;
}

.opinionList .md-list-item-text, .opinionList .md-list-item-text h3 {
  color: #fff !important;
  white-space: pre-line;
  width: 80%;
}

.opinionList .md-list-item-text p {
  color: #fff !important;
  opacity: 0.5;
}

.opinionList .md-secondary {
  border: 1px solid #fff;
}

.opinionList .md-secondary ng-md-icon {
  fill: #fff;
}

.Questions h1 {
  color: #0090ff;
  text-align: center;
}

.Questions span {
  color: #B5B5B5;
}

.Questions .options {
  margin-top: 44px;
}

.Questions .options .option {
  min-height: 70px;
  margin: 5px 0px;
  background: #0090ff;
  width: 100%;
  color: #fff;
}

.Questions .options .ResultOptions {
  min-height: 70px;
  margin: 10px 0px;
  background: #0090ff;
  min-width: 554px;
  width: 100%;
  text-align: left;
  color: #fff;
}

.Questions .options .ResultOptions .progress-fill {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  height: 70px;
}

.Questions .options .ResultOptions h3 {
  padding: 12px 14px;
  position: absolute;
  width: 511px;
}

.Questions .options .ResultOptions span {
  position: relative;
  color: #fff;
  float: right;
  right: 17px;
  top: -41px;
  font-size: 14px;
  font-weight: bold;
}

.Questions .options .option.active {
  background: transparent;
  border: 2px solid #0090ff;
  color: #0090ff;
}

.opinionListAnswared {
  position: relative;
  margin: 0px 10px;
}

.opinionListAnswared .answaredPers {
  font-weight: bold;
  color: #0090ff;
  font-size: 30px;
}

.opinionListAnswared md-list-item {
  box-shadow: 0 0 0 2px #0090ff inset;
  padding: 0px 13px;
  position: relative;
  margin: 6px 0px;
}

.opinionListAnswared .md-list-item-text, .opinionListAnswared .md-list-item-text h3 {
  color: #0090ff !important;
  white-space: pre-line;
  width: 80%;
}

.opinionListAnswared .md-list-item-text p {
  color: #0090ff !important;
  opacity: 0.5;
}

.opinionListAnswared .md-secondary {
  border: 1px solid #0090ff;
}

.opinionListAnswared .md-secondary ng-md-icon {
  fill: #0090ff;
}
