@import url(https://fonts.googleapis.com/css?family=Roboto);
.errorLogin {
  border-bottom: 3px solid red;
  background: #fff !important;
}

.partyPageWrap {
  background: #EBEBEB;
  height: auto;
}

.partyPageWrap .coverPic {
  height: 400px;
  background-position: fixed;
  background-align: center;
  background-size: cover;
  width: 100%;
  box-shadow: inset 0px -104px 41px -14px rgba(0, 0, 0, 0.63);
}

.partyPageWrap .coverPic .PageDetail {
  position: absolute;
  top: 330px;
  left: 7%;
}

.partyPageWrap .coverPic .PageDetail h1 {
  color: #fff;
  float: left;
}

.partyPageWrap .coverPic .like_side {
  top: 340px;
  right: 13%;
  color: #fff;
  width: 226px;
  position: absolute;
}

.partyPageWrap .coverPic .like_side .likeBtn {
  border: 1px solid whitesmoke;
  color: white !important;
  background: transparent !important;
  float: right;
}

.partyPageWrap .coverPic .like_side .tooltiptext {
  float: left;
  background-color: #f9f1cb;
  color: black;
  text-align: center;
  padding: 5px 5px;
  right: 110px;
  top: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.partyPageWrap .coverPic .like_side .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #f9f1cb;
}

.partyPageWrap .candidate_list {
  padding-top: 40px;
}

.partyPageWrap .candidate_list .heading {
  color: #0090ff;
  text-align: center;
  font-size: 15px;
}

.partyPageWrap .candidate_list .avatar_wrap {
  width: 150px;
  margin: 0px auto;
}

.partyPageWrap .candidate_list .avatar_wrap .avatar {
  text-align: center;
  padding-top: 10px;
  margin: 0px auto;
  position: relative;
}

.partyPageWrap .candidate_list .avatar_wrap .avatar img {
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.partyPageWrap .candidate_list .avatar_wrap .avatar .avatar_name {
  color: #fff;
  position: absolute;
  top: 140px;
  height: 0px;
  text-align: left;
  border-radius: 0px 0px 0px 10px;
  border-top: 10px solid #0090ff;
  border-bottom: 10px solid #0090ff;
  border-right: 10px solid transparent;
  width: 130px;
}

.partyPageWrap .candidate_list .avatar_wrap .avatar p {
  top: -21px;
  width: 120px;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.partyPageWrap .candidate_members {
  width: 100%;
  padding-top: 10px;
}

.partyPageWrap .candidate_members .memberList {
  margin-left: 95px;
}

.partyPageWrap .candidate_members h1 {
  position: relative;
  text-align: center;
  color: #0090ff;
}

.partyPageWrap .candidate_members h1 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.partyPageWrap .candidate_members h1:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.partyPageWrap .candidate_members h1:before {
  left: 0;
}

.partyPageWrap .candidate_members .avatar {
  float: left;
  margin: 10px;
}

.partyPageWrap .candidate_members .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.partyPageWrap .candidate_members .avatar .checked {
  position: absolute;
  margin-top: -23px;
  margin-left: 44px;
  fill: #23BA23;
}

.partyPageWrap .candidate_members .avatar_name {
  width: 179px;
  padding-left: 10px;
  float: left;
  padding-top: 23px;
}

.partyPageWrap .candidate_members .avatar_name h3 {
  margin: 0px;
  color: #0090ff;
}

.partyPageWrap .candidate_members .avatar_name p {
  margin: 0px;
}

.login_panel {
  position: absolute;
  z-index: 90;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.login_panel .login-btn {
  -ms-flex: 0 0 15%;
  -webkit-box-flex: 0;
          flex: 0 0 15%;
  max-width: 15%;
}

.login_panel .login-btn .my-btn {
  color: #0090ff !important;
  border: 1px solid #0090ff;
  width: 100%;
  margin-top: 10px;
}

.login_panel .login-btn .my-btn:hover {
  background: #0090ff !important;
  color: white !important;
}
