@import url(https://fonts.googleapis.com/css?family=Roboto);
.sideNavSetting {
  min-height: 85vh;
  border-right: 1px solid #B5B5B5;
  width: 100%;
}

.SettingSideMenu {
  background: transparent;
}

.GeneralMain {
  padding: 0px 20px;
}

.GeneralMain .generalItem {
  position: relative;
}

.GeneralMain .ng-inline-edit__button {
  position: absolute;
  right: 0px;
  content: "change";
}

.GeneralMain .panelEdit {
  background: #fff;
  padding: 10px;
  width: 100%;
  position: relative;
}

.GeneralMain .mailSwitch {
  margin: 0px;
}

.GeneralMain .error {
  color: red;
}

.setting_menu_btn {
  line-height: 46px !important;
}
