@import url(https://fonts.googleapis.com/css?family=Roboto);
/*** Tabs ***/
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background-color: #0090ff !important;
  color: #0090ff;
}

md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: grey;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #0090ff !important;
}

md-tabs.my-tabs {
  background: white !important;
  color: #0090ff;
}

md-tabs.my-tabs .md-tab.md-active {
  color: #0090ff;
  border-color: #0090ff;
}

/*** Posts ***/
.posts {
  background: #EBEBEB;
  overflow: hidden;
}

.notFound {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  color: #ccc;
  right: 0px;
  z-index: 1;
}

.notFound svg {
  fill: #ccc;
}

md-card.post {
  margin: 20px 1px;
  border-top: 2px solid;
  position: relative;
  border-radius: 3px;
}

md-card.post .meta-section {
  height: 68px;
  width: 100%;
  position: relative;
}

md-card.post .meta-section .profile-img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 2;
  background: url(http://api.rajneeti.dev/images/profile/default_avatar.png) center;
  background-size: cover;
}

md-card.post .meta-section .profile-name {
  position: absolute;
  top: 13px;
  left: 72px;
  cursor: pointer;
  font-weight: normal;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

md-card.post .meta-section .profile-position {
  position: absolute;
  top: 36px;
  left: 50px;
  font-weight: normal;
  font-weight: 200;
  padding: 1px 7px;
  padding-left: 20px;
  margin: 0;
  z-index: 1;
  color: white;
  font-size: 13px;
  background: #0090ff;
  border-radius: 2px;
}

md-card.post .meta-section .post-options {
  position: absolute;
  top: -2px;
  right: -7px;
}

md-card.post .meta-section .post-options svg {
  fill: grey;
}

md-card.post .meta-section .like-counter {
  position: absolute;
  right: 50px;
  top: 22px;
}

md-card.post .meta-section .like-counter span {
  padding: 4px;
  font-size: 14px;
}

md-card.post .meta-section .like-counter span:nth-child(1) {
  border: 1px solid grey;
  border-radius: 3px 0px 0px 3px;
  color: #5E5E5E;
}

md-card.post .meta-section .like-counter span:nth-child(2) {
  background: grey;
  border: 1px solid grey;
  padding: 4px 5px;
  border-radius: 0px 3px 3px 0px;
  color: white;
}

md-card.post .body-section .post-content {
  padding: 0px 10px 10px 10px;
  text-align: justify;
}

md-card.post .body-section .posts-img-con {
  max-height: 300px;
  overflow: hidden;
}

md-card.post .body-section .posts-img-con .post-img {
  height: 300px !important;
  width: auto !important;
  margin: 0px auto;
  cursor: pointer;
}

md-card.post .footer-section {
  height: 50px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  border: none;
  padding: 0 10px;
  color: whitesmoke;
  font-size: 14px;
}

md-card.post .footer-section .post-action .post-like, md-card.post .footer-section .post-action .post-dislike {
  width: 25px;
  height: 25px;
  line-height: 0;
}

md-card.post .footer-section .post-action .post-like {
  margin-right: 0;
}

md-card.post .footer-section .post-action .post-dislike {
  margin-left: 0;
  margin-right: 15px;
}

md-card.post .footer-section .post-action .post-comments .post-comment-btn {
  margin-left: 0;
  width: 25px;
  height: 25px;
  line-height: 0;
}

md-card.post .footer-section .post-action svg {
  fill: whitesmoke;
}

md-card.post .footer-section .post-action button.md-button[disabled] {
  cursor: default;
  opacity: 0.4;
}

.post-load md-progress-circular {
  margin: 0 auto;
  height: 80px;
  top: -5px;
}

.post-load md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: #0090ff;
  border-left-color: #0090ff;
}

.post-load md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: #0090ff;
  border-right-color: #0090ff;
}

md-card.post.bjp-post {
  border-color: #5dbc00;
}

md-card.post.bjp-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.bjp-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.bjp-post .meta-section .profile-position, md-card.post.bjp-post .footer-section {
  background: #5dbc00;
}

md-card.post.congress-post {
  border-color: #5dbc00;
}

md-card.post.congress-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.congress-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.congress-post .meta-section .profile-position, md-card.post.congress-post .footer-section {
  background: #5dbc00;
}

md-card.post.sad-post {
  border-color: #5dbc00;
}

md-card.post.sad-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.sad-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.sad-post .meta-section .profile-position, md-card.post.sad-post .footer-section {
  background: #5dbc00;
}

md-card.post.bsp-post {
  border-color: #5dbc00;
}

md-card.post.bsp-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.bsp-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.bsp-post .meta-section .profile-position, md-card.post.bsp-post .footer-section {
  background: #5dbc00;
}

md-card.post.aap-post {
  border-color: #5dbc00;
}

md-card.post.aap-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.aap-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.aap-post .meta-section .profile-position, md-card.post.aap-post .footer-section {
  background: #5dbc00;
}

md-card.post.others-post {
  border-color: #5dbc00;
}

md-card.post.others-post .meta-section .like-counter span {
  border-color: #5dbc00;
}

md-card.post.others-post .meta-section .like-counter span:nth-child(2) {
  background: #5dbc00;
}

md-card.post.others-post .meta-section .profile-position, md-card.post.others-post .footer-section {
  background: #5dbc00;
}

.Chat_side_header {
  height: 40px;
  background: #0090ff;
  padding: 10px;
}

.Chat_side_header .searchFriend {
  font-size: 100%;
  width: 96%;
  height: 30px;
  padding: 4px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.chat_wrap {
  margin-top: 0px !important;
}

.onlineStatus {
  right: 10px !important;
}

.onlineTime {
  font-size: 10px !important;
}

.sideNavUser md-list-item.md-2-line, .sideNavUser md-list-item.md-2-line > .md-no-style {
  min-height: 0px;
}

.sideNavUser .offline {
  fill: #EBEBEB;
}

.sideNavUser .online {
  fill: #23BA23;
}

.sideNavUser .userListed {
  cursor: pointer;
  border-bottom: 1px solid #EBEBEB;
}

.left-sidebar {
  margin-right: 20px;
}

.left-sidebar md-card {
  margin: 0px;
}

.left-sidebar md-card md-card-content {
  padding: 10px 0px;
}

.left-sidebar .create {
  fill: #5E5E5E;
  padding: 3px 10px;
  cursor: pointer;
  float: right;
}

.left-sidebar md-list {
  padding: 0px !important;
}

.left-sidebar .md-no-sticky {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  margin-right: 0px !important;
}

.left-sidebar .md-no-sticky .md-subheader-inner {
  padding: 11px 0px;
}

.left-sidebar md-list-item {
  min-height: 39px !important;
}

.left-sidebar md-list-item p {
  text-overflow: ellipsis;
  display: block;
  width: 56px;
  white-space: nowrap;
  overflow: hidden;
}

.left-sidebar md-list-item .md-sec-btn {
  font-size: 12px !important;
  color: #B5B5B5;
}

.left-sidebar .md-avatar {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30px !important;
  width: 30px !important;
}

.left-sidebar .group_main {
  max-height: 160px;
  position: relative;
  margin: 10px 0px;
  overflow: hidden;
}

.left-sidebar .group_main:hover {
  overflow-y: auto;
}

.right-sidebar .userOnline-button {
  padding: 0px;
}

.right-sidebar .userOnline-button .button-green {
  background: #23BA23 !important;
  margin: 0px;
  color: #fff;
  fill: #fff;
}

.right-sidebar .userOnline-button .button-green .online_Count {
  right: 10px;
}

.right-sidebar .userOnline-button .bottom-sheet-demo {
  padding: 0px;
}

.right-sidebar .userOnline-button md-card-content {
  padding: 0px;
}

.right-sidebar md-card {
  margin-left: 20px;
}

.post-images {
  position: relative;
}

.post-images .image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

.post-images .image-1-con, .post-images .image-2-con, .post-images .image-3-con, .post-images .image-4-con, .post-images .image-5-con {
  display: inline-block;
  height: 300px;
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.post-images .image-1-con {
  width: 66.7%;
  padding-right: 5px;
}

.post-images .image-2-con, .post-images .image-3-con {
  position: absolute;
  right: 0;
  width: 33.3%;
  height: 150px;
}

.post-images .image-2-con {
  padding-bottom: 5px;
  padding-left: 5px;
}

.post-images .image-3-con {
  top: 150px;
  padding-left: 5px;
  padding-top: 5px;
}

.post-images .two .image-1-con {
  width: 50%;
}

.post-images .two .image-2-con {
  position: absolute;
  right: 0;
  width: 50%;
  height: 300px;
  padding-bottom: 0;
}

.post-images .image-3-con:after {
  content: 'More';
  font-size: 20px;
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  top: 0;
  text-align: center;
  line-height: 10;
  margin-top: 5px;
  cursor: pointer;
}

.post-images .image-3-con:hover:after {
  background: rgba(0, 0, 0, 0.8);
}

.post-images .image-4-con, .post-images .image-5-con {
  width: 33.3%;
  top: 200px;
  height: 200px;
  padding-right: 5px;
}

.post-images .image-4-con {
  left: 0;
  width: 33.4%;
}

.post-images .image-5-con {
  left: 33.4%;
  padding-left: 5px;
}

.post-images .five .image-1-con {
  height: 170px;
  padding-bottom: 5px;
}

.post-images .image-con:nth-child(n+7) {
  display: none !important;
}

/*** Comments ***/
.comments {
  overflow: hidden;
}

.comments .comment-in {
  position: relative;
}

.comments .comment-in .comment-options {
  position: absolute;
  top: -10px;
  right: 0px;
  margin: 0;
}

.comments .comment-in .comment-options .md-button.md-icon-button {
  height: 30px;
  width: 30px;
  line-height: 0;
}

.comments .comment-in .comment-options svg {
  fill: grey;
}

.comments .add-comment {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: block;
  box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.2);
}

.comments .add-comment md-input-container {
  padding: 5px 20px;
  padding-right: 50px;
}

.comments .add-comment .submit-comment {
  position: absolute;
  right: -5px;
  top: -3px;
}

.comments md-list-item.md-3-line {
  min-height: auto;
  padding: 15px 0;
  width: 100%;
  max-width: 100%;
  min-width: 800px;
}

.comments md-list-item.md-3-line:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

.comments h3.user-name {
  position: relative;
}

.comments h3.user-name span.comment-time {
  position: absolute;
  right: 40px;
  top: 0;
  display: inline-block;
  font-size: 12px;
  color: grey;
}

.comments p.comment {
  font-size: 15px;
  padding-top: 5px;
}

.comments .loading-comments, .comments .no-comments {
  width: 800px;
  max-width: 100%;
  height: 100%;
  display: block;
}

.comments .loading-comments md-progress-circular {
  margin: 100px auto;
}

.comments .no-comments div.nothing {
  padding: 60px 10px;
  text-align: center;
}

.comments .no-comments div.nothing div {
  padding-bottom: 5px;
}

.comments .no-comments div.nothing div svg {
  fill: #B5B5B5;
}

.comments md-dialog-content {
  margin-bottom: 40px;
  min-height: 300px;
}

.comments .md-dialog-content {
  max-width: 800px;
  padding: 5px 20px !important;
}

.comments .md-toolbar-tools {
  color: whitesmoke;
}

.comments .md-toolbar-tools svg {
  fill: whitesmoke;
}
