@import url(https://fonts.googleapis.com/css?family=Roboto);
.videogular-container {
  width: 100%;
  margin: auto;
}

.videogular-container.audio {
  height: 50px;
}

videogular.audio {
  background: rgba(0, 0, 0, 0.6);
}
