$primaryColor: #0090ff; // blue color

$lightGrey: #EBEBEB;

$bjpColor: #5dbc00;

$congressColor: #5dbc00;

$sadColor: #5dbc00;

$bspColor: #5dbc00;

$aapColor: #5dbc00;

$othersColor: #5dbc00;

$darkGrey: #5E5E5E;

$grey: #B5B5B5;

$lightGreen:#23BA23;

$white:#fff;

$transprent_white : rgba(255,255,255,0.7);

$nextcmOpinion:#c55b5b;

$nextmlaOpinion:#8abc5d;

$publicIssue:#13af6b;

$publicOpnion:#8c4bcf;

$received_msg:#0862a7;

$imagePath: "http://api.rajneeti.dev/images";

$yellowLight : #f9f1cb;