<script type="text/javascript">
	if(typeof angular === 'undefined'){
		document.location.href="/";
	}
</script>
<div class="opinion_wrapper whiteBG">
	<div class="layout-max-width padding-for-topbar" layout="row">
		<h5 class="heading">{{ 'answared' | translate }}</h5>
	</div>
	<div layout="row" class="layout-max-width Questions" layout-align="center center">
		<!-- UNANSWERED SIDE -->
		<div>
			<h1 ng-bind="question.question"></h1>
			<span>{{question.totalVotes}} RESPONSES SO FAR</span>
			<div class="options">
				<div ng-disabled="" ng-repeat="result in results" class="ResultOptions" aria-label="{{result.option}}">
					<div class="progress-fill" style="width:{{result.percent}}%">
						<h3>{{result.option}}
						</h3> 
					</div>
					<span>{{result.per}} %</span>
				</div>

			</div>
		</div>
	</div>
</div>