<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>
<md-content class="posts">
	<h4 class="heading">{{ 'issue' | translate }}</h4>
	<div class="opinion_main">
		<form name="issue" ng-submit="issueSubmit()">
		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container>
        			<label>Name</label>
        			<input ng-model="user.name" name="name" type="text">
      			</md-input-container>
		  	</div>
		  	<div flex>
		        <md-input-container>
        			<label>Mobile</label>
        			<input ng-model="user.mobile" name="mobile" type="tel" maxlength="10">
      			</md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Assembly</label>
			        <md-select ng-model="user.assembly" name="assembly" ng-change="assemblyChange(user.assembly)">
			          <md-option ng-repeat="assembly in assemblies" value="{{assembly.id}}">
			            {{assembly.assembly}}
			          </md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Village</label>
			        <md-select ng-model="user.village" name="village">
			          	<md-option ng-repeat="war in villages" value="{{war.id}}">
            				{{war.village}}
          				</md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Party</label>
			        <md-select ng-model="user.party" name="party">
			          <md-option ng-repeat="party in parties" value="{{party.id}}">
			            {{party.party}}
			          </md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		        <md-input-container layout-padding>
			        <label>Issue</label>
			        <textarea rows="3" ng-model="user.issue" name="issue" maxlength="500"></textarea>
			    </md-input-container>
			    <p align="right">{{500- user.issue.length}} remaining</p>
		  	</div>
		</div>

		<md-button type="submit" ng-disabled="issue.$invalid || !issue.$dirty" class="my-btn orange-btn opinionBtn">{{ 'STATUS_BTN_TXT' | translate }}</md-button>
		</form>
	</div>
</md-content>
