<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>
<md-content class="posts">
	<h4 class="heading">{{ 'nextcm' | translate }}</h4>
	<div class="opinion_main">
	<form ng-submit="submit($event)" name="nextcm">
		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container>
        			<label>Name</label>
        			<input ng-model="nextcm.name" ng-pattern="/^[A-Za-z][A-Za-z0-9- ]+/" type="text" required>
      			</md-input-container>
		  	</div>
		  	<div flex>
		        <md-input-container>
        			<label>Mobile</label>
        			<input ng-model="nextcm.mobile" type="tel" ng-pattern="/^[789]\d{9}$/" minlength="10" maxlength="10">
      			</md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Assembly</label>
			        <md-select required ng-model="nextcm.assembly" ng-change="assemblyChange(nextcm.assembly)">
			          <md-option ng-repeat="assembly in assemblies" value="{{assembly.id}}">
			            {{assembly.assembly}}
			          </md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Village</label>
			        <md-select ng-model="nextcm.village" required>
			          	<md-option ng-repeat="war in wards" value="{{war.id}}">
            				{{war.village}}
          				</md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Party</label>
			        <md-select ng-model="nextcm.party" ng-change="cmGet()" required>
			          <md-option ng-repeat="party in parties" value="{{party.id}}">
			            {{party.party}}
			          </md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		        <md-input-container layout-padding>
			        <label>Select NextCM</label>
			        <md-select ng-model="nextcm.cm" required>
			          <md-option ng-repeat="cm in cms" value="{{cm.id}}">
			            {{cm.cmname}}
			          </md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		</div>

		<md-button ng-disabled="nextcm.$invalid || !nextcm.$dirty" type="submit" class="my-btn orange-btn opinionBtn">{{ 'STATUS_BTN_TXT' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
	</form>
	  
	</div>
</md-content>
