<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>
<md-content class="posts">
	<h4 class="heading">{{ 'nextmla' | translate }}</h4>
	<div class="opinion_main">
	<form ng-submit="submit($event)" name="MlaOpinion">
		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container>
        			<label>Name</label>
        			<input ng-model="opinion.name" name="name" ng-pattern="/^[A-Za-z][A-Za-z0-9- ]+/" type="text" required>
      			</md-input-container>
		  	</div>
		  	<div flex>
		        <md-input-container>
        			<label>Mobile</label>
        			<input ng-model="opinion.mobile" name="mobile" type="tel" ng-pattern="/^[789]\d{9}$/" minlength="10" maxlength="10">
      			</md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Assembly</label>
			        <md-select ng-model="opinion.assembly" name="assembly" ng-change="assemblyChange(opinion.assembly)">
			          <md-option ng-repeat="assembly in assemblies" value="{{assembly.id}}">
			            {{assembly.assembly}}
			          </md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Village</label>
			        <md-select ng-model="opinion.village" name="village">
			          	<md-option ng-repeat="war in wards" value="{{war.id}}">
            				{{war.village}}
          				</md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow">
		  	<div flex>
		    	<md-input-container layout-padding>
			        <label>Party</label>
			        <md-select ng-model="opinion.party" name="party" ng-change="MLAGet()">
			          <md-option ng-repeat="party in parties" value="{{party.id}}">
			            {{party.party}}
			          </md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		</div>

		<div layout="row" layout-xs="column" class="textRow" ng-show="opinion.mla_input == null && (mlas.length != 0) && !opinion.mla_input.length">
		  	<div flex>
		        <md-input-container layout-padding>
			        <label>Select NextMLA</label>
			        <md-select ng-model="opinion.mla" name="mla" ng-required="!opinion.mla_input">
			        	<md-option value="">Choose MLA</md-option>
			          <md-option ng-repeat = "mla in mlas" value="{{mla.id}}">
			            	{{mla.MLA_name}}
			          </md-option>
			        </md-select>
			    </md-input-container>
		  	</div>
		</div>
	
		<div layout="row" layout-align="center center"  ng-show="opinion.mla.length!=2 && !opinion.mla_input.length && mlas.length != 0 && !opinion.mla.length">
  			<div><small>OR</small></div>
		</div>
		<div layout="row" layout-xs="column" class="textRow" ng-hide="opinion.mla.length">
		  	<div flex>
		        <md-input-container layout-padding>
			        <label>Input MLA Name</label>
			       <input ng-required='!opinion.mla' ng-model="opinion.mla_input" name="mla_input" ng-pattern="/^[A-Za-z][A-Za-z0-9- ]+/" type="text">
			    </md-input-container>
		  	</div>
		</div>
			<md-button ng-disabled="MlaOpinion.$invalid || !MlaOpinion.$dirty" type="submit" class="opinionBtn my-btn orange-btn">{{ 'STATUS_BTN_TXT' | translate }}<md-progress-circular ng-if="loginLoading" md-mode="indeterminate" md-diameter="20"></md-progress-circular></md-button>
		</form>
	</div>
</md-content>
