<div class="opinion_wrapper">
<div class="layout-max-width padding-for-topbar" layout="row">
    <div flex="65">
		  	<div ui-view class="opinion">  </div>
    </div>
	<div flex="35" class="right-sidebar">
    <div ui-view="rightSidebar"></div>
	</div>

</div>

</div>