<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/";
  }
</script>
<md-content class="posts">
	<h4 class="heading">Public Opinion Poll</h4>
	<div class="opinion_main">
		<div layout="row" layout-xs="column">
	  		<div class="nextcm" flex>
	  			<span ui-sref="user.opinion.nextcm" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')" ui-sref-active="active">
	  				<md-icon class="icons" md-svg-src="images/svg/manager.svg"></md-icon>
	  				{{ 'nextcm' | translate }}
	  			</span>
	  		</div>
		</div>
		<div layout="row" layout-xs="column">
	  		<div class="nextmla" flex>
	  			<span ui-sref="user.opinion.nextmla" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')" ui-sref-active="active">
	  				<md-icon class="icons" md-svg-src="images/svg/users-group.svg"></md-icon>
	  				{{ 'nextmla' | translate }}
	  			</span>
	  		</div>
		</div>
		<div layout="row" layout-xs="column">
	  		<div class="issue" flex>
	  			<span ui-sref="user.opinion.issue" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')" ui-sref-active="active">
	  				<md-icon class="icons" md-svg-src="images/svg/protest.svg"></md-icon>
	  				{{ 'issue' | translate }}
	  			</span>
	  		</div>
		</div>
		<div layout="row" layout-xs="column">
	  		<div class="publicOpinion" flex>
	  			<span ui-sref="user.publicOpinion" data-ui-sref-opts="{reload: true}" ng-click="toggleSidenav('left-nav')" ui-sref-active="active">
	  				<md-icon class="icons" md-svg-src="images/svg/businessman-with-doubts.svg"></md-icon>
	  				{{ 'opinion' | translate }}
	  			</span>
	  		</div>
		</div>
	</div>
</md-content>
