<script type="text/javascript">
	if(typeof angular === 'undefined'){
		document.location.href="/";
	}
</script>
<div class="opinion_wrapper whiteBG">
	<div class="layout-max-width padding-for-topbar" layout="row">
		<h5 class="heading">Public Opinion</h5>
	</div>
	<div layout="row" class="layout-max-width">
		<!-- UNANSWERED SIDE -->
		<div flex>
			<h4 class="heading">{{ 'unanswared' | translate }}</h4>
			<md-list class="opinionList">
			<md-list-item class="md-3-line" ng-repeat="question in questions">
					<div class="md-list-item-text">
						<h3>{{question.question}}</h3>
						<p>{{question.totalOpinion}} RESPONSES SO FAR</p>
					</div>
					<md-button aria-label="Menu" ui-sref="user.question({id:question.id})" class="md-icon-button md-secondary"><ng-md-icon icon="navigate_next"></ng-md-icon></md-button>
				</md-list-item>

			</md-list>
		</div>
		<!-- ANSWERED SIDE -->
		<div flex>
			<h4 class="heading">{{ 'answared' | translate }}</h4>
			<md-list class="opinionListAnswared">
				<md-list-item class="md-3-line answared" ng-repeat="question in questions">
					<div class="md-list-item-text">
						<h3 ng-bind="question.question"></h3>
						<p>{{question.totalOpinion}} RESPONSES SO FAR</p>
					</div>
					<md-button ui-sref="user.answared({id:question.id})" aria-label="Menu" class="md-icon-button md-secondary"><ng-md-icon icon="navigate_next"></ng-md-icon></md-button>
				</md-list-item>
			</md-list>
		</div>
	</div>
</div>