<script type="text/javascript">
	if(typeof angular === 'undefined'){
		document.location.href="/";
	}
</script>
<div class="opinion_wrapper whiteBG">
	<div class="layout-max-width padding-for-topbar" layout="row">
		<h5 class="heading">{{ 'unanswared' | translate }}</h5>
	</div>
	<div layout="row" class="layout-max-width Questions" layout-align="center center">
		<!-- UNANSWERED SIDE -->
		<div>
			<h1>{{question.question}}</h1>
			<span>{{question.totalOpinion}} RESPONSES SO FAR</span>
			<div class="options">
				<md-button ng-click="submitOpinion(option.id, question.id)" ng-disabled="question.i_opinion >= '1'" class="option" ng-repeat="option in question.get_options" layout="row" layout-align="center center">
					<h3>{{option.option}}</h3>
				</md-button>
			</div>
		</div>
	</div>
</div>